.wrapper .aside-container .aside-inner {
    padding-top:0px;
}

.aside-container {
    z-index: 9999 !important;
}

.section-container {
    margin-left:0px !important;
}

.content-wrapper {
    padding: 20px 20px 20px 70px !important;
    background-color: white;
}

.font-black {
    color: #000000;
}

.font-blue {
    color: #5306e0;
}

.navbar {
    padding:0em 1em !important;
}

.sidebar-hidden {
    .wrapper {
        background-color: #ffffff !important;
    }
    app-sidebar {
        display: none;
    }
    .content-wrapper {
        padding: 0px!important;
    }
    .footer-container {
        margin-left: 0px !important;
    }
}

.topbar-hidden {
    .wrapper {
        background-color: #ffffff !important;
    }
    app-header {
        display: none;
    }
    .section-container {
        background-color: #ffffff !important;
        margin: 0px !important;
        .content-wrapper {
            border-top:unset !important;
        }
    }
}
