<div class="w-100 height50 pb-3 border-bottom-1 border-color">
  <div class="cardTitle d-flex justify-content-between align-items-start">
    <div class="font-medium font16">{{all_ratings_data.type}} Version</div>
  </div>
  <div class="d-flex py-3 w-100">
    <div class="d-flex flex-column justify-content-center align-items-center width110px">
      <span class="font24">{{all_ratings_data.average}}</span>
      <span>
        <i class="icon icon-star-sm" [class.filled]="all_ratings_data.average > 0"></i>
        <i class="icon icon-star-sm" [class.filled]="all_ratings_data.average > 1"></i>
        <i class="icon icon-star-sm" [class.filled]="all_ratings_data.average > 2"></i>
        <i class="icon icon-star-sm" [class.filled]="all_ratings_data.average > 3"></i>
        <i class="icon icon-star-sm" [class.filled]="all_ratings_data.average > 4"></i>
      </span>
      <span class="font12 darker-grey-text" *ngIf="all_ratings_data.total_rating">{{all_ratings_data.total_rating}} ratings</span>
    </div>
    <div class="d-flex flex-column w-100"  *ngIf="all_ratings_data.ratings">
      <div class="d-flex justify-content-between mb-2">
        <span class="font10 darker-grey-text width35px"><i class="icon icon-star-sm-tiny"></i> 5</span>
        <span class="grey-bg w-100"><span class="green-bg d-block height100" [style.width]="(all_ratings_data.ratings[4].percentage ? all_ratings_data.ratings[4].percentage : 0)+'%'"></span></span>
        <span class="font10 darker-grey-text ml-2 width40px">{{all_ratings_data.ratings[4].count}}</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span class="font10 darker-grey-text width35px"><i class="icon icon-star-sm-tiny"></i> 4</span>
        <span class="grey-bg w-100"><span class="green-bg d-block height100" [style.width]="(all_ratings_data.ratings[3].percentage ? all_ratings_data.ratings[3].percentage : 0)+'%'"></span></span>
        <span class="font10 darker-grey-text ml-2 width40px">{{all_ratings_data.ratings[3].count}}</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span class="font10 darker-grey-text width35px"><i class="icon icon-star-sm-tiny"></i> 3</span>
        <span class="grey-bg w-100"><span class="yellow-bg d-block height100" [style.width]="(all_ratings_data.ratings[2].percentage ? all_ratings_data.ratings[2].percentage : 0)+'%'"></span></span>
        <span class="font10 darker-grey-text ml-2 width40px">{{all_ratings_data.ratings[2].count}}</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span class="font10 darker-grey-text width35px"><i class="icon icon-star-sm-tiny"></i> 2</span>
        <span class="grey-bg w-100"><span class="red-bg d-block height100" [style.width]="(all_ratings_data.ratings[1].percentage ? all_ratings_data.ratings[1].percentage : 0)+'%'"></span></span>
        <span class="font10 darker-grey-text ml-2 width40px">{{all_ratings_data.ratings[1].count}}</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span class="font10 darker-grey-text width35px"><i class="icon icon-star-sm-tiny"></i> 1</span>
        <span class="grey-bg w-100"><span class="red-bg d-block height100" [style.width]="(all_ratings_data.ratings[0].percentage ? all_ratings_data.ratings[0].percentage : 0)+'%'"></span></span>
        <span class="font10 darker-grey-text ml-2 width40px">{{all_ratings_data.ratings[0].count}}</span>
      </div>
    </div>
  </div>
</div>