<div class="cardContent w-100 position-relative">
  <div class="IndexContent active duration px-2 w-100 justify-content-between">
    <div class="ContentContainer white-bg w-100 p-2 pr-4 pl-5 position-relative">
    <a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
    <div class="d-flex justify-content-between">
      <p class="font16 font-medium mt-2">Indices Trend</p>
    </div>
    <div class="d-flex justify-content-around height100 pb-5">
      <div class="width25 pr-4 border-right-1 border-color height100 d-flex flex-column justify-content-around">
        <p class="font14 blue-text font-medium mt-3">
          <span class="show-right-arrow">
            Duration Index (Session Length)
            <a routerLink="/analytics/engagement/duration-index">
              <i class="icon icon-back backButton FrontModalClose"></i>
            </a>
          </span>
        </p>
        <app-indices-line-chart modelType="duration" [data]="indicesDurationData" *ngIf="indicesDurationData"></app-indices-line-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!indicesDurationData">Please wait loading data</p>
        <p class="font14 blue-text font-medium" *ngIf="indicesDurationData && indicesDurationData.sessionDurations.length < 1">No data present</p>
      </div>
      <div class="width25 px-4 border-right-1 border-color height100 d-flex flex-column justify-content-around">
        <p class="font14 blue-text font-medium mt-3">
          <span class="show-right-arrow">Loyalty Index (Churn %)
            <a routerLink="/analytics/engagement/loyalty-index">
              <i class="icon icon-back backButton FrontModalClose"></i>
            </a>
          </span>
        </p>
        <app-indices-line-chart modelType="loyalty" *ngIf="indicesLoyaltyData" [data]="indicesLoyaltyData"></app-indices-line-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!indicesLoyaltyData">Please wait loading data</p>
        <p class="font14 blue-text font-medium" *ngIf="indicesLoyaltyData && indicesLoyaltyData.loyaltyIndexTrends.length < 1">No data present</p>
      </div>
      <div class="width25 px-4 border-right-1 border-color height100 d-flex flex-column justify-content-around">
        <p class="font14 blue-text font-medium mt-3">
          <span class="show-right-arrow">
            Retention Index (4 Week Retention)
            <a routerLink="/analytics/engagement/retention-index">
              <i class="icon icon-back backButton FrontModalClose"></i>
            </a>
          </span>
        </p>
        <app-indices-line-chart modelType="retention" *ngIf="indicesRetentionData" [data]="indicesRetentionData"></app-indices-line-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!indicesRetentionData">Please wait loading data</p>
        <p class="font14 blue-text font-medium" *ngIf="indicesRetentionData && indicesRetentionData.retentionIndexTrends.length < 1">No data present</p>
      </div>
      <div class="width25 pl-4 height100 d-flex flex-column justify-content-around">
        <p class="font14 blue-text font-medium mt-3">
          <span class="show-right-arrow">
            Feedback Index (Store Rating)
            <a routerLink="/analytics/engagement/feedback-index">
              <i class="icon icon-back backButton FrontModalClose"></i>
            </a>
          </span>
        </p>
        <app-indices-line-chart modelType="feedback" *ngIf="indicesFeedbackData" [data]="indicesFeedbackData"></app-indices-line-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!indicesFeedbackData">Please wait loading data</p>
        <p class="font14 blue-text font-medium" *ngIf="indicesFeedbackData && indicesFeedbackData.averageRatings.length < 1">No data present</p>
      </div>
    </div>
  </div>
</div>
