<div class="profileaddresschangestep0 pacs" style="width:185%">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">Audience</div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs disabled"
                ><i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep2"
                (click)="changeNextStep()"
                >Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <div class="AudienceWidget">
                <div
                  class="d-flex align-items-center justify-content-between border-1 border-color p-3 border-radius-4 mb-2 position-relative AdditionContent position-relative"
                >
                  <i
                    class="DeleteSection position-absolute icon icon-delete"
                  ></i>
                  <div class="w-100 d-flex flex-column align-items-start">
                    <div class="width190px form-group selectbox">
                      <label class="form-label font-bold">Select App</label>
                      <select
                        class="form-control productSelect"
                        [(ngModel)]="referralData.appId"
                        data-placeholder="Select Product"
                        name="appId"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="attributedata()"
                      >
                        <option
                          *ngFor="let appId of productAppList"
                          value="{{ appId.appId }}"
                          >{{ appId.name }}</option
                        >
                      </select>
                    </div>
                    <!-- <div class="form-group w-100 mb-2">
                      <label class="font-bold black-text"
                        >Target Audience</label
                      >
                      <div class="d-flex">
                        <div class="form-radio mr-5">
                          <input
                            type="radio"
                            class="form-radio-input radio audienceRadio"
                            value="1"
                            name="audience"
                            id="audience1"
                            checked
                          />
                          <label class="form-radio-label m-0" for="audience1"
                            >All Users</label
                          >
                        </div>
                        <div class="form-radio mr-5">
                          <input
                            type="radio"
                            class="form-radio-input radio audienceRadio"
                            value="2"
                            name="audience"
                            id="audience2"
                          />
                          <label class="form-radio-label m-0" for="audience2"
                            >User Group</label
                          >
                        </div>
                        <div class="form-radio mr-5">
                          <input
                            type="radio"
                            class="form-radio-input radio audienceRadio"
                            value="3"
                            name="audience"
                            id="audience3"
                          />
                          <label class="form-radio-label m-0" for="audience3"
                            >User Segment</label
                          >
                        </div>
                        <div class="form-radio">
                          <input
                            type="radio"
                            class="form-radio-input radio audienceRadio"
                            value="4"
                            name="audience"
                            id="audience4"
                          />
                          <label class="form-radio-label m-0" for="audience4"
                            >Geo-Fencing</label
                          >
                        </div>
                      </div>
                    </div> -->
                    <div
                      class="TargetAudience w-100 grey-bg py-2 pl-2 mt-3 pr-0"
                      id="audience2"
                      style="display: none"
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <div class="AddFollow">
                          <a
                            href="javascript:void(0)"
                            class="d-flex secbut createGeoFencing add-more-widget mb-0"
                            data-toggle="modal"
                            data-target="#UserGroup"
                          >
                            <span
                              class="list-inline-item add-more-new rounded-circle blue-bg position-relative mr-1"
                            >
                              <span class="icon icon-addSmallWhite"></span>
                            </span>
                            <span class="list-inline-item blue-text font-bold"
                              >Create New</span
                            >
                          </a>
                        </div>
                        <div class="header-search form-inline my-2 my-lg-0">
                          <input
                            class="form-control grey-bg width120px font10 height20px pr-3"
                            type="search"
                            placeholder="Search"
                            aria-label="Find"
                          />
                          <button class="SearchBtn" type="submit">
                            <i class="iconSearchBtnSm"></i>
                          </button>
                        </div>
                      </div>
                      <div class="w-100 pr-2 mt-2">
                        <div
                          class="d-flex white-bg font10 justify-content-between px-2 py-1 darker-grey-text"
                        >
                          <span>User Group List</span> <span>User Count</span>
                        </div>
                        <div
                          class="d-flex flex-column font12 grey-text px-2 mt-2"
                        >
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="UserGroupCheck"
                                id="UserGroupCheck1"
                              />
                              <label
                                class="form-check-label m-0"
                                for="UserGroupCheck1"
                              >
                                <span class="mt-1"
                                  >Europe (54.5260&deg;N, 15.2551&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >13,000</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="UserGroupCheck"
                                id="UserGroupCheck2"
                              />
                              <label
                                class="form-check-label m-0"
                                for="UserGroupCheck2"
                              >
                                <span class="mt-1"
                                  >Southern Asia (25.0376&deg;N,
                                  76.4563&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,187</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="UserGroupCheck"
                                id="UserGroupCheck3"
                              />
                              <label
                                class="form-check-label m-0"
                                for="UserGroupCheck3"
                              >
                                <span class="mt-1"
                                  >North Russia (66.7631&deg;N,
                                  124.1238&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,893</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="TargetAudience w-100 grey-bg py-2 pl-2 mt-3 pr-0 audience3"
                      style="display: none"
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <div class="AddFollow">
                          <a
                            href="javascript:void(0)"
                            class="d-flex secbut createGeoFencing add-more-widget mb-0"
                            data-toggle="modal"
                            data-target="#Segmentation"
                          >
                            <span
                              class="list-inline-item add-more-new rounded-circle blue-bg position-relative mr-1"
                            >
                              <span class="icon icon-addSmallWhite"></span>
                            </span>
                            <span class="list-inline-item blue-text font-bold"
                              >Create New</span
                            >
                          </a>
                        </div>
                        <div class="header-search form-inline my-2 my-lg-0">
                          <input
                            class="form-control grey-bg width120px font10 height20px pr-3"
                            type="search"
                            placeholder="Search"
                            aria-label="Find"
                          />
                          <button class="SearchBtn" type="submit">
                            <i class="iconSearchBtnSm"></i>
                          </button>
                        </div>
                      </div>
                      <div class="w-100 pr-2 mt-2">
                        <div
                          class="d-flex white-bg font10 justify-content-between px-2 py-1 darker-grey-text"
                        >
                          <span>Segment List</span> <span>User Count</span>
                        </div>
                        <div
                          class="d-flex flex-column font12 grey-text px-2 mt-2"
                        >
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="SegmentCheck"
                                id="SegmentCheck1"
                              />
                              <label
                                class="form-check-label m-0"
                                for="SegmentCheck1"
                              >
                                <span class="mt-1"
                                  >Europe (54.5260&deg;N, 15.2551&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >13,000</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="SegmentCheck"
                                id="SegmentCheck2"
                              />
                              <label
                                class="form-check-label m-0"
                                for="SegmentCheck2"
                              >
                                <span class="mt-1"
                                  >Southern Asia (25.0376&deg;N,
                                  76.4563&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,187</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="SegmentCheck"
                                id="SegmentCheck3"
                              />
                              <label
                                class="form-check-label m-0"
                                for="SegmentCheck3"
                              >
                                <span class="mt-1"
                                  >North Russia (66.7631&deg;N,
                                  124.1238&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,893</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="TargetAudience w-100 grey-bg py-2 pl-2 mt-3 pr-0 audience4"
                      style="display: none"
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <div class="AddFollow">
                          <a
                            href="javascript:void(0)"
                            class="d-flex secbut createGeoFencing add-more-widget mb-0"
                            data-toggle="modal"
                            data-target="#GeoFencing"
                          >
                            <span
                              class="list-inline-item add-more-new rounded-circle blue-bg position-relative mr-1"
                            >
                              <span class="icon icon-addSmallWhite"></span>
                            </span>
                            <span class="list-inline-item blue-text font-bold"
                              >Create New</span
                            >
                          </a>
                        </div>
                        <div class="header-search form-inline my-2 my-lg-0">
                          <input
                            class="form-control grey-bg width120px font10 height20px pr-3"
                            type="search"
                            placeholder="Search"
                            aria-label="Find"
                          />
                          <button class="SearchBtn" type="submit">
                            <i class="iconSearchBtnSm"></i>
                          </button>
                        </div>
                      </div>
                      <div class="w-100 pr-2 mt-2">
                        <div
                          class="d-flex white-bg font10 justify-content-between px-2 py-1 darker-grey-text"
                        >
                          <span>Geo Fencing List</span> <span>User Count</span>
                        </div>
                        <div
                          class="d-flex flex-column font12 grey-text px-2 mt-2"
                        >
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="GeoFencingCheck"
                                id="GeoFencingCheck1"
                              />
                              <label
                                class="form-check-label m-0"
                                for="GeoFencingCheck1"
                              >
                                <span class="mt-1"
                                  >Europe (54.5260&deg;N, 15.2551&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >13,000</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="GeoFencingCheck"
                                id="GeoFencingCheck2"
                              />
                              <label
                                class="form-check-label m-0"
                                for="GeoFencingCheck2"
                              >
                                <span class="mt-1"
                                  >Southern Asia (25.0376&deg;N,
                                  76.4563&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,187</span
                            >
                          </div>
                          <div class="d-flex justify-content-between mb-1">
                            <div
                              class="d-flex align-items-center form-check mr-1 width70"
                            >
                              <input
                                type="checkbox"
                                class="form-check-input checkbox"
                                name="GeoFencingCheck"
                                id="GeoFencingCheck3"
                              />
                              <label
                                class="form-check-label m-0"
                                for="GeoFencingCheck3"
                              >
                                <span class="mt-1"
                                  >North Russia (66.7631&deg;N,
                                  124.1238&deg;E)</span
                                >
                              </label>
                            </div>
                            <span class="font-bold black-text width40px"
                              >24,893</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="w-50 AddFollow">
                <a
                  href="javascript:void(0)"
                  class="d-flex secbut addNewAudience add-more-widget mb-0"
                >
                  <span
                    class="list-inline-item add-more-new rounded-circle blue-bg position-relative mr-1"
                  >
                    <span class="icon icon-addSmallWhite"></span>
                  </span>
                  <span class="list-inline-item blue-text font-bold"
                    >Add New</span
                  >
                </a>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview">
      <div class="PanelRightContent height100">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div class="mobile-content">
                <div class="mobile-body notification"></div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    [(ngModel)]="referralData.programId"
                    value="programId"
                    name="programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
