<div class="user-container ">
  <!-- Main Content Comes Here-->
  <div class="user-content data-content">
    <header>
      <nav class="navbar navbar-expand-lg pb-3">
        <div class="black-text font16 font-medium">
          <ng-container *ngIf="isExcluded && userLists && userLists.length > 0">
            User Count({{ userLists.length }})
          </ng-container>
          <ng-container *ngIf="!isExcluded">
            User Count({{ totalUserCount }})
          </ng-container>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex align-items-center justify-content-end" id="navbarSupportedContent">
          <button
            class="btn btn-secondary light save-userGroup mr-3"
            (click)="setCancelFunc($event)"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary save-userGroup mr-3"
            (click)="setDoneFunc($event)"
          >
            Done
          </button>

          <form class="header-search form-inline my-2 my-lg-0">
            <input
              class="form-control"
              type="search"
              placeholder="Search User"
              aria-label="Search User"
              [(ngModel)]="searchText"
              name="searchText"
            />
            <button class="SearchBtn" type="submit" (click)="searchInUsercount(searchText)">
              <i class="iconSearchBtn"></i>
            </button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Table Data -->
    <div class="content-wrap data-table-container">
      <table class="table table-borderless table-hover" id="data-table-content">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Mobile No.</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Platform</th>
            <th>OS Version</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let userInfo of userLists">
            <tr>
              <td style="width: 21%;">{{ userInfo.userId }}</td>
              <td>{{ userInfo.name }}</td>
              <td>{{ userInfo.email }}</td>
              <td>{{ userInfo.mobile }}</td>
              <td>{{ userInfo.age }}</td>
              <td>{{ userInfo.gender }}</td>
              <td>{{ userInfo.country }}</td>
              <td>{{ userInfo.platform }}</td>
              <td>{{ userInfo.osVersion }}</td>
              <td>
                <a
                  *ngIf="!userInfo.isExcluded"
                  href="#"
                  class="includeState active"
                  (click)="changeUserStatus(userInfo, true)"
                  >Exclude</a
                >
                <a
                  *ngIf="userInfo.isExcluded"
                  href="#"
                  class="includeState"
                  (click)="changeUserStatus(userInfo, false)"
                  >Include Back</a
                >
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-container *ngIf="nextToken">
        <a
          (click)="fetchMoreUsersInSegment($event)"
          style="float: right;cursor: pointer;"
        >
          More....
        </a>
      </ng-container>
    </div>
  </div>
</div>
