/* START User Container */
.user-container {
  height: 100%;
  overflow: hidden;
}

.user-content {
  padding: 0 20px 0 80px;
  height: 100%;
}
.user-content.data-content {
  padding: 30px;
}

.black-text {
  color: #000000;
}

.content-wrap {
  height: calc(100% - 75px);
  position: relative;
}

/* START btn filter */
.btn {
  padding: 3px 20px;
  color: #000000;
  font-size: 12px;
  text-shadow: none;
  border-radius: 20px;
  height: 30px;
  min-width: 80px;
}
.btn.btn-small {
  padding: 5px 10px;
  border-radius: 5px;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-primary {
  background: #ff8800;
  border-color: #ff8800;
  color: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background: #ffffff !important;
  border-color: #ff8800 !important;
  color: #ff8800 !important;
}
.btn.btn-secondary {
  background: #ffffff;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
  background: #ffffff;
}
.btn.btn-secondary.light {
  background: #ccc;
  border: 1px solid #ccc;
}
.btn.btn-secondary.light:hover {
  color: #000000;
  background: #ffffff;
}
.btn.btnBlueBordered {
  background: #ffffff;
  border-color: #5306e0;
  color: #5306e0;
  height: 35px;
  padding: 5px 10px;
  font-size: 12px;
}
.btn.btnBlueBordered:hover,
.btn.btnBlueBordered:active {
  color: #ffffff;
  background: #5306e0;
}
.btn.btn-tertiary {
  background: #404040;
  color: White;
}
.btn.btn-tertiary:hover,
.btn.btn-tertiary:focus,
.btn.btn-tertiary:active {
  background: #404040;
  color: White;
}
.btn.btn-filter {
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #5306e0;
  border-color: #5306e0;
  color: #ffffff !important;
}
.btn.btn-filter.disabled {
  background: #ffffff;
  border-color: #ccc;
  color: #ccc !important;
  opacity: 1;
}
.btn.btn-white-border {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff !important;
  padding: 5px 10px;
  border-radius: 20px;
  width: 100px;
}
.btn.btn-link {
  min-width: auto;
  height: auto;
  color: #5d5d5d;
}
/* END btn filter */

a,
a:hover,
a:focus,
a:active {
  display: block;
  text-decoration: none;
  color: #4e4e4e;
}
