// .icon.backButton {
//   position: absolute;
//   top: 35px;
//   left: 20px;
//   background-position: -414px -279px;
// }
// .icon.backButton:hover {
//   background-position: -414px -261px;
// }

.nav-tabs > .nav-item > .nav-link {
  font-weight: bold;
  color: #656565;
  background-color: transparent !important;
  margin: 0;
  border: none !important;
  border-radius: 0;
  padding: 10px 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 15px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #5306e0;
  border-radius: 25px;
}
.switch .slider:before {
  position: absolute;
  content: '';
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 2px;
  background-color: #5306e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  border-color: #ff8800;
}
.switch input:checked + .slider:before {
  background-color: #ff8800;
}
.switch input:checked + .slider:before {
  background-color: #ff8800;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.switch .switchBlock {
  height: 15px;
}

.switch span {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #5306e0;
  border-radius: 100px;
  transition: all 0.5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
}

.switch span:after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  height: unset;
  width: unset;
  border: 0px solid #5306e0;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
}

// .scroll {
//   height: calc(100vh - 450px) !important;
//   overflow-y: scroll;
//   font-size: 13px;
//   color: #000000;
//   font-family: 'robotoregular';
//   line-height: 23px;
//   padding: 10px 0;
// }

// .AnalyticsContent .AnalyticsBody .tab-content {
//   height: calc(100vh - 130px);
//   background: white !important;
// }
// .white-bg {
//   background: #ffffff !important;
// }

// .content-wrapper {
//   /* padding: 20px 20px 20px 70px !important; */
//   background-color: white;
// }

.main-content.AnalyticsDashboard {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
// .nav-tabs {
//   border: none !important;
// }
// .AnalyticsContent .AnalyticsBody .tab-content {
//   border: none !important;
// }

.AnalyticsContent .AnalyticsBody {
  ul.nav {
    padding-top: 10px;
  }
  .nav-tabs li.nav-item {
    .nav-link {
      padding-left: 0;
      background: none transparent;
      border: 0 none;
    }
  }

  .tab-content {
    padding: 0;
  }
}
