.nav-tabs > .nav-item > .nav-link {
  font-weight: bold;
  color: #656565;
  background-color: transparent !important;
  margin: 0;
  border: none !important;
  border-radius: 0;
  padding: 10px 20px;
}
