<!-- 
<div class="height100 w-100 position-relative p-3 pb-4">
  <div
    class="ContentContainer AdvisoryContainer leftContainer position-relative white-bg d-flex height100 border-radius-4 p-3"
  >
    <div class="width50 d-flex align-items-center justify-content-center">
      <img class="width100" src="assets/images/advisory_bg.png" />
    </div>
    <div
      class="AdvisoryContent width50 height100 d-flex flex-column justify-content-between pl-5"
    >
      <div
        class="formElement width60 height100 d-flex flex-column justify-content-center"
      >
        <form class="form-inline">
          <div class="form-group" style="margin-top: 20%;">
            <div class="font40 black-text mb-2">
              <span class="brand-color font-bold">Coming</span> Soon
            </div>
            <input
              type="email"
              class="form-control height40px m-0 font16"
              placeholder="Email Address"
              aria-label="Email Address"
              name="email"
              [(ngModel)]="email"
            />
            <button
              class="btn btn-primary height40px border-radius-right-5 font16 px-3"
              type="button"
              (click)="requestInvite(email)"
            >
              Request Invite
            </button>
          </div>
        </form>
      </div>
      <div class="modal fade" id="sucessModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"><h5>Your Request has been sent</h5></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomSocial pb-4">
        <i class="icon icon-fb-black mr-2"></i>
        <i class="icon icon-tw-black mr-2"></i>
        <i class="icon icon-ln-black mr-2"></i>
      </div>
      <img
        class="backdropImage position-absolute"
        src="assets/images/advisory_top.png"
      />
    </div>
  </div>
</div>
 -->

<div
  class="main-content AnalyticsDashboard"
  style="margin-top: -18px;border: none;"
>
  <div class="content-wrap p-0 AnalyticsContent">
    <div class="AnalyticsBody">
      <ul class="nav nav-tabs pt-1" id="myTab" role="tablist">
        <li class="nav-item" (click)="goToMyAccount()">
          <a
            class="nav-link active font14 pb-2 mr-4"
            id="myaccount-tab"
            data-toggle="tab"
            href="#myAccount"
            role="tab"
            aria-controls="myAccount"
            aria-selected="true"
            >My Account</a
          >
        </li>
        <li class="nav-item" (click)="gotToApps()">
          <a
            class="nav-link font14 pb-2 mr-4"
            id="apps-tab"
            data-toggle="tab"
            href="#apps"
            role="tab"
            aria-controls="apps"
            aria-selected="false"
            >Apps</a
          >
        </li>
        <!-- <li class="nav-item" (click)="goToRolesAndPermission()">
          <a
            class="nav-link font14 pb-2 mr-4"
            id="rolespermission-tab"
            data-toggle="tab"
            href="#rolespermission"
            role="tab"
            aria-controls="rolespermission"
            aria-selected="false"
            >Roles & Permission</a
          >
        </li>
        <li class="nav-item" (click)="goToUsers()">
          <a
            class="nav-link font14 pb-2 mr-4"
            id="users-tab"
            data-toggle="tab"
            href="#users"
            role="tab"
            aria-controls="users"
            aria-selected="false"
            >Users</a
          >
        </li>
        <li class="nav-item" (click)="goToBillingAndPayment()">
          <a
            class="nav-link font14 pb-2 mr-4"
            id="billingpayment-tab"
            data-toggle="tab"
            href="#billingPayment"
            role="tab"
            aria-controls="billingpayment"
            aria-selected="false"
            >Billing & Payment</a
          >
        </li>
        <li class="nav-item" (click)="goToAlertsAndNotifications()">
          <a
            class="nav-link font14 pb-2 mr-4"
            id="alertnotification-tab"
            data-toggle="tab"
            href="#alertNotification"
            role="tab"
            aria-controls="alertNotification"
            aria-selected="false"
            >Alert & Notification</a
          >
        </li> -->
      </ul>
      <div class="tab-content grey-bg settings" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="myAccount"
          role="tabpanel"
          aria-labelledby="myAccount"
        >
          <app-my-account></app-my-account>
        </div>
        <div
          class="tab-pane fade"
          id="apps"
          role="tabpanel"
          aria-labelledby="apps"
        >
          <app-apps></app-apps>
        </div>
        <div
          class="tab-pane fade"
          id="rolespermission"
          role="tabpanel"
          aria-labelledby="rolespermission"
        >
          <app-roles-and-permission></app-roles-and-permission>
        </div>
        <div
          class="tab-pane fade"
          id="users"
          role="tabpanel"
          aria-labelledby="UsersContentList"
        >
          <app-users></app-users>
        </div>
        <div
          class="tab-pane fade"
          id="billingPayment"
          role="tabpanel"
          aria-labelledby="billingPayment"
        >
          <app-billing-and-payment></app-billing-and-payment>
        </div>
        <div
          class="tab-pane fade"
          id="alertNotification"
          role="tabpanel"
          aria-labelledby="alertNotification"
        >
          <app-alert-and-notifications></app-alert-and-notifications>
        </div>
      </div>
    </div>
  </div>
</div>
