<div class="height100 p-3">
  <div class="height100 white-bg">
    <ul class="nav nav-tabs px-4 pt-0" id="ProfileTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active font13 pb-1 mr-4"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="true"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font13 pb-1 mr-4"
          id="changepwd-tab"
          data-toggle="tab"
          href="#changepwd"
          role="tab"
          aria-controls="apps"
          aria-selected="false"
          >Change Password</a
        >
      </li>
    </ul>
    <div
      class="tab-content min-height-100 height100 py-3"
      id="ProfileTabContent"
    >
      <div
        class="tab-pane fade show active"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile"
      >
        <div class="scrollbar px-4 bg"><app-profile></app-profile></div>
      </div>
      <div
        class="tab-pane fade"
        id="changepwd"
        role="tabpanel"
        aria-labelledby="changepwd"
      >
        <div class="scrollbar px-4 bg height100">
          <app-change-password></app-change-password>
        </div>
      </div>
    </div>
  </div>
</div>
