.scroll {
  height: calc(100vh - 200px) !important;
  overflow-y: scroll;
}

.nav-tabs > .nav-item > .nav-link {
  font-weight: bold;
  color: #656565;
  background-color: transparent !important;
  margin: 0;
  border: none !important;
  border-radius: 0;
  padding-left: 0;
}
.nav-tabs {
  border: none !important;
}

.bg {
  background: white;
}

.min {
  min-height: calc(100vh - 200px) !important;
}

.AnalyticsContent .AnalyticsBody {
  ul.nav {
    padding-top: 10px;
  }
  .nav-tabs li.nav-item {
    .nav-link {
      padding-left: 0;
      background: none transparent;
      border: 0 none;
    }
  }

  .tab-content {
    padding: 0;
  }
}
