<div class="row WizardContainer h-100">
  <div class="col ruleConfiguration">
    <div class="card cardGrey">
      <div class="card-body d-flex flex-column justify-content-between">
        <ul class="stepswizard text-uppercase">
          <li
            class="wizardStep completed"
            [class.active]="stepStatus == stepData.STEP0_AUDIENCE"
            [class.completed]="stepStatus > stepData.STEP0_AUDIENCE"
            title="profileaddresschangestep0"
          >
            <a
              href="javascript:void(0)"
              class="wizardStep active"
              (click)="changeCurrentStep(stepData.STEP0_AUDIENCE)"
            >
              Audience
            </a>
          </li>
          <li
            class="active completed"
            [class.active]="stepStatus == stepData.STEP1_RULE_CONFIGURATION"
            [class.completed]="stepStatus > stepData.STEP1_RULE_CONFIGURATION"
            title="profileaddresschangestep1"
          >
            <a
              href="javascript:void(0)"
              class="wizardStep active"
              (click)="changeCurrentStep(stepData.STEP1_RULE_CONFIGURATION)"
            >
              Rule Configuration
            </a>
          </li>
          <li
            class="has-sub active"
            [class.active]="stepStatus >= stepData.STEP2_MESSAGE"
          >
            <a href="javascript:void(0)" class="wizardStep">
              Screen Configuration
            </a>
            <ul class="subList">
              <li
                class="active completed"
                [class.active]="stepStatus == stepData.STEP2_MESSAGE"
                [class.completed]="stepStatus > stepData.STEP2_MESSAGE"
                title="profileaddresschangestep2"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu2"
                    checked
                    disabled
                  />
                  <label class="form-check-label m-0" for="SideMenu2"></label>
                </div>
                <a
                  href="javascript:void(0)"
                  class="wizardSubStep"
                  (click)="changeCurrentStep(stepData.STEP2_MESSAGE)"
                  >Message</a
                >
              </li>
              <li
                class="active completed"
                [class.active]="stepStatus == stepData.STEP3_HOME"
                [class.completed]="stepStatus > stepData.STEP3_HOME"
                title="profileaddresschangestep3"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu3"
                    checked
                    disabled
                  />
                  <label class="form-check-label m-0" for="SideMenu3"></label>
                </div>
                <a
                  href="javascript:void(0)"
                  class="wizardSubStep"
                  (click)="changeCurrentStep(stepData.STEP3_HOME)"
                  >Home</a
                >
              </li>
              <li
                class="active completed"
                [class.active]="stepStatus == stepData.STEP4_REFERRAL_COUNT"
                [class.completed]="stepStatus > stepData.STEP4_REFERRAL_COUNT"
                title="profileaddresschangestep4"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu8"
                  />
                  <label class="form-check-label m-0" for="SideMenu8"> </label>
                </div>
                <a
                  href="javascript:void(0)"
                  class="wizardSubStep"
                  (click)="changeCurrentStep(stepData.STEP4_REFERRAL_COUNT)"
                  >Referral Count</a
                >
                <span
                  class="icon info"
                  tooltip="Enable this ONLY IF you want to showcase the Referral Count
                (and Earnings) Screen to end user (through the SDK)."
                  placement="top"
                  container="body"
                ></span>
                <!-- <div class="tooltipTemplates">
                  <div class="toolTipInformation" id="CountMenu">
                    Enable this ONLY IF you want to showcase the Referral Count
                    (and
                    Earnings) Screen to end user (through the SDK).
                  </div>
                </div> -->
              </li>
              <li
                class="enable-withdrawal active completed"
                [class.active]="stepStatus == stepData.STEP5_WITHDRAW"
                [class.completed]="stepStatus > stepData.STEP5_WITHDRAW"
                title="profileaddresschangestep5"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu4"
                  />
                  <label class="form-check-label m-0" for="SideMenu4"></label>
                </div>
                <a href="javascript:void(0)" class="wizardSubStep">Withdraw</a>
                <span
                  class="icon info"
                  tooltip="Enable this ONLY IF you want to allow user to SELECT an
                account to Withdraw earnings to (through the SDK). You can ignore and
                allow the same anywhere else in your app."
                  placement="top"
                  container="body"
                ></span>
                <!-- <div class="tooltipTemplates">
                  <div class="toolTipInformation" id="WithdrawMenu">
                    Enable this ONLY IF you want to allow user to SELECT an
                    account to
                    Withdraw earnings to (through the SDK). You can ignore and
                    allow
                    the same anywhere else in your app.
                  </div>
                </div> -->
              </li>
              <li
                class="enable-withdrawal active completed"
                [class.active]="stepStatus == stepData.STEP6_ADD_COUNT"
                [class.completed]="stepStatus > stepData.STEP6_ADD_COUNT"
                title="profileaddresschangestep6"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu5"
                  />
                  <label class="form-check-label m-0" for="SideMenu5"></label>
                </div>
                <a href="javascript:void(0)" class="wizardSubStep"
                  >Add Account</a
                >
                <span
                  class="icon info"
                  tooltip="Enable this ONLY IF you want to allow user to ADD an
                account to (through the SDK). You can ignore and allow the same
                anywhere else in your app."
                  placement="top"
                  container="body"
                ></span>
                <!-- <div class="tooltipTemplates">
                  <div class="toolTipInformation" id="AccountMenu">
                    Enable this ONLY IF you want to allow user to ADD an
                    account to
                    (through the SDK). You can ignore and allow the same
                    anywhere else
                    in your app.
                  </div>
                </div> -->
              </li>
              <li
                class="active completed"
                [class.active]="stepStatus == stepData.STEP7_WITHDRAWAL"
                [class.completed]="stepStatus > stepData.STEP7_WITHDRAWAL"
                title="profileaddresschangestep7"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu7"
                    checked
                    disabled
                  />
                  <label class="form-check-label m-0" for="SideMenu7"></label>
                </div>
                <a href="javascript:void(0)" class="wizardSubStep"
                  >Withdrawal</a
                >
                <span
                  class="icon info"
                  tooltip="Enable this ONLY IF you want to allow user to make the
                Withdrawal to their account (through the SDK). You can ignore and
                allow the same anywhere else in your app."
                  placement="top"
                  container="body"
                ></span>
                <!-- <div class="tooltipTemplates">
                  <div class="toolTipInformation" id="WithdrawalMenu">
                    Enable this ONLY IF you want to allow user to make the
                    Withdrawal
                    to their account (through the SDK). You can ignore and
                    allow the
                    same anywhere else in your app.
                  </div>
                </div> -->
              </li>
              <li
                class="active completed"
                [class.active]="stepStatus == stepData.STEP8_ERROR_SCREEN"
                [class.completed]="stepStatus > stepData.STEP8_ERROR_SCREEN"
                title="profileaddresschangestep8"
              >
                <div class="form-check mr-2">
                  <input
                    type="checkbox"
                    class="form-check-input checkbox"
                    id="SideMenu6"
                    checked
                    disabled
                  />
                  <label class="form-check-label m-0" for="SideMenu6"></label>
                </div>
                <a
                  href="javascript:void(0)"
                  class="wizardSubStep"
                  (click)="changeCurrentStep(stepData.STEP8_ERROR_SCREEN)"
                  >Error Screen</a
                >
              </li>
            </ul>
          </li>
          <li
            title="profileaddresschangestep9"
            class="wizardStep active"
            [class.active]="stepStatus == stepData.STEP9_TECH_CONFIGURATION"
          >
            Tech Configuration
            <!-- <a
              href="javascript:void(0)"
              (click)="changeCurrentStep(stepData.STEP9_TECH_CONFIGURATION)"
            >
              Tech Configuration
            </a> -->
          </li>
        </ul>
        <div class="appToggleView">
          <ul class="list-inline d-flex align-items-center mb-1">
            <li class="list-inline-item">
              <div class="blackBoldLabel">Web app only</div>
            </li>
            <li class="list-inline-item">
              <div class="switchBlock ml-1">
                <label class="switch m-0">
                  <input
                    type="checkbox"
                    class="webapp-check"
                    [(ngModel)]="referralData.webAppOnly"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </li>
          </ul>
          <p class="greyInformation m-0">
            Select to use ONLY for Web App.<br />Skip Mobile screen
            configuration.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
