  <div class="height100 w-100 p-3">
      <div class="height100 py-4 white-bg border-radius-4">
        <div class="d-flex flex-column mt-3">
          <div class="d-flex justify-content-end px-4 mb-3">
            <form class="header-search form-inline my-2 my-lg-0">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="SearchBtn" type="submit">
                <i class="iconSearchBtn"></i>
              </button>
            </form>
          </div>
          <div class="d-flex px-4">
            <div class="RolesMemberList col-md-3 px-2">
              <div class="RolesTitle d-flex grey-bg justify-content-between p-2 border-radius-3 mb-2">
                <div class="RolesName">
                  <div class="font12 font-medium">Admin
                    <span class="brand-color">(02)</span>
                  </div>
                </div>
                <div class="RolesOption d-flex align-items-center">
                  <div class="PermissionBtn mr-2" data-permission="Admin">
                    <i class="icon icon-lock"></i>
                  </div>
                  <div class="addMember">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="icon icon-add-encircled"></span>
                    </a>
                    <div class="dropdown-menu AddUsersList p-0 overflow-hidden">
                      <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-column">
                          <div class="d-flex justify-content-between p-3">
                            <div class="font16 font-medium">Add User</div>
                            <div class="closeDropDown">
                              <i class="icon close"></i>
                            </div>
                          </div>
                          <div>
                            <div class="w-100 px-3">
                              <form class="header-search form-inline my-2 my-lg-0">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                                <button class="SearchBtn" type="submit">
                                  <i class="iconSearchBtn"></i>
                                </button>
                              </form>
                            </div>
                            <div class="UserListWidget scrollbar p-3">
                              <div class="d-flex flex-column">
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male1.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Angad Chopra</div>
                                      <div class="UserEmailText font11 darker-grey-text">angad_chopra@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male2.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Rohit Verma</div>
                                      <div class="UserEmailText font11 darker-grey-text">rohit_verma@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male3.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Karan Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">karan_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center removeUser">
                                      <span class="white-text">-</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male4.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Suhail CK</div>
                                      <div class="UserEmailText font11 darker-grey-text">suhail_ck@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male5.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Nithin Roy</div>
                                      <div class="UserEmailText font11 darker-grey-text">nithin_roy@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male6.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Ashish Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">ashish_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="UserListBottom p-3">
                              <div class="form-group d-flex justify-content-end align-items-center m-0 p-0">
                                <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="MemberList">
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/male1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Karan Singh</span>
                      <span class="font11 darker-grey-text">karan_s@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/female1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Komal Sharma</span>
                      <span class="font11 darker-grey-text">komal_sharma@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="RolesMemberList col-md-3 px-2">
              <div class="RolesTitle d-flex grey-bg justify-content-between p-2 border-radius-3 mb-2">
                <div class="RolesName">
                  <div class="font12 font-medium">Developer
                    <span class="brand-color">(02)</span>
                  </div>
                </div>
                <div class="RolesOption d-flex align-items-center">
                  <div class="PermissionBtn mr-2" data-permission="Admin">
                    <i class="icon icon-lock"></i>
                  </div>
                  <div class="addMember">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="icon icon-add-encircled"></span>
                    </a>
                    <div class="dropdown-menu AddUsersList p-0 overflow-hidden">
                      <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-column">
                          <div class="d-flex justify-content-between p-3">
                            <div class="font16 font-medium">Add User</div>
                            <div class="closeDropDown">
                              <i class="icon close"></i>
                            </div>
                          </div>
                          <div>
                            <div class="w-100 px-3">
                              <form class="header-search form-inline my-2 my-lg-0">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                                <button class="SearchBtn" type="submit">
                                  <i class="iconSearchBtn"></i>
                                </button>
                              </form>
                            </div>
                            <div class="UserListWidget scrollbar p-3">
                              <div class="d-flex flex-column">
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male1.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Angad Chopra</div>
                                      <div class="UserEmailText font11 darker-grey-text">angad_chopra@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male2.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Rohit Verma</div>
                                      <div class="UserEmailText font11 darker-grey-text">rohit_verma@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male3.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Karan Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">karan_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male4.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Suhail CK</div>
                                      <div class="UserEmailText font11 darker-grey-text">suhail_ck@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male5.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Nithin Roy</div>
                                      <div class="UserEmailText font11 darker-grey-text">nithin_roy@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male6.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Ashish Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">ashish_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="UserListBottom p-3">
                              <div class="form-group d-flex justify-content-end align-items-center m-0 p-0">
                                <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="MemberList">
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/male1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Karan Singh</span>
                      <span class="font11 darker-grey-text">karan_s@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/female1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Komal Sharma</span>
                      <span class="font11 darker-grey-text">komal_sharma@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="RolesMemberList col-md-3 px-2">
              <div class="RolesTitle d-flex grey-bg justify-content-between p-2 border-radius-3 mb-2">
                <div class="RolesName">
                  <div class="font12 font-medium">Tester
                    <span class="brand-color">(02)</span>
                  </div>
                </div>
                <div class="RolesOption d-flex align-items-center">
                  <div class="PermissionBtn mr-2" data-permission="Admin">
                    <i class="icon icon-lock"></i>
                  </div>
                  <div class="addMember">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="icon icon-add-encircled"></span>
                    </a>
                    <div class="dropdown-menu AddUsersList p-0 overflow-hidden">
                      <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-column">
                          <div class="d-flex justify-content-between p-3">
                            <div class="font16 font-medium">Add User</div>
                            <div class="closeDropDown">
                              <i class="icon close"></i>
                            </div>
                          </div>
                          <div>
                            <div class="w-100 px-3">
                              <form class="header-search form-inline my-2 my-lg-0">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                                <button class="SearchBtn" type="submit">
                                  <i class="iconSearchBtn"></i>
                                </button>
                              </form>
                            </div>
                            <div class="UserListWidget scrollbar p-3">
                              <div class="d-flex flex-column">
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male1.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Angad Chopra</div>
                                      <div class="UserEmailText font11 darker-grey-text">angad_chopra@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male2.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Rohit Verma</div>
                                      <div class="UserEmailText font11 darker-grey-text">rohit_verma@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male3.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Karan Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">karan_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male4.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Suhail CK</div>
                                      <div class="UserEmailText font11 darker-grey-text">suhail_ck@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male5.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Nithin Roy</div>
                                      <div class="UserEmailText font11 darker-grey-text">nithin_roy@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male6.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Ashish Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">ashish_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="UserListBottom p-3">
                              <div class="form-group d-flex justify-content-end align-items-center m-0 p-0">
                                <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="MemberList">
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/male1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Karan Singh</span>
                      <span class="font11 darker-grey-text">karan_s@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/female1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Komal Sharma</span>
                      <span class="font11 darker-grey-text">komal_sharma@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="RolesMemberList col-md-3 px-2">
              <div class="RolesTitle d-flex grey-bg justify-content-between p-2 border-radius-3 mb-2">
                <div class="RolesName">
                  <div class="font12 font-medium">Manager
                    <span class="brand-color">(02)</span>
                  </div>
                </div>
                <div class="RolesOption d-flex align-items-center">
                  <div class="PermissionBtn mr-2" data-permission="Admin">
                    <i class="icon icon-lock"></i>
                  </div>
                  <div class="addMember">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="icon icon-add-encircled"></span>
                    </a>
                    <div class="dropdown-menu AddUsersList p-0 overflow-hidden">
                      <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-column">
                          <div class="d-flex justify-content-between p-3">
                            <div class="font16 font-medium">Add User</div>
                            <div class="closeDropDown">
                              <i class="icon close"></i>
                            </div>
                          </div>
                          <div>
                            <div class="w-100 px-3">
                              <form class="header-search form-inline my-2 my-lg-0">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                                <button class="SearchBtn" type="submit">
                                  <i class="iconSearchBtn"></i>
                                </button>
                              </form>
                            </div>
                            <div class="UserListWidget scrollbar p-3">
                              <div class="d-flex flex-column">
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male1.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Angad Chopra</div>
                                      <div class="UserEmailText font11 darker-grey-text">angad_chopra@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male2.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Rohit Verma</div>
                                      <div class="UserEmailText font11 darker-grey-text">rohit_verma@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male3.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Karan Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">karan_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male4.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Suhail CK</div>
                                      <div class="UserEmailText font11 darker-grey-text">suhail_ck@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male5.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Nithin Roy</div>
                                      <div class="UserEmailText font11 darker-grey-text">nithin_roy@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="UserListItem d-flex justify-content-between align-items-center pl-2 pr-3 mb-3">
                                  <div class="UserContainer d-flex align-items-center">
                                    <div class="UserImageContent">
                                      <img src="assets/images/users/male6.jpg" />
                                    </div>
                                    <div class="UserNameContent ml-2">
                                      <div class="UserNameText font12 font-bold">Ashish Singh</div>
                                      <div class="UserEmailText font11 darker-grey-text">ashish_singh@gmail.com</div>
                                    </div>
                                  </div>
                                  <div class="addUserbtnWidget">
                                    <div class="d-flex align-items-center justify-content-center addUserBtn">
                                      <i class="icon icon-addSmallWhite"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="UserListBottom p-3">
                              <div class="form-group d-flex justify-content-end align-items-center m-0 p-0">
                                <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="MemberList">
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/male1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Karan Singh</span>
                      <span class="font11 darker-grey-text">karan_s@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
                <div class="RolesMember d-flex justify-content-between align-items-center px-2 py-1 border-radius-4 border-1">
                  <div class="MemberNameWidget d-flex align-items-center">
                    <div class="MemberImage">
                      <img src="assets/images/users/female1.jpg" />
                    </div>
                    <div class="MemberName ml-2 d-flex flex-column">
                      <span class="font12 font-bold">Komal Sharma</span>
                      <span class="font11 darker-grey-text">komal_sharma@gmail.com</span>
                    </div>
                  </div>
                  <div class="DeleteMember">
                    <i class="icon icon-delete-sm-gray"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
