<div class="row">
  <div class="MiddlePanelWidget position-relative">
    <div class="wizard-btns floatingWizard position-absolute d-flex justify-content-between">
      <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs" (click)="pageChange('questions')"><i class="icon leftArrowIcon mr-1"></i>Back</a>
      <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs" (click)="pageChange('config-question')">Next<i
          class="icon rightArrowIcon"></i></a>
    </div>
    <div class="PanelMiddleContent workSpaceBody">
      <div class="segments referralSegments">
        <div class="Segment-Title d-block">
          <div class="font10 secondary-color m-0">Screen Configuration</div>
          <div class="font11 blue-text mt-2">"This Screen is not mandatory. Select 'WELCOME' checkbox on the left panel to
            enable it."</div>
        </div>
        <div class="segment-body scrollbar pb-5">
          <div class="d-flex align-items-center justify-content-between divider mb-2">
            <h5 class="font-bold black-text white-bg m-0">1. Choose Color Palatte
            </h5>
            <div class="form-group m-0 pl-2 white-bg d-flex">
              <div class="form-check">
                <input type="checkbox" class="form-check-input checkbox" id="exampleCheck1" [(ngModel)]="applyAll" checked (ngModelChange)="onApplySelected($event)">
                <label class="form-check-label font11 black-text w-100" for="exampleCheck1"></label>
              </div>
              <p class="ml-2 mb-0 font11">Apply to all Screens</p>
            </div>
          </div>
          <div class="w-50">
            <div class="w-50 position-relative">
              <div class="form-group d-flex align-items-center color-field">
                <input spellcheck="false" type="color" [ngModelOptions]="{standalone: true}" class="form-control HomeColorPalette cloneColor"
                  [(ngModel)]="welcomeData.color" />
              </div>
              <div class="form-group d-flex align-items-center color-code">
                <input spellcheck="false" type="text" [ngModelOptions]="{standalone: true}" class="form-control HomeColorPalette m-0 cloneColor"
                  [(ngModel)]="welcomeData.color" />
              </div>
            </div>
          </div>
          <h5 class="font-bold black-text white-bg">2. Edit survey welcome text here
          </h5>
          <div class="w-50">
            <div class="form-group selectbox w-75 mb-3">
              <label class="form-label font-medium" for="font-style2">Select Font Style
              </label>
              <select class="form-control select" (ngModelChange)="onFontSelect($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="welcomeData.fontStyle"
                id="font-style2">
                <option *ngFor="let font of fontList" [ngValue]="font.key">{{font.value}}</option>
              </select>
            </div>
          </div>
          <h5 class="font-medium black-text white-bg">Heading</h5>
          <div class="w-100">
            <div class="form-group d-flex">
              <input [(ngModel)]="welcomeData.title" type="text" [ngModelOptions]="{standalone: true}" class="dottedInput cloneText form-control height40px"
                maxlength="60" value="Take a quick survey to share your experience" placeholder="Type here">
            </div>
          </div>
          <h5 class="font-medium black-text white-bg">Body</h5>
          <div class="w-100">
            <div class="form-group d-flex">
              <input [(ngModel)]="welcomeData.body" [ngModelOptions]="{standalone: true}" type="text" class="dottedInput cloneText form-control height40px"
                maxlength="120" value="" placeholder="Type here">
            </div>
          </div>
          <div class="w-50">
            <div class="d-flex align-items-start mb-0">
              <h5 class="font-bold black-text">3. Upload new logo/icon</h5>
            </div>
            <div class="form-group">
              <label class="form-label grey-text font-italics mb-0" for="title">(300x300)</label>
              <div class="upload-container survey thanks">
                <img [src]="welcomeData.imageUrl || '../assets/img/Welcome.png'" />
              </div>
              <button class="btn btn-tertiary btn-small mt-3 upload">
                <input type="file" (change)="fileChange($event)" class="withdraw-upload"> Replace Image
                <span class="icon icon-upload ml-2"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ruleUIReview">
    <div class="PanelRightContent">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex align-items-center justify-content-center referal-content py-0" *ngIf="!isWebApp">
          <div class="mobile-container position-relative">
            <div class="mobile-content p-3 text-center">
              <div class="mobile-body FeedbackScreen position-relative thanks">
                <p class="mt-2 black-text font10 font-bold feedbackThanksInput" [ngStyle]="fontSelected">&nbsp;{{welcomeData.title}}
                </p>
                <span class="d-inline-block mt-1 mb-3 feedbackThanksInput2" [ngStyle]="fontSelected">{{welcomeData.body}}</span>
                <img class="FeedbackImg withdrawal-image thanks" [src]="welcomeData.imageUrl || '../assets/img/Welcome.png'" />
                <a href="javascript:void(0)" [ngStyle]="{'background-color': welcomeData.color}" class="titleColor FeedbackButton">
                  <span [ngStyle]="fontSelected">Start</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <form class="">
              <div class="form-group w-100 m-0 pt-2">
                <label class="black-text font-bold">Survey Name</label>
                <input [ngClass]="{'showError': showError}" type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="ACCOUNT NAME_SURVEY_01"
                  (ngModelChange)="onNameChange($event)" [(ngModel)]="surveyName" />
                <div class="invalid-feedback" [ngClass]="{'showError': showError}">
                  Please provide a valid name.
                </div>
              </div>
            </form>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" (click)="cancelSurvey()" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" (click)="saveSurvey()" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>