input.showError {
  border: 1px solid #dc3545;
}

.invalid-feedback.showError {
  display: block;
}

.mobile-container .mobile-content .FeedbackImg.thanks {
  max-height: 200px;
}

.FeedbackButton {
  font-size: 8px;
}
