<div class="content-wrap mt-2 userGroupContent grey-bg">
  <div class="row no-gutters w-100 height100">
    <div class="col-12 col-md-9 pr-0 workSpaceBody">
      <div class="segments">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="segment-header pb-1">Source</h5>
        </div>
        <div class="segment-body overflow-hidden">
          <div class="d-flex align-items-center mb-4">
            <div class="w-50">
              <form class="d-flex justify-content-start align-items-center">
                <div
                  class="form-group mr-3 mb-0"
                  style="margin:0px; width:250px"
                >
                  <select
                    class="form-control custom-select-box select filter"
                    [(ngModel)]="selectedAppId"
                    name="selectedAppId"
                    style="width:100%"
                    (change)="showUserList(selectedAppId)"
                  >
                    <option
                      *ngFor="let appId of productAppList"
                      value="{{ appId.appId }}"
                      >{{ appId.name }}</option
                    >
                  </select>
                </div>
                <ng-container *ngIf="userListInGroup">
                  <p class="font12 font-medium m-0">
                    Total Users {{ userListInGroup.totalUserCount }}
                  </p>
                </ng-container>
                <ng-container *ngIf="!userListInGroup">
                  <p class="font12 font-medium m-0">Total Users</p>
                </ng-container>
              </form>
            </div>
            <div class="w-50 d-flex justify-content-end">
              <form class="header-search form-inline my-2 my-lg-0">
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search User"
                  aria-label="Search User"
                  [(ngModel)]="searchText"
                  name="searchText"
                />
                <button class="SearchBtn" type="submit" (click)="searchInUsercount(searchText)">
                  <i class="iconSearchBtn"></i>
                </button>
              </form>
            </div>
          </div>
          <table
            class="table table-borderless table-hover m-0"
            id="user-table-content"
          >
            <thead>
              <tr>
                <th>
                  <div class="form-check mr-2">
                    <input
                      type="checkbox"
                      class="form-check-input checkbox"
                      id="all"
                      [checked]="userListInGroup.allChecked"
                      (change)="inputCheckedAllUser()"
                    />
                    <label class="form-check-label m-0" for="all"></label>
                  </div>
                </th>
                <!-- <th>User Id</th> -->
                <th>Name</th>
                <th>Email Id</th>
                <th>Mobile No.</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Country</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="
                  userListInGroup &&
                  userListInGroup.users &&
                  userListInGroup.users.length > 0
                "
              >
                <ng-container
                  *ngFor="let userInfo of userListInGroup.users; index as idx"
                >
                  <tr>
                    <td>
                      <div class="form-check mr-2">
                        <input
                          type="checkbox"
                          class="form-check-input checkbox"
                          [id]="idx"
                          [checked]="userInfo.checked"
                          (change)="inputCheckedUser(idx)"
                        />
                        <label class="form-check-label m-0" [for]="idx"></label>
                      </div>
                    </td>
                    <!-- <td>{{ userInfo.userId }}</td> -->
                    <td>{{ userInfo.userName }}</td>
                    <td>{{ userInfo.emailId }}</td>
                    <td>{{ userInfo.mobileNumber }}</td>
                    <td>{{ userInfo.age }}</td>
                    <td>{{ userInfo.gender }}</td>
                    <td>{{ userInfo.country }}</td>
                    <td class="d-flex">
                      <a href="javascript:void(0)" class="active UserState"
                        ><i class="icon icon-edit"></i
                      ></a>
                      <a
                        href="javascript:void(0)"
                        class="active UserState"
                        data-toggle="modal"
                        data-target="#cancelEditedGroup"
                        ><i class="icon icon-delete"></i
                      ></a>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
        <ng-container *ngIf="userListInGroup.nextToken">
          <a
            (click)="fetchMoreUsersInSegment($event)"
            style="float: right;cursor: pointer;padding-right:20px"
          >
            More....
          </a>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-md-3 new-rule">
      <div class="rulesSection p-3">
        <div class="rulesHeader">
          Selected User
          <span class="font13 font-bold dark-text SelectedUserCount"
            >({{ ruleList.length }})</span
          >
        </div>
        <div class="rule-body SelectedUserList" style="overflow: auto">
          <div class="rulesSentence scrollbar">
            <ul class="ruleList">
              <ng-container *ngIf="ruleList.length > 0">
                  
                
                <li *ngFor="let rule of ruleList" class="d-flex">
                  <div class="form-check mr-2">
                      <input
                        type="checkbox"
                        class="form-check-input checkbox"
                        [id]="rule.userId"
                        [checked]="rule.checked"
                        (change)="inputCheckedRuleList(rule)"
                      />
                      <label class="form-check-label m-0" [for]="rule.userId"></label>
                    </div>
                  {{ rule.userName }}&nbsp;
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="filter-count-details position-static">
          <form class="transparent-forms mt-3">
            <div class="segmentationName">User Group Name</div>
            <div class="form-group m-0 px-0">
              <input
                type="text"
                class="form-control"
                placeholder="UserGroup"
                [(ngModel)]="userGroupName"
                name="userGroupName"
              />
            </div>
          </form>
          <div class="mt-2 mb-3 d-flex justify-content-end align-items-center">
            <button
              class="btn btn-secondary light p-0 mr-3"
              (click)="cancelSaveUserGroup()"
            >
              Cancel
            </button>
            <button
              class="btn btn-primary saveSegment"
              (click)="saveUserGroupCheck()"
            >
              Save Group
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- START confirm save segment Modal-->
  <button data-toggle="modal" id="saveFilters" data-target="#saveFiltersSegment" style="display:none"></button>

  <div class="modal fade" id="saveFiltersSegment" tabindex="-1" role="dialog" aria-labelledby="saveEditedLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0.8);">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header border-0 p-2">
                  <div class="modal-title" id="cancelEditedLabel">Save the Segment</div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px;">
                      <span aria-hidden="true" class="icon white-close"></span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="h6 black-text">Your changes are not saved.</div>
              </div>
              <div class="modal-footer border-0 px-2 pt-0 pb-3">
                  <button type="button" class="btn btn-secondary light" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveUserGroup()">Save</button>
              </div>
          </div>
      </div>
  </div>
  <!-- END confirm save segment Modal-->


  <!-- START infomation that user group list is empty -->
  <button
    data-toggle="modal"
    id="emptyUserList"
    data-target="#emptyUserGroupList"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="emptyUserGroupList"
    tabindex="-1"
    role="dialog"
    aria-labelledby="emptyFiltersLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">
            Filters is empty. Please insert Filter content.
          </div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END infomation that filters is empty-->

  <!-- START cancel edit segment Modal-->
  <button
    data-toggle="modal"
    id="cancelUserGroupList"
    data-target="#cancelEditedUserGroup"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="cancelEditedUserGroup"
    tabindex="-1"
    role="dialog"
    aria-labelledby="cancelEditedLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Save as draft</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">Do you want to save it as draft?</div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button
            type="button"
            class="btn btn-secondary light"
            data-dismiss="modal"
          >
            Not Now
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="gotoSaveAsDraft()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END cancel edit segment Modal-->
</div>
