@import '../features.module';

.referralListContent {
  width: 100%;
  height: calc(100vh - 95px);
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.segment-create a:hover {
  color: black;
  text-decoration: none;
}

.border {
  border: 1px solid #cccccc;
}
