<div class="content-wrap p-0 HomeList">
  <div class="referralCardContainer referralListContent">
    <div class="row flex-wrap referralRow" style="width:100%">
      <div class="col-4 col-xl-3 mb-4">
        <div class="card referralCard border disable">
          <div
            class="card-body d-flex align-items-center justify-content-start"
          >
            <div class="segment-create" (click)="gotoReferralDetail()">
              <a href="#"
                >New Referral Program?<br />
                Start here.</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--<div *ngFor="let eachSegment of segments" class="col-3 mb-3">-->
      <div
        *ngFor="let referral of listReferralData"
        class="col-4 col-xl-3 mb-4"
      >
        <div
          class="card referralCard border"
          [class.disable]="!referral.ruleStatus"
        >
          <div class="card-body d-flex justify-content-between flex-column">
            <div class="d-flex align-items-start justify-content-between">
              <div class="referralInfo w-75">
                <div
                  class="h5 font-bold"
                  style="font-weight:1000; word-break: break-all"
                >
                  {{ referral.programId }}
                </div>
                <p class="font11 m-0">
                  Created By: {{ referral.createdBy }}
                  <span
                    *ngIf="referral.isDraft || referral.isDraft === 'true'"
                    class="status primary-bg ml-2 white-text"
                    >Draft</span
                  >
                </p>
                <div class="switchBlock d-flex align-items-center ml-1 mt-3">
                  <p class="mr-2">Disable</p>
                  <label class="switch m-0">
                    <input
                      type="checkbox"
                      class="checkSlider"
                      [(ngModel)]="referral.ruleStatus"
                      (change)="
                        changeStatus(
                          referral.referralRuleId,
                          referral.ruleStatus
                        )
                      "
                    />
                    <span
                      class="slider round"
                      [class.ref-id-status]="!referral.ruleStatus"
                    ></span>
                  </label>
                  <p class="ml-2 s" [class.enable]="referral.ruleStatus">
                    Enable
                  </p>
                </div>
              </div>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="icon moreIcon"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    href="#"
                    class="dropdown-item"
                    (click)="editReferral(referral.referralRuleId)"
                    ><i class="icon icon-edit"></i> Edit</a
                  >
                  <a
                    href="#"
                    class="dropdown-item"
                    (click)="duplicateReferral(referral.referralRuleId)"
                    ><i class="icon icon-duplicate"></i> Duplicate</a
                  >
                  <a
                    href="#"
                    class="dropdown-item"
                    (click)="deleteReferral(referral.referralRuleId)"
                    ><i class="icon icon-delete"></i> Delete</a
                  >
                </div>
              </div>
            </div>
            <div class="referralTimline">
              <p class="timelineInformation mb-2 font-bold">
                Starts :
                <span class="blue-text"> {{ referral.startDate }} </span>
              </p>
              <div *ngIf="referral.endDate">
                <p class="timelineInformation m-0 font-bold">
                  Ends : <span class="blue-text"> {{ referral.endDate }} </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>

  <!-- START confirm to delete the referral data   -->
  <button
    data-toggle="modal"
    id="deleteReferral"
    data-target="#deleteReferralModule"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="deleteReferralModule"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">
            Are you going to delete the selected Referral?
          </div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button
            type="button"
            class="btn btn-secondary light"
            data-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="deletSelectedReferral($event)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END confirm to delete the referral data -->

  <!-- START fail to duplicate with cancel or save button -->
  <button
    data-toggle="modal"
    id="failDuplicateReferral"
    data-target="#failDuplicateReferralRule"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="failDuplicateReferralRule"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">
            Failed to duplicate!!! Please try again
          </div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END fail to save with cancel or save button -->

  <div *ngIf="hideBar === false" class="know-more-list">
    <div>
      <img class="Phone-Illus" src="assets/images/phone.png" alt="Phone bg" />
      <h3 class="font-bold black-text text-uppercase">
        See how the feature works
      </h3>
      <p class="black-text m-0">
        Increase engagement success based on dynamic user segment
      </p>
    </div>
    <div class="d-flex align-items-center">
      <a
        class="brand-color Play-Demo"
        data-toggle="modal"
        data-src="https://www.youtube.com/embed/kbAQidXLaWs"
        data-target="#YtPlayerModal"
        data-backdrop="static"
        data-keyboard="false"
      >
        Demo</a
      >
      <a
        href="javascript:void(0);"
        class="grey-text Hide-Notifi"
        (click)="hideBar = true"
        >Hide</a
      >
    </div>
  </div>
  <div
    class="modal fade"
    id="YtPlayerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-lg max-width80 max-height80"
      role="dialog"
    >
      <div class="modal-content">
        <div class="modal-body p-0" style="margin-top: -15px;">
          <button
            type="button"
            class="close fa"
            data-dismiss="modal"
            (click)="stopPlayingVideo()"
            aria-label="Close"
            style="font-size:24px;color:white;padding-left:12px;"
          >
            &#xf057;
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="https://www.youtube.com/embed/8wS63GwWtpk"
              id="yt-player"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
