.notification-items .form-group.select-form-group, .remove-text-notifi {
  width: 153px !important;
}

input.showError {
  border: 1px solid #dc3545;
}

.invalid-feedback.showError {
  display: block;
}
