<div class="row">
  <div class="MiddlePanelWidget position-relative">
    <div class="wizard-btns floatingWizard position-absolute d-flex justify-content-between">
      <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs" (click)="pageChange('config-thankyou')"><i
          class="icon leftArrowIcon mr-1"></i>Back</a>
      <a href="javascript:void(0)" class="d-inline-block secbut" (click)="onSave()">Done<i class="icon rightArrowIcon"></i></a>
    </div>
    <div class="PanelMiddleContent workSpaceBody ">
      <div class="segments referralSegments">
        <div class="Segment-Title">
          <div class="Segment-Title-Content grey-text">Action Block</div>
        </div>
        <div class="segment-body scrollbar pb-5">
          <p class="mb-1">Action at the end of the Survey is optional. You can choose from any one of these options to keep
            people informed or incentivize them. If this is not required, please proceed to saving this survey directly.</p>
          <p class="mb-1 font-bold font11">CONVERSION ACTION = Successful submission of survey.
          </p>
          <p class="font-bold font11">[Actor 1 = Person taking the survey] &nbsp;&nbsp; [Actor 2 = Whoever is running the
            survey]
          </p>
          <form>
            <div class="accordianGroup rule-config">
              <div class="accordion" id="ruleAcc">
                <div class="card mx-0">
                  <div class="card-header border-bottom-0" id="rule1">
                    <div class="TitleHeader d-flex align-items-center collapsed" data-toggle="collapse" data-target="#acc1" aria-expanded="true"
                      aria-controls="acc1">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input checkbox" id="incentive">
                        <label class="form-label" for="incentive"><a class="p-0" href="javascript:void(0);">Incentive</a></label>
                      </div>
                    </div>
                  </div>

                  <div id="acc1" class="collapse" aria-labelledby="rule1" data-parent="#ruleAcc">
                    <div class="card-body">
                      <div class="form-group">
                        <div class="donation-content d-flex justify-content-start align-items-center">
                          <div class="form-group mb-2">
                            <label for="ac1">Pay Actor1</label>
                            <input spellcheck="false" type="number" class="form-control" id="ac1">
                          </div>
                          <div class="form-group select-form-group mb-2 mr-5">
                            <label class="transparent">.</label>
                            <Select class="form-control select">
                              <option>USD</option>
                              <option>YEN</option>
                              <option>RUPEE</option>
                            </Select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-0">
                  <div class="card-header border-bottom-0" id="rule2">
                    <div class="TitleHeader  d-flex align-items-center collapsed" data-toggle="collapse" data-target="#acc2" aria-expanded="true"
                      aria-controls="acc2">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input checkbox" id="gamification">
                        <label class="form-label" for="gamification"><a class="p-0" href="javascript:void(0);">Gamification</a></label>
                      </div>
                    </div>
                  </div>
                  <div id="acc2" class="collapse" aria-labelledby="rule2" data-parent="#ruleAcc">
                    <div class="card-body">
                      <div class="form-group w-100">
                        <label>Transfer</label>
                        <div class="AppendContent gamification d-flex align-items-end justify-content-start">
                          <div class="row AppendContent-content feedback-gamification-content notification-content">
                            <div class="AppendContent-items gamification-items notification-items" *ngFor="let transfer of transferList; let ind = index; trackBy: customTrackBy">
                              <div class="form-group mb-2">
                                <input spellcheck="false" type="text" class="form-control" value="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="transfer.text">
                              </div>
                              <div class="form-group select-form-group mb-2">
                                <Select class="form-control select">
                                  <option>Option</option>
                                  <option>1</option>
                                  <option>2</option>
                                </Select>
                              </div>
                              <p class="mx-2 mb-2" style="width: 60px">to <span class="font-bold">Actor 1
                                </span>
                              </p>
                              <div class="list-inline add-more-widget width20px" (click)="removeTransfer(transfer)" *ngIf="ind !== (transferList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle d-flex align-items-center m-0">
                                  <span class="font13 white-text">-</span>
                                </span>
                              </div>
                              <div class="list-inline add-more-widget add-feedback-gamification" (click)="addMoreTransfer()" *ngIf="ind === (transferList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item">Add more</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-0">
                  <div class="card-header border-bottom-0" id="rule3">
                    <div class="TitleHeader d-flex align-items-center collapsed" data-toggle="collapse" data-target="#acc3" aria-expanded="false"
                      aria-controls="acc3">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input checkbox" id="notification">
                        <label class="form-label" for="notification">
                          <a class="p-0" href="javascript:void(0);">Notification</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div id="acc3" class="collapse" aria-labelledby="rule3" data-parent="#ruleAcc">
                    <div class="card-body">
                      <div class="form-group w-100 mb-2">
                        <label>Send Text</label>
                        <div class="AppendContent d-flex send-text-notification align-items-end justify-content-start">
                          <div class="row AppendContent-content send-text-notification-content notification-content w-60">
                            <div class="AppendContent-items send-text-notification-items notification-items w-100" *ngFor="let text of textList; let ind = index; trackBy: customTrackBy">
                              <div class="form-group mb-2 w-100">
                                <input spellcheck="false" type="text" class="form-control">
                              </div>
                              <p class="mx-0 mb-2">To</p>
                              <div class="form-group select-form-group mb-2">
                                <Select class="form-control select">
                                  <option selected>Actor 1</option>
                                  <option>Actor 2</option>
                                </Select>
                              </div>
                              <div class="list-inline add-more-widget remove-text-notifi" (click)="removeText(text)" *ngIf="ind !== (textList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle d-flex align-items-center m-0">
                                  <span class="font13 white-text">-</span>
                                </span>
                              </div>
                              <div class="list-inline add-more-widget add-feedback-gamification" (click)="addMoreText()" *ngIf="ind === (textList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item" style="width: 60px">Add more</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group w-100 mb-2">
                        <label>Send In-App Notification</label>
                        <div class="AppendContent d-flex send-inapp-notification align-items-end justify-content-start">
                          <div class="row AppendContent-content send-inapp-notification-content notification-content w-60">
                            <div class="AppendContent-items send-inapp-notification-items notification-items w-100" *ngFor="let notification of notificationList; let ind = index; trackBy: customTrackBy">
                              <div class="form-group mb-2 w-100">
                                <input spellcheck="false" type="text" class="form-control">
                              </div>
                              <p class="mx-0 mb-2">To</p>
                              <div class="form-group select-form-group mb-2">
                                <Select class="form-control select">
                                  <option selected>Actor 1</option>
                                  <option>Actor 2</option>
                                </Select>
                              </div>
                              <div class="list-inline add-more-widget remove-text-notifi" (click)="removeNotification(notification)" *ngIf="ind !== (notificationList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle d-flex align-items-center m-0">
                                  <span class="font13 white-text">-</span>
                                </span>
                              </div>
                              <div class="list-inline add-more-widget add-feedback-gamification" (click)="addMoreNotification()" *ngIf="ind === (notificationList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item" style="width: 60px">Add more</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group w-100 mb-0">
                        <label>Send Email</label>
                        <div class="AppendContent d-flex send-email-notification align-items-end justify-content-start">
                          <div class="row AppendContent-content send-email-notification-content notification-content w-60">
                            <div class="AppendContent-items send-email-notification-items notification-items w-100" *ngFor="let email of emailList; let ind = index; trackBy: customTrackBy">
                              <div class="form-group mb-2 w-100">
                                <input spellcheck="false" type="text" class="form-control">
                              </div>
                              <p class="mx-0 mb-2">To</p>
                              <div class="form-group select-form-group mb-2">
                                <Select class="form-control select">
                                  <option selected>Actor 1</option>
                                  <option>Actor 2</option>
                                </Select>
                              </div>
                              <div class="list-inline add-more-widget remove-text-notifi" (click)="removeEmail(email)" *ngIf="ind !== (emailList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle d-flex align-items-center m-0">
                                  <span class="font13 white-text">-</span>
                                </span>
                              </div>
                              <div class="list-inline add-more-widget add-feedback-gamification" (click)="addMoreEmail()" *ngIf="ind === (emailList.length-1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item" style="width: 60px">Add more</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="ruleUIReview">
    <div class="PanelRightContent">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex align-items-center justify-content-center referal-content py-0" *ngIf="!isWebApp">
          <div class="mobile-container position-relative">
            <div class="mobile-content p-3 text-center">
              <div class="mobile-body FeedbackScreen position-relative thanks">
                <p class="mt-2 mb-3 black-text font10 font-bold">Appreciate for your valuable time</p>
                <img class="FeedbackImg thanks mt-5" src="assets/images/feedback_thanks.svg" />
                <a href="javascript:void(0)" class="FeedbackButton">Okay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <form class="">
              <div class="form-group w-100 m-0">
                <label class="black-text font-bold">Survey Name</label>
                <input type="text" class="form-control" placeholder="ACCOUNT NAME_SURVEY_01">
              </div>
            </form>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>