<div class="row WizardContainer h-100">
  <div class="col ruleConfiguration">
    <div class="card grey-bg">
      <div class="card-body d-flex flex-column justify-content-between">
        <ul class="stepswizard text-uppercase">
          <li [class.active]="tabs.key == tabSelected?.parent" [class.completed]="ind < currentTab" *ngFor="let tabs of tabList; let ind = index; trackBy: customTrackBy"
            [ngClass]="{'has-sub': tabs.hasSub}">
            <a href="javascript:void(0)" class="wizardStep active" [class.disabled]="tabs.key == 'action-block'" (click)="updateCurrentTab(tabs.key)">
              {{tabs.label}}
            </a>
            <ul class="subList" *ngIf="tabs.hasSub">
              <li [class.active]="tabSelected.sub == subTab.key" [class.completed]="subInd < currentSubTab" *ngFor="let subTab of tabs.sub; let subInd = index; trackBy: customTrackBy">
                <div class="form-check mr-2">
                  <input type="checkbox" [disabled]="!subTab.isOptional" (ngModelChange)="selectCheckbox($event)" class="form-check-input checkbox"
                    [ngModel]="!subTab.isOptional" [id]="subTab.key">
                  <label class="form-check-label m-0" [for]="subTab.key">
                  </label>
                </div>
                <a href="javascript:void(0)" class="wizardSubStep" (click)="updateCurrentTab(subTab.key)">{{subTab.label}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="appToggleView">
          <ul class="list-inline d-flex align-items-center mb-1">
            <li class="list-inline-item">
              <div class="blackBoldLabel">Web app only</div>
            </li>
            <li class="list-inline-item">
              <div class="switchBlock ml-1">
                <label class="switch m-0">
                  <input type="checkbox" class="webapp-check" [(ngModel)]="webAppOnly" (ngModelChange)="toggleWebApp($event)">
                  <span class="slider round"></span>
                </label>
              </div>
            </li>
          </ul>
          <p class="greyInformation m-0">Select to use ONLY for Web App.<br />Skip Mobile screen configuration.</p>
        </div>
      </div>
    </div>
  </div>
</div>