<div class="IndexContent feedback w-100 px-2 justify-content-between">
  <div class="ContentContainer white-bg d-flex w-100 p-2 pr-4 pl-5 position-relative">
    <!-- <span class="FrontModalClose position-absolute"><i class="icon close"></i></span> -->
    <i class="icon icon-back backButton FrontModalClose" routerLink="/analytics/engagement"></i>
    <div class="DurationContent width70 pr-3 position-relative my-2">
      <div class="cardTitle d-flex justify-content-between align-items-start">
        <div class="font-medium font16">App Store Rating Trend <span class="font-italic darker-grey-text font-medium font12 ml-2">{{ startDate | date:'dd MMM' }} -  {{ endDate | date:'dd MMM' }}, {{ endDate | date:'y' }}</span></div>
        <div class="d-flex flex-column align-items-end">
          <div class="form-group selectbox width150px m-0">
              <select [(ngModel)]="filterChurns" (change)="changeParams()" class="form-control DateSelect" data-placeholder="Select Type">
                  <option value="Last 0.5 Month" data-icon="calendar" selected>Last 15 Days</option>
                  <option value="Last 1 Month" data-icon="calendar" selected>Last 30 Days</option>
                  <option value="Last 2 Months" data-icon="calendar">Last 2 Months</option>
                  <option value="Last 3 Months" data-icon="calendar">Last 3 Months</option>
                  <option value="Last 6 Months" data-icon="calendar">Last 6 Months</option>
                </select>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <!-- <span class="font12 d-flex align-items-center font-bold graphLabel primary mr-3"><i class="icon orange-line mr-2"></i>Rating
              - &lt;USA&gt;</span>
            <span class="font12 d-flex align-items-center font-bold graphLabel secondary"><i class="icon blue-line mr-2"></i>Rating
              - (All)</span> -->
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-4 pl-2">

        <app-rating-trend-graph *ngIf="data_trending" [data]="data_trending"></app-rating-trend-graph>
        <p class="font14 blue-text font-medium loader" *ngIf="!data_trending">Please wait loading data</p>
      </div>
    </div>
    <div class="DurationContent width30 pl-3 position-relative my-2 d-flex flex-column height100">
      <app-rating-sidebar-widget *ngIf="data" [data]="data"  [sidebar]="'Current'"></app-rating-sidebar-widget>
      <app-rating-sidebar-widget *ngIf="data" [data]="data" [sidebar]="'All'"></app-rating-sidebar-widget>
      <p class="font14 blue-text font-medium loader" *ngIf="!data">Please wait loading data</p>
    </div>
  </div>
</div>