<section class="main-container greyLight-bg">
  <div class="pt-5 w-100 height100 px-5">
    <div
      class="GettingStartedContainer d-flex border-1 height100 border-color border-bottom-0 px-3 pt-3 pb-0 white-bg"
    >
      <div class="GettingStartedContent w-100 p-3">
        <img src="./assets/images/SK_Logo.svg" />
        <h4 class="font-regular mt-4 mb-3 blue-text">
          Get started by adding your app
        </h4>
        <form
          [formGroup]="generalForm"
          (ngSubmit)="onSubmit()"
          class="GettingStartedForm width100"
          style="overflow-x: scroll;"
        >
          <div class="form-group mb-3" style="padding-left: 5%;">
            <label for="appNameInput" class="font12 font-bold">App Name</label>
            <div
              class="FlagInput d-flex align-items-center border-1 border-color width40"
            >
              <input
                list="appList"
                class="form-control height30px font16 font-regular black-textt m-0 border-0"
                name="appName"
                (change)="onInputChanged(appName)"
                (keyup)="search()"
                placeholder="Enter your App Name"
                name="appName"
                id="appName"
                formControlName="appName"
              />
              <datalist
                id="appList"
                formControlName="appName"
                *ngIf="searchResults.length > 0"
              >
                <option
                  *ngFor="let item of searchResults"
                  style="background-image:url(item.artworkUrl60);"
                  value="{{ item.trackCensoredName }}"
                ></option>
              </datalist>
            </div>
          </div>
          <ul
            class="nav nav-tabs"
            id="myTab"
            role="tablist"
            style="border-bottom: 0px;padding-left: 4%;"
          >
            <li class="nav-item">
              <a
                class="nav-link active font14 pb-2 mr-4"
                id="android-tab"
                data-toggle="tab"
                href="#android"
                role="tab"
                aria-controls="Android"
                aria-selected="true"
                style="border: none;background-color: white;"
                ><i class="icon icon-android mr-1"></i>Android</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link font14 pb-2 mr-4"
                id="ios-tab"
                data-toggle="tab"
                href="#ios"
                role="tab"
                name="iOS"
                aria-controls="ios"
                aria-selected="false"
                style="border: none;background-color: white;"
                ><i class="icon icon-apple mr-1"></i>iOS</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link font14 pb-2 mr-4"
                id="web-tab"
                data-toggle="tab"
                href="#web"
                role="tab"
                aria-controls="web"
                aria-selected="false"
                style="border: none;background-color: white;"
                >Web</a
              >
            </li>
          </ul>
          <div
            class="tab-content"
            id="myTabContent"
            style="background: white;border: none;"
          >
            <div
              class="tab-pane fade show active"
              role="tabpanel"
              aria-labelledby="android"
              style="top:2%;left: 4%"
              name="appandroid"
              id="android"
            >
              <div class="form-group mb-3 width40">
                <label for="packageName" class="font12 font-bold"
                  >Package Name</label
                >
                <input
                  type="search"
                  class="form-control
                        height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Package Name"
                  name="packageName"
                  formControlName="packageName"
                />
              </div>
              <div class="card" style="width: 60%;border: 1px solid #cccccc6e;">
                <div class="card-body">
                  <p class="card-title" style="font-size: 20px;">
                    SmartEnagagementScore &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ SmartEnagagementScore }}"
                    ></span>
                  </p>
                  <p class="headerFieldssettings">
                    <b>Push Notification</b> &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ PushNotification }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="ApiKey" class="font12 font-bold">API Key</label>
                    <input
                      type="text"
                      class="form-control height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter API key"
                      name="ApiKey"
                      formControlName="ApiKey"
                    />
                  </div>
                  <p class="headerFieldssettings">
                    <b>Feedback</b> &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ FeedBack }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="clientId" class="font12 font-bold"
                      >Client Id</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font16font-regular black-text"
                      spellcheck="false"
                      placeholder="Client Id"
                      name="clientId"
                      formControlName="clientId"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="clientSecret" class="font12 font-bold"
                      >Client Secret Key</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Client Secret Key"
                      name="clientSecretKey"
                      formControlName="clientSecretKey"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="refreshToken" class="font12 font-bold"
                      >Refresh Token</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter Refresh Token"
                      name="RefreshToken"
                      formControlName="RefreshToken"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="ios"
              style="top:2%;left: 4%"
              name="appios"
              id="ios"
            >
              <div class="form-group mb-3 width40">
                <label for="bundleInput" class="font12 font-bold"
                  >Bundle Identifier</label
                >
                <input
                  type="search"
                  class="form-control
                        height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Bundle Identifier"
                  name="bundleIdentitfier"
                />
              </div>
              <div class="card" style="width: 60%;border: 1px solid #cccccc6e;">
                <div class="card-body">
                  <p class="card-title" style="font-size: 18px;">
                    SmartEnagagementScore &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ SmartEnagagementScore }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="appStoreId" class="font12 font-bold"
                      >App Store ID &nbsp;
                      <span
                        class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="{{ AppStoreID }}"
                      ></span
                    ></label>
                    <input
                      type="text"
                      class="form-control
                              height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Your App Store ID"
                      name="appStoreId"
                      formControlName="appStoreId"
                    />
                  </div>
                  <p class="headerFieldssettings">
                    <b>Push Notification</b>&nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ PushNotification }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="file" class="font12 font-bold"
                      >Choose P12 file</label
                    >
                    <input
                      type="file"
                      class="form-control height40px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter password for file"
                      name="file"
                      id="file"
                      formControlName="file"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="password" class="font12 font-bold"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter password for file"
                      name="password"
                      formControlName="password"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="web"
              style="top:2%;left: 4%"
              name="Domain"
              id="web"
            >
              <div class="form-group mb-3 width40">
                <label for="domainName" class="font12 font-bold"
                  >Domain Name</label
                >
                <input
                  type="text"
                  class="form-control
                              height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Domain Name"
                  name="domainName"
                  formControlName="domainName"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align: right;padding-right: 2%;">
            <button
              type="submit"
              class="btn btn-outline-secondary mr-3"
              (click)="reset()"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary AddAndNext">
              Add
            </button>
          </div>
        </form>
      </div>

      <!-- <div
        class="GettingStartedContent w-50 grey-bg py-4 d-flex flex-column"
        *ngIf="this.signedUpResponse && this.signedUpResponse['apps']"
      >
        <p class="dark-text font14 mt-2 font-medium px-4">Added Apps</p>
        <div class="AddedAppsWidget scrollbar d-flex flex-column px-4">
          <div
            class="AddedAppItem white-bg border-1 border-color mb-3"
            *ngFor="let entry of signedUpResponse.apps; let ind = index"
          >
            <div
              class="d-flex width100 justify-content-between px-3 py-2 align-items-center"
            >
              <div class="d-flex align-items-center">
                <ng-container *ngIf="entry.platform === 'iOS'; else android">
                  <i class="icon icon-apple"> </i>
                  <img class="height35px mx-2" src="./assets/images/App1.png" />
                </ng-container>
                <ng-template #android>
                  <i class="icon icon-android"></i>
                  <img class="height35px mx-2" src="./assets/images/App1.png" />
                </ng-template>

                <span class="font16">{{ entry.appName }}</span>
              </div>
              <span class="deleteAddedApp">
                <i class="icon icon-delete" (click)="deleteApp(ind)"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- Alert For smaller screens -->
<div
  class="betterScreenViewWidget justify-content-center align-items-center text-center"
>
  <div
    class="betterScreenView d-flex flex-column justify-content-center align-items-center text-center"
  >
    <img src="assets/images/ErrorScreen.png" />
    <span class="ErrorScreenTitle">Error !</span>
    <span class="ErrorScreenBody"
      >This page is designed for <br />
      laptop and web only</span
    >
  </div>
</div>
