button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button[disabled]:hover {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.settingsCard {
  height: 100%;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin: 0;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
}

.headerFieldssettings {
  // width: 20%;
  font-size: 15px;
  color: black;
  padding-top: 2%;
}
