.nav-tabs {
    border: none; 
}
.nav-tabs .nav-item .nav-link {
    border: none;
    background: transparent;
    color: #bdbdbd;
    font-size: 16px;
    position: relative;
    font-family: "robotomedium";
    padding: 0;
    margin: 0 20px 0 0; 
}
.nav-tabs .nav-item .nav-link:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    border-bottom: 2px solid #000000;
    transition: all 0.5s ease; 
}
.nav-tabs .nav-item .nav-link.active {
    color: #000000; 
}
.nav-tabs .nav-item .nav-link.active:after {
    width: 30px; 
}
.nav-tabs.rounded {
    position: relative; 
}
.nav-tabs.rounded:after {
content: '';
    position: absolute;
    width: 340px;
    background: #ccc;
    border-radius: 20px;
    left: 0;
    height: 38px;
    z-index: 0; 
}
.nav-tabs.rounded .nav-item {
    position: relative;
    z-index: 1; 
}
.nav-tabs.rounded .nav-item:first-child .nav-link {
    border-radius: 20px 0 0 20px; 
}
.nav-tabs.rounded .nav-item:last-child .nav-link {
    border-radius: 0 20px 20px 0; 
}
.nav-tabs.rounded .nav-item .nav-link {
    background: #ccc;
    font-size: 12px;
    color: #000000;
    padding: 10px 20px;
    margin: 0; 
}
.nav-tabs.rounded .nav-item .nav-link:hover, .nav-tabs.rounded .nav-item .nav-link.active {
    border-radius: 20px;
    background: #000000;
    color: #ffffff; 
}
.nav-tabs.rounded .nav-item .nav-link:after {
    display: none; 
}

