<ul class="nav nav-tabs rounded" role="tablist">
    <li *ngFor="let tab of tabs;" class="nav-item">
        <a (click)="onChnagedTab(tab.id)" class="nav-link" [class.active]="selected_tab===tab.id" role="tab"
            data-toggle="tab">
            {{tab.name}}
        </a>
    </li>
</ul>