<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <!-- START navbar header-->
  <div class="navbar-header">
    <!--<a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" />
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-fluid" src="assets/img/logo-single.png" alt="App Logo" />
            </div>
        </a>-->
  </div>
  <!-- END navbar header-->
  <!-- START Left navbar-->
  <ul class="navbar-nav mr-auto flex-row">
    <ng-container
      *ngFor="let menu of commonService.getHeaderName(); index as idx"
    >
      <!-- START User avatar toggle-->
      <li class="nav-item d-none d-md-block">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a
          class="nav-link"
          [class.active]="menu.active"
          href="javascript:void(0)"
          (click)="changeActive(commonService.getHeaderName(), idx, menu.url)"
        >
          <em class="header-font">{{ menu.name }}</em>
        </a>
      </li>
    </ng-container>
  </ul>
  <!-- END Left navbar-->
  <!-- START Right Navbar-->
  <ul class="navbar-nav flex-row">
    <!-- Search icon-->
    <li class="nav-item">
      <div class="header-searchbox">
        <em class="fa fa-search"></em>
        <input class="form-control" placeholder="Find" />
      </div>
    </li>
    <!-- Fullscreen (only desktops)-->
    <li class="nav-item d-none d-md-block" style="padding-top:15px">
      <a class="nav-link" #fsbutton> <em class="icon-phone"></em> </a>
    </li>
    <!-- START Alert menu-->
    <li
      class="nav-item dropdown dropdown-list"
      style="padding-top:15px"
      dropdown
    >
      <a
        class="nav-link dropdown-toggle dropdown-toggle-nocaret"
        dropdownToggle
      >
        <em class="icon-bell"></em> <span class="badge badge-danger">11</span>
      </a>
      <!-- START Dropdown menu-->
      <div
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right animated flipInX"
      >
        <div class="dropdown-item">
          <!-- START list group-->
          <div class="list-group">
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="fab fa-twitter fa-2x text-info"></em>
                </div>
                <div class="media-body">
                  <p class="m-0">New followers</p>
                  <p class="m-0 text-muted text-sm">1 new follower</p>
                </div>
              </div>
            </div>
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="fa fa-envelope fa-2x text-warning"></em>
                </div>
                <div class="media-body">
                  <p class="m-0">New e-mails</p>
                  <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                </div>
              </div>
            </div>
            <!-- list item-->
            <div class="list-group-item list-group-item-action">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="fa fa-tasks fa-2x text-success"></em>
                </div>
                <div class="media-body">
                  <p class="m-0">Pending Tasks</p>
                  <p class="m-0 text-muted text-sm">11 pending task</p>
                </div>
              </div>
            </div>
            <!-- last list item-->
            <div class="list-group-item list-group-item-action">
              <span class="d-flex align-items-center">
                <span class="text-sm">More notifications</span>
                <span class="badge badge-danger ml-auto">14</span>
              </span>
            </div>
          </div>
          <!-- END list group-->
        </div>
      </div>
      <!-- END Dropdown menu-->
    </li>
    <!-- END Alert menu-->
    <!-- START User Account -->

    <div class="user-box-item" (click)="signOut()">
      <div class="media">
        <img
          class="align-self-start mx-2 circle thumb32"
          src="assets/img/user/02.jpg"
          alt="Image"
        />
        <div class="media-body text-truncate">
          <p class="user-box">Neha</p>
          <p class="user-job-box">Admin</p>
        </div>
      </div>
    </div>
    <!-- END User Account -->
  </ul>
  <!-- END Right Navbar-->

  <app-navsearch
    [visible]="getNavSearchVisible()"
    (onclose)="setNavSearchVisible(false)"
  ></app-navsearch>
</nav>
<!-- END Top Navbar-->
