.header-searchbox {
  width: 180px;
  padding: 12px 8px;
  position: relative;
  //color: #aaa;
  font-size: 16px;
}

.header-searchbox input {
  height: 28px;
  background: #f5f5f5;
  //border: 1px solid rgba(0,0,0,0.15);
  border-radius: 14px;
  border: unset;
  padding-right: 28px;
  //box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
.center {
  margin-left: 58%;
}
.header-searchbox .fa-search {
  position: absolute;
  top: 18px;
  right: 20px;
}

.header-font {
  font-style: normal;
}

/* START user account custom */
.user-box-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
}

.user-box {
  margin-bottom: 0px;
  font-size: 12px;
}

.user {
  color: black;
}

.user-job-box {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
}
/* END user account custom */

.navbar-nav .nav-item .nav-link {
  border: none;
  background: transparent;
  color: #bdbdbd;
  font-size: 16px;
  position: relative;
  font-family: 'robotomedium';
  padding: 0;
  margin: 0 20px 0 0;
}
.navbar-nav .nav-item .nav-link.title:after {
  display: none;
}
.navbar-nav .nav-item .nav-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  border-bottom: 2px solid #000000;
  transition: all 0.5s ease;
}
.navbar-nav .nav-item .nav-link.active {
  color: #000000;
}
.navbar-nav .nav-item .nav-link.active:after {
  width: 30px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 15px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #878787;
  border-radius: 25px;
  width: 33px;
  height: 15px;
}
.switch .slider:before {
  position: absolute;
  content: '';
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 2px;
  background-color: #878787;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.appToggleView ul li .switchBlock .switch .slider:before {
  background-color: #ff8800;
}
.switch input:checked + .slider {
  border-color: #ff8800;
}
.switch input:checked + .slider:before {
  background-color: #ff8800;
}
.switch input:checked + .slider:before {
  background-color: #ff8800;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.switch .switchBlock {
  height: 15px;
}
// .switch span:after {
//   background-color: blue;
// }

.switch span:after {
  content: '';
  position: absolute;
  background-color: #ff8800 !important;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  border: 1px solid #ddd;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
}

.header-top-left {
  padding-left: 60px !important;
}

.badge {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background: #ff8800;
  position: absolute;
  padding: 0;
  top: 0px;
  right: 0px;
  border: 1px solid #ffffff;
}
