<header>
  <nav
    class="navbar navbar-expand-lg header-top-left"
    style="margin-top: 0.5rem;"
  >
    <!-- START Left navbar-->
    <ul class="navbar-nav mr-auto flex-row">
      <ng-container
        *ngFor="let menu of commonService.getHeaderName(); index as idx"
      >
        <!-- START User avatar toggle-->
        <li class="nav-item d-none d-md-block" style="cursor: pointer">
          <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
          <a
            class="nav-link"
            [class.active]="menu.active"
            (click)="changeActive(commonService.getHeaderName(), idx, menu.url)"
          >
            <em class="header-font">{{ menu.name }}</em>
          </a>
        </li>
      </ng-container>
    </ul>
    <!-- END Left navbar-->
    <ul class="navbar-nav flex-row">
      <div class="appToggleView mr-4">
        <ul
          class="list-inline d-flex align-items-center mb-1"
          style="padding-top: 5%;"
        >
          <li class="list-inline-item">
            <span class="toggleText Production font11 active">Production</span>
          </li>
          <li class="list-inline-item mt-1">
            <a (click)="alert()"> <img src="assets/images/temp.png"/></a>
            <!-- <div class="switchBlock ml-1 ">
                  <label class="switch m-0">
                    <input
                      #inputEl
                      disabled
                      type="checkbox"
                      checked
                      class="Prod-Sand-check"
                      (change)="sandboxConfigChanged($event)"
                    />
                    <span class="slider round "></span>
                  </label>
                </div> -->
          </li>
          <li class="list-inline-item">
            <!-- <span class="toggleText Sandbox font11">Sandbox</span> -->
            <span class="toggleText Sandbox font11 active">Sandbox</span>
          </li>
        </ul>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse d-flex align-items-center justify-content-end"
        id="navbarSupportedContent"
      >
        <form class="header-search form-inline my-2 my-lg-0">
          <input
            class="form-control"
            type="search"
            placeholder="Find"
            aria-label="Find"
          />
          <button class="SearchBtn" type="submit">
            <i class="iconSearchBtn"></i>
          </button>
        </form>
        <ul class="navbar-nav d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link position-relative" href="#">
              <!-- <span class="icon Help-icon"></span> -->
              <span
                ><img
                  src="assets/images/Support.jpg"
                  width="36"
                  height="18"
                  style="padding-left: 15px;"
              /></span>
            </a>
          </li>
          <li class="nav-item" style="padding-left: 5px;">
            <a class="nav-link position-relative" href="#">
              <span class="icon notification-icon"></span>
              <span class="badge"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="assets/images/user.jpg"
                width="25"
                height="25"
                class="rounded-circle mr-2"
              />
              <div class="user">
                <span class="user-name">
                  {{ storedData.user.name.split(" ")[0] }}
                </span>
                <span class="role font-bold">
                  {{ storedData.user.userRole }}</span
                >
              </div>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdown"
            >
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="signOut()"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </ul>
  </nav>
</header>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>This account is currently available under Sandbox ONLY</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
