<div class="profileaddresschangestep1 pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">Rule Configuration</div>
            <div class="wizard-btns">
              <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs" (click)="changeBackSetp()"><i class="icon leftArrowIcon mr-1"></i>Back</a>
              <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs" title="profileaddresschangestep2" (click)="changeNextStep()">Next<i
                  class="icon ml-1 rightArrowIcon"></i></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <div class="d-flex align-items-center justify-content-between">
                <div class="w-50 d-flex align-items-center">
                  <div class="form-group date">
                    <h5 class="font-bold black-text">Starts:</h5>
                    <input  class="form-control" placeholder="Start Date"
                            [(ngModel)]="referralData['ruleConfiguration'].startDate" [ngModelOptions]="{standalone: true}"
                            [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                  </div>
                  <span class="grey-text ml-2 defaultName">Default-Today</span>
                </div>
                <div class="w-50">
                  <div class="form-group date">
                    <h5 class="font-bold black-text">Ends:</h5>
                    <input  class="form-control" placeholder="No End Date" 
                            [(ngModel)]="referralData.ruleConfiguration.endDate" [ngModelOptions]="{standalone: true}"
                            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                  </div>
                </div>
              </div>
              <!--Referral Successful on-->
              <div class="w-50">
                <h5 class="font-bold black-text mb-3">Referral Successful on</h5>
                <div class="form-group d-flex">
                  <div class="form-radio mr-4">
                    <input id="referSuccess1" name="referSuccess" type="radio" class="form-radio-input radio" 
                            value="Install" [(ngModel)]="referralData.ruleConfiguration.referralSuccessfullOn"  />
                    <label class="form-radio-label" for="referSuccess1">
                      Install
                    </label>
                  </div>
                  <div class="form-radio mr-4">
                    <input id="referSuccess2" name="referSuccess" type="radio" class="form-radio-input radio"
                            value="Signup" [(ngModel)]="referralData.ruleConfiguration.referralSuccessfullOn"/>
                    <label class="form-radio-label" for="referSuccess2">
                      Signup
                    </label>
                  </div>
                  <div class="form-radio">
                    <input id="referSuccess3" name="referSuccess" type="radio" class="form-radio-input radio" 
                            value="3" (click)="isShowSetEvent = true" />
                    <label class="form-radio-label downArrowIcon" for="referSuccess3">
                      Events
                    </label>
                  </div>
                </div>
              </div>
              <h5 class="font-bold black-text mb-3">On Condition:</h5>
              <div class="d-flex align-items-center justify-content-start">
                <div class="w-100">
                  <div class="form-group">
                    <label class="incre-decre-form-label form-label">Referral
                      Conversion on</label>
                    <div class="incre-decre-form-group">
                      <input type="number" class="NumberIncreDecre form-control" 
                              [(ngModel)]="referralData.ruleConfiguration.referralConversionOn" name="referralConversionOn"/>
                      <div class="IncreDecreWidget">
                        <span class="NumberContainer NumberUpContainer" 
                              (click)="incDecNumber(referralData.ruleConfiguration.referralConversionOn, 1)">
                          <i class="NumberUp"></i>
                        </span>
                        <span class="NumberContainer NumberDownContainer" 
                              (click)="incDecNumber(referralData.ruleConfiguration.referralConversionOn, 0)">
                          <i class="NumberDown"></i>
                        </span>
                      </div>
                    </div>
                    <span class="grey-text ml-2 defaultName">{{referralData.ruleConfiguration.referralSuccessfullOn}}</span>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <div class="w-50 d-flex align-items-center">
                  <div class="form-group selectbox">
                    <label class="form-label">Actor 1</label>
                    <select class="form-control select" id="actor1" [(ngModel)]="referralData.ruleConfiguration.actor1" name="actor1" [ngModelOptions]="{ standalone: true }">
                      <option *ngFor="let actor1 of possibleAttr.actors" value="{{actor1}}">{{actor1}}</option>
                      <!-- <option selected>Referror</option>
                      <option>Referral</option> -->
                    </select>
                  </div>
                </div>
                <div class="w-50">
                  <div class="form-group selectbox">
                    <label class="form-label">Actor 2</label>
                    <select class="form-control select" id="actor2" [(ngModel)]="referralData.ruleConfiguration.actor2" name="actor" [ngModelOptions]="{ standalone: true }"> 
                      <option *ngFor="let actor2 of possibleAttr.actors" value="{{actor2}}">{{actor2}}</option>
                      <!-- <option>Referred Person</option>
                      <option selected>Referral</option> -->
                    </select>
                    <!-- <select class="form-control select" id="actor-referral2" [(ngModel)]="referralData.ruleConfiguration.actor2" name="actor2">
                      <option *ngFor="let actor2 of possibleAttr.actors" value="actor2">{{actor2}}</option>
                    </select> -->
                  </div>
                </div>
              </div>
              <h5 class="font-bold black-text mb-2">Action:</h5>
              <h5 class="font-bold black-text mb-2">Callback Url</h5>
              <div class="form-group w-100">
                <input type="text" class="form-control" value="1" [(ngModel)]="referralData.ruleConfiguration.callbackActionURL" name="callbackActionURL">
                <div class="formNote">You can build a complete incentive based
                  referral system by just configuring our screens. You want
                  to take additional action on a successful referral (like
                  logging it in your own database, or notifying your call
                  center to call the referred person). You can then configure
                  a callback URL which Smart Karrot will call to notify your
                  about a successful referral. The referrer and the referred
                  person will be passed as parameters. Look up our SDK
                  documentation for more information.</div>
              </div>

              <!-- Accordion -->
              <div class="accordianGroup rule-config">
                <div class="accordion" id="ruleAcc">
                  <div class="card mx-0">
                    <div class="card-header border-bottom-0" id="rule1">
                      <div class="TitleHeader d-flex align-items-center collapsed" data-toggle="collapse"
                        data-target="#acc1" aria-expanded="true" aria-controls="acc1">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input checkbox" id="incentive">
                          <label class="form-label" for="incentive"><a class="p-0" href="javascript:void(0);">Incentive</a></label>
                        </div>
                      </div>
                    </div>

                    <div id="acc1" class="collapse" aria-labelledby="rule1" data-parent="#ruleAcc">
                      <div class="card-body">
                        <div class="form-group">
                          <div class="donation-content d-flex justify-content-start align-items-center">
                            <div class="form-group mb-2">
                              <label for="ac1">Pay Actor1</label>
                              <input spellcheck="false" type="text" class="form-control" id="ac1">
                            </div>
                            <div class="form-group select-form-group mb-2 mr-5">
                              <label class="transparent">.</label>
                              <Select class="form-control select">
                                <option>USD</option>
                                <option>YEN</option>
                                <option>RUPEE</option>
                              </Select>
                            </div>
                            <div class="form-group mb-2">
                              <label for="ac2">Pay Actor2</label>
                              <input spellcheck="false" type="text" class="form-control" id="ac2"></div>
                            <div class="form-group select-form-group mb-2">
                              <label class="transparent">.</label>
                              <Select class="form-control select">
                                <option>USD</option>
                                <option>YEN</option>
                                <option>RUPEE</option>
                              </Select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mx-0">
                    <div class="card-header border-bottom-0" id="rule2">
                      <div class="TitleHeader  d-flex align-items-center collapsed" data-toggle="collapse"
                        data-target="#acc2" aria-expanded="true" aria-controls="acc2">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input checkbox" id="gamification">
                          <label class="form-label" for="gamification"><a class="p-0" href="javascript:void(0);">Gamification</a></label>
                        </div>
                      </div>
                    </div>
                    <div id="acc2" class="collapse" aria-labelledby="rule2" data-parent="#ruleAcc">
                      <div class="card-body">
                        <div class="form-group w-100">
                          <label>Transfer</label>
                          <div *ngFor="let block of gamificationRuleData; let idx = index" class="AppendContent gamification d-flex align-items-end justify-content-start">
                            <div class="row AppendContent-content gamification-content notification-content">
                              <div class="AppendContent-items gamification-items notification-items">
                                <div class="form-group mb-2">
                                  <input spellcheck="false" type="text" class="form-control" value="1">
                                </div>
                                <div class="form-group select-form-group mb-2">
                                  <Select class="form-control select">
                                    <option>Option</option>
                                    <option>1</option>
                                    <option>2</option>
                                  </Select>
                                </div>
                                <p class="mx-2 mb-0">or</p>
                                <div class="form-group select-form-group mb-2">
                                  <Select class="form-control select">
                                    <option>Actors</option>
                                    <option>Actor 1</option>
                                    <option>Actor 2</option>
                                  </Select>
                                </div>
                              </div>
                            </div>
                            <ng-container *ngIf="gamificationRuleData && (gamificationRuleData.length == 1 || idx == (gamificationRuleData.length-1))">
                              <div class="list-inline add-more-widget add-gamification" (click)="gamificationRuleFunc(1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item">Add more</span>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="gamificationRuleData && (idx == (gamificationRuleData.length-2))">
                              <div class="list-inline add-more-widget add-gamification" (click)="gamificationRuleFunc(0)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="font13 white-text" style="padding-left:3px">--</span></span>
                                <span class="list-inline-item">Substract</span>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mx-0">
                    <div class="card-header border-bottom-0" id="rule3">
                      <div class="TitleHeader d-flex align-items-center collapsed" data-toggle="collapse"
                        data-target="#acc3" aria-expanded="false" aria-controls="acc3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input checkbox" id="notification">
                          <label class="form-label" for="notification"><a class="p-0" href="javascript:void(0);">Notification</a></label>
                        </div>
                      </div>
                    </div>
                    <div id="acc3" class="collapse" aria-labelledby="rule3" data-parent="#ruleAcc">
                      <div class="card-body">
                        <div class="form-group w-100">
                          <label>Send Text</label>
                          <div *ngFor="let block of textNotificationData; let idx = index" class="AppendContent d-flex send-text-notification align-items-end justify-content-start">
                            <div class="row AppendContent-content send-text-notification-content notification-content">
                              <div class="AppendContent-items send-text-notification-items notification-items">
                                <div class="form-group mb-2">
                                  <input spellcheck="false" type="text" class="form-control">
                                </div>
                                <p class="mx-2 mb-0">to</p>
                                <div class="form-group select-form-group mb-2">
                                  <Select class="form-control select">
                                    <option>Actors</option>
                                    <option>Actor 1</option>
                                    <option>Actor 2</option>
                                  </Select>
                                </div>
                              </div>
                            </div>
                            <ng-container *ngIf="textNotificationData && (textNotificationData.length == 1 || idx == (textNotificationData.length-1))">
                              <div class="list-inline add-more-widget add-gamification" (click)="textNotificationFunc(1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item">Add more</span>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="textNotificationData && (idx == (textNotificationData.length-2))">
                              <div class="list-inline add-more-widget add-gamification" (click)="textNotificationFunc(0)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="font13 white-text" style="padding-left:3px">--</span></span>
                                <span class="list-inline-item">Substract</span>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-group w-100">
                          <label>Send In-App Notification</label>
                          <div *ngFor="let block of inAppNotificaiotnData; let idx = index" class="AppendContent d-flex send-inapp-notification align-items-end justify-content-start">
                            <div class="row AppendContent-content send-inapp-notification-content notification-content">
                              <div class="AppendContent-items send-inapp-notification-items notification-items">
                                <div class="form-group mb-2">
                                  <input spellcheck="false" type="text" class="form-control">
                                </div>
                                <p class="mx-2 mb-0">to</p>
                                <div class="form-group select-form-group mb-2">
                                  <Select class="form-control select">
                                    <option>Actors</option>
                                    <option>Actor 1</option>
                                    <option>Actor 2</option>
                                  </Select>
                                </div>
                              </div>
                            </div>
                            <ng-container *ngIf="inAppNotificaiotnData && (inAppNotificaiotnData.length == 1 || idx == (inAppNotificaiotnData.length-1))">
                              <div class="list-inline add-more-widget add-gamification" (click)="inAppNotificaiotnFunc(1)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="icon icon-addSmall"></span></span>
                                <span class="list-inline-item">Add more</span>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="inAppNotificaiotnData && (idx == (inAppNotificaiotnData.length-2))">
                              <div class="list-inline add-more-widget add-gamification" (click)="inAppNotificaiotnFunc(0)">
                                <span class="list-inline-item add-more-new rounded-circle"><span class="font13 white-text" style="padding-left:3px">--</span></span>
                                <span class="list-inline-item">Substract</span>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mx-0">
                    <div class="card-header border-bottom-0" id="rule4">
                      <div class="TitleHeader d-flex align-items-center collapsed" data-toggle="collapse"
                        data-target="#acc4" aria-expanded="false" aria-controls="acc4">
                        <div class="form-check">
                          <input spellcheck="false" type="checkbox" class="form-check-input checkbox" id="donation">
                          <label class="form-label" for="donation"><a class="p-0" href="javascript:void(0);">Donation</a></label>
                        </div>
                      </div>
                    </div>
                    <div id="acc4" class="collapse" aria-labelledby="rule4" data-parent="#ruleAcc">
                      <div class="card-body">
                        <div class="form-group w-100">
                          <label>Donate</label>
                          <div class="donation-content row align-items-center flex-wrap">
                            <div class="form-group mb-2">
                              <input spellcheck="false" type="text" class="form-control">
                            </div>
                            <div class="form-group select-form-group mb-2">
                              <select class="form-control select">
                                <option>USD</option>
                                <option>YEN</option>
                                <option>RUPEE</option>
                              </select></div>
                            <p class="mx-3">on behalf of</p>
                            <div class="form-group select-form-group mb-2">
                              <Select class="form-control select">
                                <option>Actors</option>
                                <option>Actor 1</option>
                                <option>Actor 2</option>
                              </Select></div>
                            <div class="col-md-11 form-group m-0">
                              <p class="d-inline">to charity</p>
                              <input spellcheck="false" type="text" class="w-70 d-inline form-control ml-3 mt-2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent height100">
        <div class="card mx-0 transparent">
          <div class="card-body d-flex align-items-center justify-content-center referal-content py-0">
            <div class="mobile-container position-relative mobapp-container"
                        [ngStyle]="{'display':referralData.webAppOnly === true ? 'none' : 'block' }">
              <div class="mobile-content">
                <div class="referalCarousel">
                  <div class="owlCarousel owl-theme">
                    <div class="item">
                      <div class="mobile-head text-center">
                        <p>Refer</p>
                      </div>
                      <div class="mobile-body">
                        <div class="grey-bg px-2 py-1 d-flex align-items-center justify-content-between flex-column rounded mx-2 mt-2">
                          <h5 class="m-0">40</h5>
                          <p class="grey-text font10">Total Referral</p>
                        </div>
                        <div class="p-2 text-center">
                          <p class="font10 mb-2" style="line-height: 11px; margin: 0 0 10px">
                            Refer the
                            app to your friends and earn a token for
                            each
                            successful download and install </p>
                          <span class="icon user-default"></span>
                          <div class="link">
                            <a href="javascript:void(0);" class="font10 mb-2">
                              Share by link</a>
                            <input spellcheck="false" type="text" class="form-control"
                                    [(ngModel)]="referralData.ruleConfiguration.callbackActionURL"  value="callbackActionURL" name="callbackActionURL">
                            <Span class="icon copy"></Span>
                          </div>
                          <div class="divider d-flex align-items-center justify-content-center">
                            <span class="white-bg font8">Or</span>
                          </div>
                          <div class="share-section">
                            <p class="font10">Share via social media</p>
                            <div class="share-box">
                              <span class="icon mobile-share-icon"></span>
                            </div>
                            <p class="black-text font-bold font10">
                              Share Now</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="webapp-container" 
                        [ngStyle]="{'display':referralData.webAppOnly === true ? 'block' : 'none' }">
              <div class="webapp-content">
                <span class="webAppBG"></span>
                <span class="webapp-text">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod</span>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input spellcheck="false" type="text" class="form-control" value="programId" name="programId"
                          [(ngModel)]="referralData.programId">
                </div>
              </form>
              <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
                <button class="btn btn-secondary light mr-3" data-toggle="modal" data-target="#cancelEditedReferral">Cancel</button>
                <button class="btn btn-primary" (click)="saveData()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--START Right UI modal -->
  <div *ngIf="isShowSetEvent" class="EventSidePanel">
    <div class="EventSidePanelTitle">
      <span>Events</span>
      <i class="CloseEventPanel" (click)="isShowSetEvent=false"></i>
    </div>
    <div class="EventSidePanelContent scrollOverflowYAuto">
      <ul class="EventSidePanelListContainer">
        {{possibleAttr.events}}
        <li *ngFor="let event of possibleAttr.events" class="EventSidePanelList" 
            (click)="referralData.ruleConfiguration.referralSuccessfullOn = event; setEventValue(event)">
          <span class="eventList">{{event}}</span>
        </li>
      </ul>
    </div>
  </div>
  <!--END Right UI modal -->
</div>