<div class="profileaddresschangestep5  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep4"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep6"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <h5 class="font-bold black-text white-bg">
                1. Choose Color Palette
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group">
                  <div class="w-50 position-relative">
                    <div
                      class="form-group d-flex align-items-center color-field"
                    >
                      <input
                        spellcheck="false"
                        type="color"
                        class="form-control WithdrawalColorPalette1"
                        value="#6b8e23"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-center color-code"
                    >
                      <input
                        spellcheck="false"
                        type="text"
                        class="form-control WithdrawalColorPalette1"
                        value="#6b8e23"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                2. Select Font Style
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group selectbox">
                  <select class="form-control select" id="font-style">
                    <option>Nunito Sans Regular</option>
                    <option>Nunito Sans Bold</option>
                    <option>Nunito Sans Semi Bold</option>
                    <option>Nunito Sans Italics</option>
                    <option>Nunito Sans Light</option>
                  </select>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                3. Choose CTA Color
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group">
                  <div class="w-50 position-relative">
                    <div
                      class="form-group d-flex align-items-center color-field"
                    >
                      <input
                        spellcheck="false"
                        type="color"
                        class="form-control WithdrawalColorPalette2"
                        value="#6b8e23"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-center color-code"
                    >
                      <input
                        spellcheck="false"
                        type="text"
                        class="form-control WithdrawalColorPalette2"
                        value="#6b8e23"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-start mt-4">
                <h5 class="font-bold black-text">4. Upload new logo/icon</h5>
              </div>
              <div class="form-group">
                <label
                  class="form-label grey-text font-italics mb-0"
                  for="title"
                  >(300x300)</label
                >
                <div
                  class="upload-container"
                  style="background-image: url(assets/images/withdraw_illus.png)"
                ></div>
                <button class="btn btn-tertiary btn-small mt-3 upload">
                  <input type="file" class="withdraw-upload" /> Upload new
                  <span class="icon icon-upload ml-2"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <!-- <div class="mobile-content position-relative"> -->
              <div class="mobile-head mobile-head-withdrawal text-center">
                <p class="MobileWithdrawalReferTitle">Withdraw</p>
              </div>
              <div class="mobile-body text-center p-2 position-relative">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="grey-text font10 d-flex align-items-center">
                    <span
                      class="grey-bg rounded-circle mr-2"
                      style="width:15px; height:15px;display: inline-block"
                    ></span>
                    Add Account
                  </p>
                  <p>******</p>
                </div>
                <img
                  src="assets/images/withdraw_illus.png"
                  class="position-absolute withdrawal-image"
                  style="margin:40px auto 20px; bottom:30px; left:0; right:0"
                  width="150"
                />
              </div>
              <div
                class="position-absolute p-2 text-center add-footer-withdrawal"
                style="bottom:10px;left:10px; right:10px; background: #6b8e23; color:#fff; border-radius: 15px;"
              >
                Add New Account
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    placeholder="ACCOUNT NAME_REFERRAL_01"
                    value="ACCOUNT NAME_REFERRAL_01"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
