<div class="home-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card handle-cursor b" (click)="goToCreateSegment($event)">
        <div class="card-body vertical-middle-wrapper">
          <table class="segment-content">
            <tr>
              <td><div class="plus-icon hand"></div></td>
              <td>
                <p class="hand">
                  New User Segment? <br />
                  Start here.
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card b">
        <div class="card-body">
          <div class="media">
            <h3>Android Lollipop Users from North-Eastern</h3>
            <div class="d-flex justify-content-end">
              <div class="btn-group" dropdown>
                <button class="btn btn-link" dropdownToggle>
                  <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
                </button>
                <ul
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft"
                  role="menu"
                >
                  <a class="dropdown-item" href="#">
                    <span>Send by message</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span>Share contact</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span>Block contact</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span class="text-warning">Delete contact</span>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <p class="mb-3 font13">Created On: 11 May, 2018</p>
          <p class="secondary-color">
            Users under age group between 18yrs - 25yrs OR 30yrs - 45yrs AND are
            Males from Spain OR Japan, AND speak English OR French AND App
            downloaded from <i class="ellapse icon-options"></i>
          </p>
        </div>
        <div class="card-footer handle-cursor" (click)="goToUserCount($event)">
          <p class="font-black">Users</p>
          <h4 class="font-blue">13,000</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card b">
        <div class="card-body">
          <div class="media">
            <h3>Android Lollipop Users from North-Eastern</h3>
            <div class="d-flex justify-content-end">
              <div class="btn-group" dropdown>
                <button class="btn btn-link" dropdownToggle>
                  <em class="fa fa-ellipsis-v fa-lg text-muted"></em>
                </button>
                <ul
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft"
                  role="menu"
                >
                  <a class="dropdown-item" href="#">
                    <span>Send by message</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span>Share contact</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span>Block contact</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <span class="text-warning">Delete contact</span>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <p class="mb-3 font13">Created On: 11 May, 2018</p>
          <p class="secondary-color">
            Users under age group between 18yrs - 25yrs OR 30yrs - 45yrs AND are
            Males from Spain OR Japan, AND speak English OR French AND App
            downloaded from <i class="ellapse icon-options"></i>
          </p>
        </div>
        <div class="card-footer handle-cursor" (click)="goToUserCount($event)">
          <p class="font-black">Users</p>
          <h4 class="font-blue">13,000</h4>
        </div>
      </div>
    </div>
  </div>
</div>
