<div class="profileaddresschangestep9  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Tech Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep4"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs disabled"
                title="profileaddresschangestep6"
                (click)="changeNextStep()"
              >
                Done<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <div class="tech-info">
                <h5 class="font-bold black-text mb-2">Overview</h5>
                <p>
                  This section will allow you with easy configuration for
                  referral links to be opened on IOS or Android app or on a web.
                  We take the referred person to the App Store if your app is
                  not installed on their phone and automatically mark a referral
                  when they open the app and complete the conversion event
                  (install, login, purchase, ...)
                </p>
                <p>
                  You just have point us to your app on the Apple App Store or
                  the Google Play Store, and how you have configured your app to
                  open (app_name://). We take care of the rest - converting the
                  short link to an Apple App Store / Google Play Store / Web
                  link or an app link, connecting the downloaded app to the
                  referrer and the referred person, waiting for the conversion
                  event, triggering a payment and other actions, and finally
                  having some nice analytics for you to look at.
                </p>
                <p>
                  Don't have an app on the store yet? Let us know if you have a
                  fallback page (say one that informs the referred person of an
                  upcoming app) and we will take them there.
                </p>
              </div>
              <div class="accordianGroup rule-config">
                <div class="formAccordianTitle mb-2">Invite Link Prefix</div>
                <div class="accordion" id="accordionExample">
                  <div class="card mx-0">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <a
                          href="javascript:void(0);"
                          class="d-flex align-items-center collapsed"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          <i class="icon appleIcon mr-2"></i>IOS App
                        </a>
                      </h5>
                    </div>

                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            When the user's phones has app
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP1"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP1">
                                Let us know URI scheme (your_app://) to open
                                your app if it already installed on the phone.
                                Look up developer docs to quickly add a URI
                                scheme entry to your Info.plist configuration of
                                your app.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >IOS URI Scheme</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.ios.userPhoneHasApp.iosURIScheme
                              "
                              value="iosURIScheme"
                              name="iosURIScheme"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            When the user's phones does not have the app
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP2"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP2">
                                If the user does not have the app installed on
                                their phone, we will take them to the Apple App
                                Store to download and install it. Search for
                                your app on the Apple App Store. In the rare
                                case that the search fails, provide us your
                                app's App Store URL and Apple App Store ID. Our
                                docs here can help you locate them.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >App Store Search</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.ios.userPhoneDoesnotHaveApp
                                  .appStoreSearch
                              "
                              value="appStoreSearch"
                              name="appStoreSearch"
                            />
                          </div>
                        </div>
                        <div class="divider">
                          <span style="background-color:#f1f1f1; color: #9f9f9f"
                            >or</span
                          >
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >App Store URL</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Apple App Store ID</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            Universal Link
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP3"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP3">
                                Starting with iOS 9, Apple lets us open the app
                                with a universal link. Provide us your app's
                                Bundle Identifier and Apple App Prefix and we
                                will take care of all the setup needed to handle
                                this. You will find the App Prefix on your Apple
                                Developer Program web site on the App IDs page.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Bundle Identifier</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.ios.universalLink.bundleIdentifier
                              "
                              value="bundleIdentifier"
                              name="bundleIdentifier"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Apple App Prefix</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.ios.universalLink.appleAppPrefix
                              "
                              value="appleAppPrefix"
                              name="appleAppPrefix"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mx-0">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a
                          href="javascript:void(0);"
                          class="d-flex align-items-center collapsed"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          <i class="icon androidIcon mr-2"></i> Android App
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            When the user's phones has app
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP4"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP4">
                                Let us know URI scheme (your_app://) to open
                                your app if it already installed on the phone.
                                Look up developer docs to quickly add a URI
                                scheme entry to your app.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Android URI Scheme</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.android.userPhoneHasApp
                                  .androidURIScheme
                              "
                              value="androidURIScheme"
                              name="androidURIScheme"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            When the user's phones does not have the app
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP5"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP5">
                                If the user does not have the app installed on
                                their phone, we will take them to the Google
                                Play Store to download and install it. Search
                                for your app on the Google Play Store. In the
                                rare case that the search fails, provide us your
                                app's Google Play Store URL and Android Package
                                Name. Our docs here can help you locate them.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Google Play Store Search</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.android.userPhoneDoesnotHaveApp
                                  .playStoreSearch
                              "
                              value="playStoreSearch"
                              name="playStoreSearch"
                            />
                          </div>
                        </div>
                        <div class="divider">
                          <span style="background-color:#f1f1f1; color: #9f9f9f"
                            >or</span
                          >
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Play Store URL</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >Android Package Name</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="deviceUsageBlock mb-2">
                          <div class="usageTitle mb-1">
                            App Link
                            <span
                              class="icon info toolTip"
                              data-tooltip-content="#HasAPP6"
                            ></span>
                            <div class="tooltipTemplates">
                              <div class="toolTipInformation" id="HasAPP6">
                                Starting with Android 6.0 (API level 23), your
                                app can designate itself as the default handler
                                of a type of link. Provide us your SHA-256
                                fingerprint of your app's signing certificate
                                and we will take care of all the setup needed to
                                handle this. Look up our documentation on how to
                                extract the fingerprint from your keystore.
                              </div>
                            </div>
                          </div>
                          <div class="form-group w-100">
                            <label class="form-label formSubLabel"
                              >SHA256 Cert Fingerprints</label
                            >
                            <input
                              spellcheck="false"
                              type="text"
                              class="form-control"
                              [(ngModel)]="
                                techData.android.appLink.sha256CertFingerprint
                              "
                              value="sha256CertFingerprint"
                              name="sha256CertFingerprint"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mx-0">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <a
                          href="javascript:void(0);"
                          class="d-flex align-items-center collapsed"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          <i class="icon webUrlIcon mr-2"></i> Default URL (Web)
                          <span
                            class="ml-2 icon info toolTip"
                            data-tooltip-content="#HasAPP7"
                          ></span>
                          <div class="tooltipTemplates">
                            <div class="toolTipInformation" id="HasAPP7">
                              We take the user to this URL when the link is
                              opened on a desktop or laptop browser. This is
                              also the URL we use if you don't configure an iOS
                              or Android link.
                            </div>
                          </div>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        <div class="form-group w-100 mb-0">
                          <input
                            spellcheck="false"
                            type="text"
                            class="form-control"
                            [(ngModel)]="techData.web.defaultURLWeb"
                            value="defaultURLWeb"
                            name="defaultURLWeb"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div class="mobile-content">
                <div class="mobile-head text-center"><p>Refer</p></div>
                <div class="mobile-body">
                  <div
                    class="grey-bg px-2 py-1 d-flex align-items-center justify-content-between rounded"
                  >
                    <h5 class="m-0">40</h5>
                    <p class="grey-text font10">Total Referral</p>
                  </div>
                  <div class="p-2 text-center">
                    <p
                      class="font10 mb-2"
                      style="line-height: 11px; margin: 0 0 10px"
                    >
                      Refer the app to your friends and earn a token for each
                      successful download and install
                    </p>
                    <span class="icon user-default"></span>
                    <div class="link">
                      <a href="javascript:void(0);" class="font10"
                        >Share by link</a
                      >
                      <input
                        spellcheck="false"
                        type="text"
                        placeholder=""
                        class="form-control"
                      />
                      <Span class="icon copy"></Span>
                    </div>
                    <div
                      class="divider d-flex align-items-center justify-content-center"
                    >
                      <span class="white-bg font8">Or</span>
                    </div>
                    <div class="share-section">
                      <p class="font10">Share via social media</p>
                      <div class="share-box">
                        <span class="icon mobile-share-icon"></span>
                      </div>
                      <p class="black-text font-bold font10">Share Now</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    value="programId"
                    name="programId"
                    [(ngModel)]="referralData.programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
