<div class="content-wrap HomeList scroll">
  <div class="getStartedCard grey-bg pb-4 mb-4">
    <div
      class="d-flex justify-content-between blue-bg white-text p-2 border-radius-4 mb-4"
    >
      <div class="width60 p-4">
        <p class="font28 font-medium mb-2">
          Get started by adding <br />SmartKarrot SDK to your app now!
        </p>
        <p class="font16 font-regular mb-4">
          Our Core SDK is GDPR complaint and gives you FREE INSTANT <br />access
          to SmartEngagementScore<sup>TM</sup> and Segmentation.
        </p>
        <a
          target="_blank"
          href="http://docs.smartkarrot.com"
          class="btn btn-white font16 font-medium height40px border-radius-5"
          >Get SDK Now</a
        >
      </div>
      <div class="width40 d-flex justify-content-between py-4 mt-4">
        <div class="width33-33 pr-4">
          <div
            class="icon-GetStarted-Widget d-flex justify-content-center align-items-center"
          >
            <a
              target="_blank"
              href="https://docs.smartkarrot.com/?javascript#ios-sdk-integration"
            >
              <span class="icon-GetStarted ios"></span>
            </a>
          </div>
          <p>Apple <br />App Store</p>
        </div>
        <div class="width33-33 pr-4">
          <div
            class="icon-GetStarted-Widget d-flex justify-content-center align-items-center"
          >
            <a
              target="_blank"
              href="https://docs.smartkarrot.com/?javascript#android-sdk-integration"
            >
              <span class="icon-GetStarted android"></span>
            </a>
          </div>
          <p>Google <br />Play Store</p>
        </div>
        <div class="width33-33 pr-4">
          <div
            class="icon-GetStarted-Widget d-flex justify-content-center align-items-center"
          >
            <a
              target="_blank"
              href="http://docs.smartkarrot.com/?javascript#introduction"
            >
              <span class="icon-GetStarted web"></span>
            </a>
          </div>
          <p>Web <br /></p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column px-4 mb-3">
      <p class="font18 font-bold mb-2">Live</p>
      <div class="row px-2 align-content-stretch">
        <div class="col-md-4 px-2">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 brand-color">Referral</p>
                <p class="font14 grey-text getStartedDesc">
                  Design and launch Referral programs in minutes
                </p>
              </div>
              <a
                class="width35px"
                target="_blank"
                href="javascript:void(0)"
                (click)="open()"
              >
                <i class="icon icon-arrow-right-primary"></i>
              </a>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart2.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 brand-color">Survey/ Feedback</p>
                <p class="font14 grey-text getStartedDesc">
                  Design and launch Survey/ Feedback programs in minutes
                </p>
              </div>
              <a class="width35px" target="_blank" href="javascript:void(0)">
                <i class="icon icon-arrow-right-primary"></i>
              </a>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart3.png" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 px-2">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Rich Push Notifications</p>
                <p class="font14 grey-text getStartedDesc">
                  Design and launch Rich Push Notifications in minutes
                </p>

                <i class="icon icon-arrow-right-gray"></i>
              </div>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart8.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column px-4">
      <p class="font18 font-bold mb-2 blue-text">Coming Soon</p>
      <div class="row px-2 align-content-stretch">
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Wallet</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart4.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Donation / Charity</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart5.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Gamification</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart6.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Report a Bug</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart7.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Digital Adoption</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart8.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          >
            <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">In App Chat</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart9.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-2 mb-4">
          <!-- <div
            class="d-flex white-bg border-1 border-color border-radius-4 p-4 height100"
          > -->
          <!-- <div class="d-flex justify-content-between width70 flex-column">
              <div>
                <p class="font22 secondary-color">Mobile LMS</p>
                <p class="font14 grey-text getStartedDesc"></p>
              </div>
              <i class="icon icon-arrow-right-gray"></i>
            </div>
            <div
              class="d-flex width30 align-items-end justify-content-end height100"
            >
              <div>
                <img class="width100" src="./assets/images/GetStart8.png" />
              </div>
            </div> -->
          <!-- </div> -->
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
