<div class="row">
  <div class="MiddlePanelWidget position-relative">
    <div class="wizard-btns floatingWizard position-absolute d-flex justify-content-between SurveyCompletedWidget" *ngIf="!stopAddQuestion">
      <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs disabled">
      </a>
      <a href="javascript:void(0)" (click)="addNewQuestion()" class="d-flex secbut addNewQuestion add-more-widget width160px mb-0">
        <span class="list-inline-item add-more-new rounded-circle blue-bg">
          <span class="icon icon-addSmallWhite"></span>
        </span>
        <span class="list-inline-item">Add New Question</span>
      </a>
      <a href="javascript:void(0)" (click)="stopAddQuestion = true" class="d-inline-block secbut CompleteSurvey">
        Done<i class="icon rightArrowIcon"></i>
      </a>
    </div>
    <div *ngIf="stopAddQuestion" class="wizard-btns floatingWizard position-absolute justify-content-between SurveyCompleted">
      <a href="javascript:void(0)" (click)="stopAddQuestion = false;" class="d-inline-block mr-2 secbut BackToSurvey">
        <i class="icon leftArrowIcon mr-1"></i>Back
      </a>
      <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs float-right" (click)="pageChange('config-welcome')">
        Next<i class="icon rightArrowIcon"></i>
      </a>
    </div>
    <app-question [ngClass]="{'survey-error': questionError}" [question]="questionSelected" (onQuestionChange)="onQuestionChange($event)"></app-question>
  </div>

  <div class="ruleUIReview">
    <div class="PanelRightContent height100">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex flex-column align-items-start justify-content-start scrollbar" *ngIf="!isWebApp">
          <div class="font10 darker-grey-text mb-3">Question List</div>
          <ul class="d-flex flex-column justify-content-start w-100 questionList">
            <li class="questionItem black-text p-0 mb-2 default" [ngClass]="{'active': questionSelected.qid == question.qid}" (click)="selectQuestion(question)"
              *ngFor="let question of questionsList; let in = index; trackBy: customTrackBy">
              <div class="d-flex position-relative questionContainer p-2">
                <span class="d-flex questionContent font10 secondary-color font-light w-100">
                  {{question.question}}
                </span>
                <span *ngIf="this.questionsList.length > 1" class="deleteBtn d-flex justify-content-center align-items-center">
                  <i (click)="removeQuestion(question)" class="icon icon-delete-sm-blue"></i>
                </span>
              </div>
              <ul class="d-flex flex-column justify-content-start w-100 questionListSub pl-2">
                <li class="questionItemSub black-text p-0 mt-2 default" *ngFor="let followQuestion of question.followUp; let ind = index; trackBy: customTrackBy">
                  <div class="d-flex position-relative questionContainerSub p-2">
                    <span class="d-flex questionContentSub font10 secondary-color font-light w-100">
                      {{followQuestion.question}}
                    </span>
                    <span class="deleteBtn d-flex justify-content-center align-items-center">
                      <i (click)="removeFollowQuestion(question, followQuestion)" class="icon icon-delete-sm-blue"></i>
                    </span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <div class="form-group w-100 m-0 pt-2">
              <label class="black-text font-bold">Survey Name</label>
              <input [ngClass]="{'showError': showError}" type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="ACCOUNT NAME_SURVEY_01"
                (ngModelChange)="onNameChange($event)" [(ngModel)]="surveyName" />
              <div class="invalid-feedback" [ngClass]="{'showError': showError}">
                Please provide a valid name.
              </div>
            </div>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" (click)="cancelSurvey()" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" (click)="saveSurvey()" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>