<div class="user-container ">
  <!-- Main Content Comes Here-->
  <div class="user-content data-content">
    <header>
      <nav
        class="navbar navbar-expand-lg pb-3"
        style="padding-top: 1rem!important;"
      >
        <div class="black-text font16 font-medium">
          User Count({{ totalUserCount }})
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse d-flex align-items-center justify-content-end"
          id="navbarSupportedContent"
        >
          <button
            class="btn btn-secondary light mr-3"
            style="border-radius: 25px;font-size: 12px;"
            (click)="setCancelFunc($event)"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary mr-3"
            style="border-radius: 25px; font-size: 12px;"
            (click)="setDoneFunc($event)"
          >
            Done
          </button>
          <!-- Search icon-->
          <form class="header-search form-inline my-2 my-lg-0">
            <input
              class="form-control"
              type="search"
              placeholder="Search User"
              aria-label="Search User"
              [(ngModel)]="searchText"
              name="searchText"
            />
            <button class="SearchBtn" type="submit" (click)="searchInUsercount(searchText)">
              <i class="iconSearchBtn"></i>
            </button>
          </form>
        </div>
      </nav>
    </header>
    <!-- Table Data -->
    <div class="content-wrap data-table-container">
      <table class="table table-borderless table-hover" id="data-table-content">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Mobile No.</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Platform</th>
            <th>OS Version</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let userInfo of userList">
            <tr>
              <td style="width: 21%;">{{ userInfo.userId }}</td>
              <td>{{ userInfo.userName }}</td>
              <td>{{ userInfo.email }}</td>
              <td>{{ userInfo.mobile }}</td>
              <td>{{ userInfo.age }}</td>
              <td>{{ userInfo.gender }}</td>
              <td>{{ userInfo.country }}</td>
              <td>{{ userInfo.platform }}</td>
              <td>{{ userInfo.osVersion }}</td>
              <td>
                <a
                  *ngIf="!userInfo.isExcluded"
                  href="#"
                  class="includeState active"
                  (click)="changeUserStatus(userInfo, true)"
                  >Exclude</a
                >
                <a
                  *ngIf="userInfo.isExcluded"
                  href="#"
                  class="includeState"
                  (click)="changeUserStatus(userInfo, false)"
                  >Include Back</a
                >
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="nextToken">
      <a
        (click)="fetchMoreUsersInSegment($event)"
        style="float: right;cursor: pointer;padding-right:20px"
      >
        More....
      </a>
    </ng-container>
  </div>
</div>
