<div class="cardContent w-100 position-relative">
  <div class="IndexContent active duration w-100 px-2 justify-content-between">
    <div class="ContentContainer white-bg d-flex w-100 p-2 pr-4 pl-5 position-relative">
      <!-- <span class="FrontModalClose position-absolute"><i class="icon close"></i></span> -->
      <a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
      <div class="DurationContent w-100 position-relative my-2">
        <div class="cardTitle d-flex justify-content-between align-items-start">
          <div class="font-medium font16">Retention Cohort Analysis</div>
          <div class="form-group selectbox width160px d-flex m-0">
              <select [(ngModel)]="selectedSortOption" (change)="changeSubOptions()" class="form-control DateSelect" data-placeholder="Select Type">
                  <!-- <option value="">Choose a Cohort</option> -->
                  <option *ngFor="let sortOption of sortOptions" value={{sortOption}}>
                      {{sortOption | titlecase}}
                  </option>
                </select>
              <select [(ngModel)]="selectedSortSubOption" (change)="changeParams()" class="form-control DateSelect" data-placeholder="Select Type">
                  <!-- <option value="" *ngIf="selectedSortOption">Choose a {{selectedSortOption}}</option> -->
                  <option *ngFor="let sortOption of sortSubOptions" value={{sortOption}}>
                      {{sortOption | titlecase}}
                  </option>
                </select>
          </div>
        </div>
        <div class="mt-4 pl-2">
          <app-retention-bar-chart *ngIf="retentionIndexData" [data]="retentionIndexData" [unit]="unit"></app-retention-bar-chart>
          <p class="font14 blue-text font-medium loader" *ngIf="!retentionIndexData">Please wait loading data</p>
        </div>
      </div>
    </div>
  </div>
</div>