<div class="home-container">
  <div class="row">
    <div class="col-lg-7">
      <div class="segments d-flex align-items-center justify-content-center">
        <div class="home-content">
          <h2 class="black-text font-bold">Know how it works</h2>
          <p>Configure & plan for best result with user segment feature</p>
          <!-- <div class="video-section"> -->
          <iframe
            width="470"
            height="250"
            src="https://www.youtube.com/embed/kbAQidXLaWs?autoplay=0"
          >
          </iframe>
          <!-- </div> -->
        </div>
        <div class="know-more-option d-flex align-items-center">
          <span>Dont Show this message again</span>
          <div (click)="gotoSegmentList($event)"><a href="">Got it</a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div
        class="home-right height100 d-flex flex-column justify-content-between"
      >
        <div
          class="segments mb-4 d-flex align-items-center justify-content-start"
        >
          <div class="home-content">
            <h4 class="font-bold">User Group</h4>
            <p>Create User Group to collect & exchange user data.</p>
            <p>You can add, modify & delete user groups.</p>
            <a href="javascript:void(0);"
              >Go to usergroup in segments and add users.</a
            >
            <p>Users not added yet!</p>
          </div>
        </div>
        <div class="segments d-flex align-items-center justify-content-center">
          <div class="home-content">
            <h4 class="font-bold">User Segments</h4>
            <p>
              Dynamic user group can be created on user attributes, platform and
              events.
            </p>
            <p>Create rules, parameters</p>
            <p>Apply features/ actions to particular groups, segments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
