// .card {
//     height: 100%;
// }

// .card .card-header {
//     background: #f1f1f1;
// }

// .card .card-body {
//     background: #f1f1f1;
// }

// .card .card-footer {
//     background: #fff;
// }

// .handle-cursor {
//     cursor: pointer;
// }

// .vertical-middle-wrapper {
//  position: relative;
//     .segment-content {
//         margin: 0;
//         position: absolute;
//         top: 50%;
//         transform: translate(0, -50%);
//         p {
//             font-size: 22px;
//             color: #000000;
//             font-family: "robotoregular";
//             display: inline-block;
//             margin-bottom: 0em;
//         }
//     }
// }

// .blue-text {
//     color: #5306e0 !important;
// }

// .ellapse {
//     display: inline-block;
//     height: 13px;
//     width: 29px;
//     vertical-align: middle;
//     text-align: center;
//     box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
//     border-radius: 7px;
//     margin-left: 5px;
//     background-color: #fff;
// }

// .plus-icon {
//     float:left;
//     margin-right:8px;
//     box-sizing:content-box;
//     //display:inline-block!important;
//     position:relative;
//     width:48px;
//     height:48px;
//     border-radius:100%;
//     background:rgba(0,0,0,0);
// }
// .plus-icon:before {
//     position:absolute;
//     content:'';
//     margin:auto;
//     width:calc(48px/24);
//     height:calc(48px/1.5);
//     background-color:#666666;
//     top:0;
//     bottom:
//     0;
//     left:0;
//     right:0
// }
// .plus-icon:after {
//     position:absolute;
//     content:'';
//     margin:auto;
//     width:calc(48px/1.5);
//     height:calc(48px/24);
//     background-color:#666666;
//     top:0;
//     bottom:0;
//     left:0;
//     right:0
// }

// .text-muted {
//     color: #000000 !important;
// }
