<div class="profileaddresschangestep6  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep4"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep6"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form class="AddAccountWidget">
              <div class="field-container">
                <h5 class="font-bold black-text white-bg">
                  Choose Color Palette
                </h5>
                <div class="w-50 position-relative">
                  <div class="form-group">
                    <div class="w-50 position-relative">
                      <div
                        class="form-group d-flex align-items-center color-field"
                      >
                        <input
                          spellcheck="false"
                          type="color"
                          class="form-control WithdrawalColorPalette1"
                          value="#6b8e23"
                        />
                      </div>
                      <div
                        class="form-group d-flex align-items-center color-code"
                      >
                        <input
                          spellcheck="false"
                          type="text"
                          class="form-control WithdrawalColorPalette1"
                          value="#6b8e23"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field-widget">
                <div class="field-container">
                  <h5 class="font-bold black-text white-bg">Field Name</h5>
                  <div class="w-50 position-relative">
                    <div class="form-group">
                      <input
                        spellcheck="false"
                        type="text"
                        title="AddAccountInput1"
                        class="form-control AddAccountInput"
                        placeholder="Text Here"
                        value="Rounting Number"
                      />
                    </div>
                  </div>
                </div>
                <div class="field-container">
                  <h5 class="font-bold black-text white-bg">Field Name</h5>
                  <div class="w-50 position-relative">
                    <div class="form-group">
                      <input
                        spellcheck="false"
                        type="text"
                        title="AddAccountInput2"
                        class="form-control AddAccountInput"
                        placeholder="Text Here"
                        value="Account Number"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-inline add-more-widget add-account-field">
                <span class="list-inline-item add-more-new rounded-circle"
                  ><span class="icon icon-addSmall"></span
                ></span>
                <span class="list-inline-item">Add New Field</span>
              </div>
              <div class="field-container">
                <h5 class="font-bold black-text white-bg mt-4">
                  Choose CTA Color
                </h5>
                <div class="w-50 position-relative">
                  <div class="form-group">
                    <div class="w-50 position-relative">
                      <div
                        class="form-group d-flex align-items-center color-field"
                      >
                        <input
                          spellcheck="false"
                          type="color"
                          class="form-control WithdrawalColorPalette2"
                          value="#6b8e23"
                        />
                      </div>
                      <div
                        class="form-group d-flex align-items-center color-code"
                      >
                        <input
                          spellcheck="false"
                          type="text"
                          class="form-control WithdrawalColorPalette2"
                          value="#6b8e23"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div class="mobile-container">
              <div
                class="mobile-content position-relative mobapp-container"
                [ngStyle]="{
                  display: referralData.webAppOnly === true ? 'none' : 'block'
                }"
              >
                <div class="mobile-head text-center mobile-head-withdrawal">
                  <p class="MobileWithdrawalReferTitle">Withdraw</p>
                </div>
                <div
                  class="mobile-body AddAccountBody text-center p-2 position-relative"
                >
                  <ul class="data-list addAccountInputMob">
                    <li class="AddAccountInput1">Rounting Number</li>
                    <li class="AddAccountInput2">Account Number</li>
                  </ul>
                </div>
                <div
                  class="position-absolute p-2 text-center add-footer-withdrawal"
                  style="bottom:10px;left:10px; right:10px; background: #6b8e23; color:#fff; border-radius: 15px;"
                >
                  Add
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    placeholder="ACCOUNT NAME_REFERRAL_01"
                    value="ACCOUNT NAME_REFERRAL_01"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
