.settingsCard {
  height: 100%;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin: 0;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
}

.headerFieldssettings {
  // background: lightgray;
  // width: 20%;
  // border-radius: 20px;
  // text-align: center;
  font-size: 15px;
  color: black;
  padding-top: 2%;
}

span.hoverText:hover {
  overflow: visible;
  white-space: normal;
  width: auto;
}

.appNameStyle {
  font-size: 14px;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  cursor: pointer;
}
