<div class="height100 w-100 p-3" style="overflow: scroll;">
  <div class="height100 py-4 white-bg border-radius-4">
    <div class="row referralRow px-4 position-relative">
      <div class="col-4 col-xl-3 mb-4">
        <div class="card settingsCard">
          <div
            class="card-body d-flex align-items-center justify-content-start"
          >
            <div class="segment-create" (click)="appsOnboard()">
              <a class="newAppSettings"
                >Add New App? <br />
                Start here.</a
              >
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let eachApp of appDetails" class="col-4 col-xl-3 mb-4">
        <div class="card settingsCard white-bg">
          <div class="card-body p-3 d-flex flex-column justify-content-start">
            <div *ngFor="let platform of eachApp.platformsConfigured">
              <span for="all icons of app">
                <div *ngIf="platform == 'iOS'">
                  <div
                    class="font12 darker-grey-text"
                    style="text-align: right;"
                  >
                    <i class="icon icon-apple-sm"></i> iOS
                  </div>
                </div>
                <div *ngIf="platform == 'Android'">
                  <div
                    class="font12 darker-grey-text"
                    style="text-align: right;margin-top: -7%; padding-right: 16%;"
                  >
                    <i class="icon icon-android-sm"></i> Android
                  </div>
                </div>
                <div *ngIf="platform == 'Web'">
                  <div
                    class="font12 darker-grey-text"
                    style="text-align: center;margin-top: -7%;"
                  >
                    <i class="icon"></i> Web
                  </div>
                </div>
              </span>
            </div>

            <div class="w-100 d-flex align-items-center mb-3">
              <img
                [src]="eachApp.appIconUrl"
                style="width: 40px;height: 40px;"
              />
              <div class="d-flex flex-column ml-2">
                <span class="font-medium hoverText appNameStyle">{{
                  eachApp.appName
                }}</span>
                <span class="font10 darker-grey-text hoverText appNameStyle">{{
                  eachApp.subtitle
                }}</span>
              </div>
            </div>
            <div class="w-100 d-flex mb-3">
              <p style="color:black"><b>AppId</b> &nbsp;</p>
            </div>
            <div class="w-100 d-flex">
              <h5 style="color: gray;margin-top: -12px;">
                {{ eachApp.appId }}
              </h5>
              <!-- <a class="fa fa-copy" (click)="copyToClipboard(eachApp.appId)"></a> -->
            </div>
            <div *ngIf="eachApp.sdkDeployStatus == 'NotStarted'">
              <span class="mt-2 darker-grey-text">
                <a target="_blank" href="http://docs.smartkarrot.com">
                  <img [src]="verifyIcon" width="4%" /> Verify Now
                </a>
              </span>
            </div>
            <div *ngIf="eachApp.sdkDeployStatus == Deployed">
              <span class="mt-2 darker-grey-text">
                <img [src]="verifiedIcon" width="4%" />Verified</span
              >
            </div>
            <div style="text-align: right;margin-top: -22px;cursor: pointer;">
              <a (click)="editApp(eachApp.appId)">
                <i class="icon icon-edit"></i> Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- app Creation modal -->
<div id="appsOnboard" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 60% !important;">
    <div class="modal-content">
      <div class="GettingStartedForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          style="padding: 4%;"
        >
          &times;
        </button>
        <form [formGroup]="generalForm" (ngSubmit)="onSubmit()">
          <div
            class="form-group mb-3"
            style="padding-top: 2%;padding-left: 4%;"
          >
            <label for="appNameInput" class="font12 font-bold">App Name</label>
            <div
              class="FlagInput d-flex align-items-center border-1 border-color width40"
            >
              <input
                list="appList"
                class="form-control height30px font16 font-regular black-textt m-0 border-0"
                name="appName"
                (change)="onInputChanged(appName)"
                (keyup)="search()"
                placeholder="Enter your App Name"
                name="appName"
                id="appName"
                formControlName="appName"
              />
              <datalist id="appList" *ngIf="searchResults.length > 0">
                <option
                  *ngFor="let item of searchResults"
                  style="background-image:url(item.artworkUrl60);"
                  value="{{ item.trackCensoredName }}"
                ></option>
              </datalist>
            </div>
          </div>
          <!-- <label style="padding-left:4%"><b>Select Platform</b></label> -->
          <ul
            class="nav nav-tabs"
            id="myTab"
            role="tablist"
            style="padding: 0px 0px 3px 20px;"
          >
            <li class="nav-item">
              <a
                class="nav-link active font14 pb-2 mr-4"
                id="android-tab"
                data-toggle="tab"
                href="#android"
                role="tab"
                aria-controls="Android"
                aria-selected="true"
                style="border: none;background-color: white;"
                ><i class="icon icon-android mr-1"></i>Android</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link font14 pb-2 mr-4"
                id="ios-tab"
                data-toggle="tab"
                href="#ios"
                role="tab"
                aria-controls="iOS"
                aria-selected="false"
                style="border: none;background-color: white;"
                ><i class="icon icon-apple mr-1"></i>iOS</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link font14 pb-2 mr-4"
                id="web-tab"
                data-toggle="tab"
                href="#web"
                role="tab"
                aria-controls="web"
                aria-selected="false"
                style="border: none;background-color: white;"
                >Web</a
              >
            </li>
          </ul>
          <div
            class="tab-content"
            id="myTabContent"
            style="background: white;border: none;height: 5%;"
          >
            <div
              class="tab-pane fade show active"
              role="tabpanel"
              aria-labelledby="android"
              style="top:2%;left: 4%"
              name="appandroid"
              id="android"
            >
              <div class="form-group mb-3 width40">
                <label for="packageName" class="font12 font-bold"
                  >Package Name</label
                >
                <input
                  type="search"
                  class="form-control
                      height30px font12 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Package Name"
                  name="packageName"
                  formControlName="packageName"
                />
              </div>
              <div
                class="card"
                style="width: 60%;border: 1px solid #cccccc6e; height: 75%;"
              >
                <div class="card-body">
                  <p class="card-title" style="font-size: 15px;">
                    SmartEnagagementScore<sup>TM</sup> &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ SmartEnagagementScore }}"
                    ></span>
                  </p>
                  <p class="headerFieldssettings" style="padding-top: 3%">
                    <b>Push Notification</b>&nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ PushNotification }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="ApiKey" class="font12 font-bold">API Key</label>
                    <input
                      type="text"
                      class="form-control height30px font12 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter API key"
                      name="ApiKey"
                      formControlName="ApiKey"
                    />
                  </div>
                  <p class="headerFieldssettings">
                    <b>FeedBack</b> &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ FeedBack }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="clientId" class="font12 font-bold"
                      >Client Id</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font12 font-regular black-text"
                      spellcheck="false"
                      placeholder="Client Id"
                      name="clientId"
                      formControlName="clientId"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="clientSecret" class="font12 font-bold"
                      >Client Secret Key</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font12 font-regular black-text"
                      spellcheck="false"
                      placeholder="Client Secret Key"
                      name="clientSecretKey"
                      formControlName="clientSecretKey"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="refreshToken" class="font12 font-bold"
                      >Refresh Token</label
                    >
                    <input
                      type="text"
                      class="form-control height30px font12 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter Refresh Token"
                      name="RefreshToken"
                      formControlName="RefreshToken"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="ios"
              style="top:2%;left: 4%"
              name="appios"
              id="ios"
            >
              <div class="form-group mb-3 width40">
                <label for="bundleInput" class="font12 font-bold"
                  >Bundle Identifier</label
                >
                <input
                  type="search"
                  class="form-control
                      height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Bundle Identifier"
                  name="bundleIdentitfier"
                  formControlName="bundleIdentitfier"
                />
              </div>
              <div class="form-group mb-3 width40">
                <label for="appStoreId" class="font12 font-bold"
                  >App Store ID &nbsp;
                  <span
                    class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="{{ AppStoreID }}"
                  ></span
                ></label>
                <input
                  type="text"
                  class="form-control
                        height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your App Store ID"
                  name="appStoreId"
                  formControlName="appStoreId"
                />
              </div>
              <div
                class="card"
                style="width: 60%;border: 1px solid #cccccc6e;height: 60%;"
              >
                <div class="card-body">
                  <p class="card-title" style="font-size: 15px;">
                    SmartEnagagementScore<sup>TM</sup> &nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ SmartEnagagementScore }}"
                    ></span>
                  </p>
                  <p class="headerFieldssettings" style="padding-top: 3%">
                    <b>Push Notification</b>&nbsp;
                    <span
                      class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ PushNotification }}"
                    ></span>
                  </p>
                  <div class="form-group mb-3 width40">
                    <label for="file" class="font12 font-bold"
                      >Choose P12 file</label
                    >
                    <!-- <button (click)="readFile()">readFile</button> -->
                    <input
                      type="file"
                      class="form-control height40px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter password for file"
                      name="file"
                      id="file"
                      formControlName="file"
                      (onchange)="previewFile()"
                    />
                  </div>
                  <div class="form-group mb-3 width40">
                    <label for="password" class="font12 font-bold"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control height30px font16 font-regular black-text"
                      spellcheck="false"
                      placeholder="Enter password for file"
                      name="password"
                      formControlName="password"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              role="tabpanel"
              aria-labelledby="web"
              style="top:2%;left: 4%"
              name="Domain"
              id="web"
            >
              <div class="form-group mb-3 width40">
                <label for="domainName" class="font12 font-bold"
                  >Domain Name</label
                >
                <input
                  type="text"
                  class="form-control
                            height30px font16 font-regular black-text"
                  spellcheck="false"
                  placeholder="Your Domain Name"
                  name="domainName"
                  formControlName="domainName"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align: left;padding-left: 2%;">
            <button
              type="submit"
              class="btn btn-outline-secondary mr-3"
              (click)="reset()"
              style="border-radius: 15px;border-color: black; color:#333"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary AddAndNext"
              style="border-radius: 15px"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Edit App modal -->
<div id="editApps" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 60% !important;">
    <div class="modal-content">
      <div class="GettingStartedForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          style="padding: 4%;"
        >
          &times;
        </button>
        <div class="AnalyticsBody">
          <form [formGroup]="generalForm" (ngSubmit)="saveEditedApp()">
            <div
              class="form-group mb-3"
              style="padding-top: 2%;padding-left: 4%;"
            >
              <label for="appNameInput" class="font12 font-bold"
                >App Name</label
              >
              <div *ngIf="editAppDetails">
                <div
                  class="FlagInput d-flex align-items-center border-1 border-color width40"
                >
                  <input
                    list="appList"
                    class="form-control height30px font12 font-regular black-textt m-0 border-0"
                    name="appName"
                    (change)="onInputChanged(appName)"
                    (keyup)="search()"
                    placeholder="Enter your App Name"
                    name="appName"
                    id="appName"
                    formControlName="appName"
                    [(ngModel)]="editAppDetails.appName"
                  />
                  <datalist id="appList" *ngIf="searchResults.length > 0">
                    <option
                      *ngFor="let item of searchResults"
                      style="background-image:url(item.artworkUrl60);"
                      value="{{ item.trackCensoredName }}"
                    ></option>
                  </datalist>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active font14 pb-2 mr-4"
                      id="android-tab"
                      data-toggle="tab"
                      href="#editandroid"
                      role="tab"
                      aria-controls="Android"
                      aria-selected="true"
                      style="border: none;background-color: white;"
                      ><i class="icon icon-android mr-1"></i>Android</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link font14 pb-2 mr-4"
                      id="ios-tab"
                      data-toggle="tab"
                      href="#editios"
                      role="tab"
                      aria-controls="iOS"
                      aria-selected="false"
                      style="border: none;background-color: white;"
                      ><i class="icon icon-apple mr-1"></i>iOS</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link font14 pb-2 mr-4"
                      id="web-tab"
                      data-toggle="tab"
                      href="#editweb"
                      role="tab"
                      aria-controls="web"
                      aria-selected="false"
                      style="border: none;background-color: white;"
                      >Web</a
                    >
                  </li>
                </ul>
                <div
                  class="tab-content"
                  id="myTabContent"
                  style="background: white;border: none;height: 5%;"
                >
                  <div
                    class="tab-pane fade show active"
                    role="tabpanel"
                    aria-labelledby="android"
                    style="top:2%;left: 4%"
                    name="appandroid"
                    id="editandroid"
                  >
                    <div class="form-group mb-3 width40">
                      <label for="packageName" class="font12 font-bold"
                        >Package Name</label
                      >
                      <input
                        type="search"
                        class="form-control
                            height30px font12 font-regular black-text"
                        spellcheck="false"
                        placeholder="Your Package Name"
                        name="packageName"
                        formControlName="packageName"
                        [(ngModel)]="
                          editAppDetails.platforms[1].bundleIdOrPackageName
                        "
                      />
                    </div>
                    <div
                      class="card"
                      style="width: 60%;border: 1px solid #cccccc6e;height: 75%"
                    >
                      <div class="card-body">
                        <p class="card-title" style="font-size: 15px;">
                          SmartEnagagementScore<sup>TM</sup> &nbsp;
                          <span
                            class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ SmartEnagagementScore }}"
                          ></span>
                        </p>
                        <p class="headerFieldssettings" style="padding-top: 3%">
                          <b>Push Notification</b>&nbsp;
                          <span
                            class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ PushNotification }}"
                          ></span>
                        </p>
                        <div class="form-group mb-3 width40">
                          <label for="ApiKey" class="font12 font-bold"
                            >API Key</label
                          >
                          <input
                            type="text"
                            class="form-control height30px font12 font-regular black-text"
                            spellcheck="false"
                            placeholder="Enter API key"
                            name="ApiKey"
                            formControlName="ApiKey"
                            [(ngModel)]="
                              editAppDetails.platforms[1].androidFCMAPIKey
                            "
                          />
                        </div>
                        <p class="headerFieldssettings">
                          <b>FeedBack</b> &nbsp;
                          <span
                            class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ FeedBack }}"
                          ></span>
                        </p>
                        <div class="form-group mb-3 width40">
                          <label for="clientId" class="font12 font-bold"
                            >Client Id</label
                          >
                          <input
                            type="text"
                            class="form-control height30px font12 font-regular black-text"
                            spellcheck="false"
                            placeholder="Client Id"
                            name="clientId"
                            formControlName="clientId"
                            [(ngModel)]="
                              editAppDetails.platforms[1].playstoreClientId
                            "
                          />
                        </div>
                        <div class="form-group mb-3 width40">
                          <label for="clientSecret" class="font12 font-bold"
                            >Client Secret Key</label
                          >
                          <input
                            type="text"
                            class="form-control height30px font12 font-regular black-text"
                            spellcheck="false"
                            placeholder="Client Secret Key"
                            name="clientSecretKey"
                            formControlName="clientSecretKey"
                            [(ngModel)]="
                              editAppDetails.platforms[1].playstoreClientSecret
                            "
                          />
                        </div>
                        <div class="form-group mb-3 width40">
                          <label for="refreshToken" class="font12 font-bold"
                            >Refresh Token</label
                          >
                          <input
                            type="text"
                            class="form-control height30px font12 font-regular black-text"
                            spellcheck="false"
                            placeholder="Enter Refresh Token"
                            name="RefreshToken"
                            formControlName="RefreshToken"
                            [(ngModel)]="
                              editAppDetails.platforms[1].playstoreRefreshToken
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade"
                    role="tabpanel"
                    aria-labelledby="ios"
                    style="top:2%;left: 4%"
                    name="appios"
                    id="editios"
                  >
                    <div class="form-group mb-3 width40">
                      <label for="bundleInput" class="font12 font-bold"
                        >Bundle Identifier</label
                      >
                      <input
                        type="search"
                        class="form-control
                              height30px font16 font-regular black-text"
                        spellcheck="false"
                        placeholder="Your Bundle Identifier"
                        name="bundleIdentitfier"
                        formControlName="bundleIdentitfier"
                        [(ngModel)]="
                          editAppDetails.platforms[0].bundleIdOrPackageName
                        "
                      />
                    </div>
                    <div class="form-group mb-3 width40">
                      <label for="appStoreId" class="font12 font-bold"
                        >App Store ID &nbsp;
                        <span
                          class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="{{ AppStoreID }}"
                        ></span
                      ></label>
                      <input
                        type="text"
                        class="form-control
                                height30px font16 font-regular black-text"
                        spellcheck="false"
                        placeholder="Your App Store ID"
                        name="appStoreId"
                        formControlName="appStoreId"
                        [(ngModel)]="editAppDetails.platforms[0].storeId"
                      />
                    </div>
                    <div
                      class="card"
                      style="width: 60%;border: 1px solid #cccccc6e;height: 60%"
                    >
                      <div class="card-body">
                        <p class="card-title" style="font-size: 15px;">
                          SmartEnagagementScore<sup>TM</sup> &nbsp;
                          <span
                            class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ SmartEnagagementScore }}"
                          ></span>
                        </p>
                        <p class="headerFieldssettings" style="padding-top: 3%">
                          <b>Push Notification</b>&nbsp;
                          <span
                            class="icon info toolTip font14 m-0 font-bold black-text mr-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="{{ PushNotification }}"
                          ></span>
                        </p>
                        <div class="form-group mb-3 width40">
                          <label for="file" class="font12 font-bold"
                            >Choose P12 file</label
                          >
                          <input
                            type="file"
                            class="form-control height40px font16 font-regular black-text"
                            spellcheck="false"
                            placeholder="Enter password for file"
                            name="file"
                            id="file"
                            formControlName="file"
                            (onchange)="previewFile()"
                            [(ngModel)]="
                              editAppDetails.platforms[0]
                                .iosAPNSCertificateKeyStstus
                            "
                          />
                          <div
                            *ngIf="
                              editAppDetails.platforms[0]
                                .iosAPNSCertificateKeyStatus ==
                                InvalidCertificate ||
                              editAppDetails.platforms[0]
                                .iosAPNSCertificateKeyStatus == Expired
                            "
                          >
                            <h6 style="color:red">
                              Certificate is either Invalid or Expired
                            </h6>
                          </div>
                          <div
                            *ngIf="
                              editAppDetails.platforms[0]
                                .iosAPNSCertificateKeyStatus == Configured
                            "
                          >
                            <h6 style="color:green">
                              Certificate is configured
                            </h6>
                          </div>
                        </div>
                        <div class="form-group mb-3 width40">
                          <label for="password" class="font12 font-bold"
                            >Password</label
                          >
                          <input
                            type="password"
                            class="form-control height30px font16 font-regular black-text"
                            spellcheck="false"
                            placeholder="Enter password for file"
                            name="password"
                            formControlName="password"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade"
                    role="tabpanel"
                    aria-labelledby="web"
                    style="top:2%;left: 4%"
                    name="Domain"
                    id="editweb"
                  >
                    <div class="form-group mb-3 width40">
                      <label for="domainName" class="font12 font-bold"
                        >Domain Name</label
                      >
                      <input
                        type="text"
                        class="form-control
                                    height30px font16 font-regular black-text"
                        spellcheck="false"
                        placeholder="Your Domain Name"
                        name="domainName"
                        formControlName="domainName"
                        [(ngModel)]="editAppDetails.platforms[2].domainName"
                        required
                      />
                    </div>
                  </div>
                </div>
                <!-- buttons form -->
                <div
                  class="form-group"
                  style="text-align: right;padding-right: 2%;"
                >
                  <button
                    type="submit"
                    class="btn  mr-3"
                    data-dismiss="modal"
                    style="border-radius: 15px;border-color: black; color:#333"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary AddAndNext"
                    style="border-radius: 15px"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
