<!-- <div class="height100 w-100 p-3">
  <div class="height100 py-4 white-bg border-radius-4">
    <ul class="nav nav-tabs px-4 pt-0" id="ProfileTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active font13 pb-1 mr-4"
          id="billing-tab"
          data-toggle="tab"
          href="#billing"
          role="tab"
          aria-controls="billing"
          aria-selected="true"
          >Billing</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font13 pb-1 mr-4"
          id="usage-tab"
          data-toggle="tab"
          href="#usage"
          role="tab"
          aria-controls="usage"
          aria-selected="false"
          >Usage</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font13 pb-1 mr-4"
          id="paymentHistory-tab"
          data-toggle="tab"
          href="#paymentHistory"
          role="tab"
          aria-controls="paymentHistory"
          aria-selected="false"
          >Payment History</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font13 pb-1 mr-4"
          id="paymentMethod-tab"
          data-toggle="tab"
          href="#paymentMethod"
          role="tab"
          aria-controls="paymentMethod"
          aria-selected="false"
          >Payment Method</a
        >
      </li>
    </ul>
    <div
      class="tab-content min-height-100 height100 py-3"
      id="ProfileTabContent"
    >
      <div
        class="tab-pane fade show active"
        id="billing"
        role="tabpanel"
        aria-labelledby="billing"
      >
        <div class="scrollbar px-4">
          <form class="d-flex flex-column" action="#">
            <div class="form-group width100 pr-2">
              <label class="font-bold black-text mb-0"
                >Plan Type: <span class="brand-color">BASIC</span></label
              >
            </div>
            <div class="d-flex">
              <div class="form-group width200px pr-3">
                <label class="font-bold black-text">Current Due Amount</label>
                <div class="d-flex align-items-center">
                  <input
                    class="form-control m-0"
                    type="text"
                    placeholder="Enter the Amount"
                    value="$2295.95 USD"
                    required
                  />
                </div>
              </div>
              <div class="form-group width200px pr-3">
                <label class="font-bold black-text">Payment Due Amount</label>
                <div class="d-flex align-items-center">
                  <input
                    class="form-control m-0"
                    type="text"
                    placeholder="Enter the Date"
                    value="25 Dec 2018"
                    required
                  />
                </div>
              </div>
              <div
                class="form-group width50px pr-3 text-center d-flex align-items-end justify-content-center"
              >
                <span class="blue-text font-bold pb-2">Pay</span>
              </div>
              <div class="form-group width200px pr-3">
                <label class="font-bold black-text">Next Billing Date</label>
                <div class="d-flex align-items-center">
                  <input
                    class="form-control m-0"
                    type="text"
                    placeholder="Text"
                    value="Text"
                    required
                  />
                </div>
              </div>
            </div>
          </form>
          <div>
            <span class="brand-color font-medium">Upgrade to Advance</span>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="usage"
        role="tabpanel"
        aria-labelledby="usage"
      >
        <div
          class="MonthlyUsageTitle d-flex justify-content-between align-items-center px-4"
        >
          <ul class="nav nav-tabs rounded p-0" id="ColumnTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link round active"
                id="currentUsage-tab"
                data-toggle="tab"
                href="#currentUsage"
                role="tab"
                aria-controls="currentUsage"
                aria-selected="true"
                data-value="2"
                >Current Month's Usage</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link round"
                id="prevUsage-tab"
                data-toggle="tab"
                href="#prevUsage"
                role="tab"
                aria-controls="prevUsage"
                aria-selected="false"
                data-value="3"
                >Previous Month's Usage</a
              >
            </li>
          </ul>
          <div class="form-group d-flex width250px align-items-center">
            <label class="form-label width100px m-0 font-bold"
              >Choose an App:</label
            >
            <select
              class="form-control select"
              data-placeholder="Select an app"
            >
              <option selected>Krypto 1</option>
              <option>Krypto 2</option>
            </select>
          </div>
        </div>
        <div class="tab-content py-3" id="MonthlyUsage">
          <div
            class="tab-pane fade show active"
            id="currentUsage"
            role="tabpanel"
            aria-labelledby="currentUsage"
          >
            <div class="UsageContentWidget">
              <div
                class="UsageTitle w-100 px-4 border-radius-3 mb-2 height30px"
              >
                <div class="d-flex grey-bg py-1 height100 align-items-center">
                  <div class="col-md-10">
                    <span class="font12 font-bold">Particulars</span>
                  </div>
                  <div class="col">
                    <span class="font12 font-bold">Status</span>
                  </div>
                  <div class="col">
                    <span class="font12 font-bold pl-1">Total</span>
                  </div>
                </div>
              </div>
              <div class="UsageContentList w-100 px-4 scrollbar pb-4">
                <div
                  class="UsageContentItem d-flex align-items-center py-2 mb-3"
                >
                  <div class="col-md-10">
                    <span class="font12">1.No. of API Calls</span>
                  </div>
                  <div class="col"><span class="font12">Active</span></div>
                  <div class="col"><span class="font12">$250</span></div>
                </div>
                <div
                  class="UsageContentItem d-flex align-items-center py-2 mb-3"
                >
                  <div class="col-md-10">
                    <span class="font12">2. Module Usage</span>
                  </div>
                  <div class="col"><span class="font12">Active</span></div>
                  <div class="col"><span class="font12">$90</span></div>
                </div>
                <div
                  class="UsageContentItem d-flex align-items-center py-2 mb-3"
                >
                  <div class="col-md-10">
                    <span class="font12">2.1 Segmentation</span>
                  </div>
                  <div class="col"><span class="font12">Active</span></div>
                  <div class="col"><span class="font12">$70</span></div>
                </div>
                <div
                  class="UsageContentItem d-flex align-items-center py-2 mb-3"
                >
                  <div class="col-md-10">
                    <span class="font12">2.2 Referral</span>
                  </div>
                  <div class="col"><span class="font12"></span></div>
                  <div class="col"><span class="font12">$65</span></div>
                </div>
                <div
                  class="UsageContentItem d-flex align-items-center py-2 mb-3"
                >
                  <div class="col-md-10">
                    <span class="font12">2.3 Survey</span>
                  </div>
                  <div class="col"><span class="font12"></span></div>
                  <div class="col"><span class="font12"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="prevUsage"
            role="tabpanel"
            aria-labelledby="prevUsage"
          >
            ...
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="paymentHistory"
        role="tabpanel"
        aria-labelledby="paymentHistory"
      >
        <div class="UsageContentWidget height100 pb-4">
          <div class="UsageTitle w-100 px-4 border-radius-3 mb-2 height30px">
            <div class="d-flex grey-bg py-1 height100 align-items-center">
              <div class="col-md-7">
                <span class="font12 font-bold">Payment Details</span>
              </div>
              <div class="col width120px text-center">
                <span class="font12 font-bold">Payment Mode</span>
              </div>
              <div class="col width120px text-center">
                <span class="font12 font-bold pl-1">Date</span>
              </div>
              <div class="col width100px">
                <span class="font12 font-bold pl-1">Time</span>
              </div>
              <div class="col">
                <span class="font12 font-bold pl-1">Amount</span>
              </div>
            </div>
          </div>
          <div class="UsageContentList w-100 px-4 scrollbar pb-4">
            <div class="UsageContentItem d-flex align-items-center py-2">
              <div class="col-md-7">
                <span class="font12"
                  >Payment for the billing cycle 5/11/2018 - 5/12/2018</span
                >
              </div>
              <div class="col width120px text-center">
                <span class="font12">Netbanking</span>
              </div>
              <div class="col width120px text-center">
                <span class="font12 pl-1">12/12/2018</span>
              </div>
              <div class="col width100px">
                <span class="font12 pl-1">11:34:45</span>
              </div>
              <div class="col"><span class="font12 pl-1">$260</span></div>
            </div>
            <div class="UsageContentItem d-flex align-items-center py-2">
              <div class="col-md-7">
                <span class="font12"
                  >Payment for the billing cycle 5/11/2018 - 5/12/2018</span
                >
              </div>
              <div class="col width120px text-center">
                <span class="font12">Credit Card</span>
              </div>
              <div class="col width120px text-center">
                <span class="font12 pl-1">09/11/2018</span>
              </div>
              <div class="col width100px">
                <span class="font12 pl-1">01:45:05</span>
              </div>
              <div class="col"><span class="font12 pl-1">$410</span></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade overflow-visible"
        id="paymentMethod"
        role="tabpanel"
        aria-labelledby="paymentMethod"
      >
        <div class="position-absolute addWidget right0 px-4">
          <div
            class="addWidgetContainer position-relative d-flex justify-content-start align-items-center pr-1 pl-2 py-2 height30px"
          >
            <span class="addWidgetText font12 pl-1">Add Payment Mode</span>
            <div class="addMember">
              <span
                class="addWidgetBtn d-inline-block dropdown-toggle"
                data-toggle="dropdown"
                ><i class="icon icon-add-md-white"></i
              ></span>
              <div class="dropdown-menu dropdown-menu-right AddPayment p-3">
                <div class="d-flex flex-column justify-content-between">
                  <div class="d-flex justify-content-between">
                    <ul
                      class="nav nav-tabs rounded p-0"
                      id="PaymentTab"
                      role="tablist"
                    >
                      <li class="nav-item paymentTabs">
                        <a
                          class="nav-link round active"
                          id="netbanking-tab"
                          data-toggle="tab"
                          href="#netbanking"
                          role="tab"
                          aria-controls="netbanking"
                          aria-selected="true"
                          >Net banking</a
                        >
                      </li>
                      <li class="nav-item paymentTabs">
                        <a
                          class="nav-link round"
                          id="debitcard-tab"
                          data-toggle="tab"
                          href="#debitcard"
                          role="tab"
                          aria-controls="debitcard"
                          aria-selected="false"
                          >Debit/ Credit Card</a
                        >
                      </li>
                    </ul>
                    <div class="closeDropDown"><i class="icon close"></i></div>
                  </div>
                  <div
                    class="tab-content min-height-100 height100 py-3"
                    id="PaymentTabContent"
                  >
                    <div
                      class="tab-pane fade show active"
                      id="netbanking"
                      role="tabpanel"
                      aria-labelledby="netbanking"
                    >
                      <div class="d-flex flex-column mt-2">
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >Account Number</label
                          >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-control m-0"
                              type="text"
                              placeholder="Enter Account Number"
                              value=""
                              required=""
                              maxlength="16"
                            />
                          </div>
                        </div>
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >Bank Name</label
                          >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-control m-0"
                              type="text"
                              placeholder="Enter Bank Name"
                              value=""
                              required=""
                            />
                          </div>
                        </div>
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >IFSC Code</label
                          >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-control m-0"
                              type="text"
                              placeholder="Enter IFSC code"
                              value=""
                              required=""
                            />
                          </div>
                        </div>
                        <div
                          class="form-group d-flex align-items-center m-0 py-2"
                        >
                          <button
                            type="button"
                            class="btn btn-outline-secondary mr-3 p-0"
                          >
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="debitcard"
                      role="tabpanel"
                      aria-labelledby="debitcard"
                    >
                      <div class="d-flex flex-column mt-2">
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >Card Number</label
                          >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-control m-0"
                              type="text"
                              placeholder="Enter Card Number"
                              value=""
                              required=""
                              maxlength="16"
                            />
                          </div>
                        </div>
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >Expiry Date</label
                          >
                          <div class="d-flex pr-3">
                            <div class="form-group mb-0 mr-2 width65px">
                              <select
                                class="form-control select"
                                data-placeholder="MM"
                              >
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="11">12</option>
                              </select>
                            </div>
                            <div class="form-group mb-0 width80px">
                              <select
                                class="form-control select SelectProduct"
                                data-placeholder="YYYY"
                              >
                                <option></option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group width200px pr-3">
                          <label class="font-bold black-text font12"
                            >CVV code</label
                          >
                          <div class="d-flex align-items-center">
                            <input
                              class="form-control m-0"
                              type="password"
                              placeholder="Enter cvv code"
                              value=""
                              required=""
                              maxlength="3"
                            />
                          </div>
                        </div>
                        <div
                          class="form-group d-flex align-items-center m-0 py-2"
                        >
                          <button
                            type="button"
                            class="btn btn-outline-secondary mr-3 p-0"
                          >
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-primary">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex px-4 align-items-end pb-2">
          <div class="form-group width200px pr-3 m-0">
            <label class="font-bold black-text font12">Bank Name</label>
            <div class="d-flex align-items-center">
              <input
                class="form-control m-0"
                type="text"
                placeholder="Enter Bank Name"
                value=""
                required=""
              />
            </div>
          </div>
          <div class="form-group width200px pr-3 m-0">
            <label class="font-bold black-text font12">A/c No.</label>
            <div class="d-flex align-items-center">
              <input
                class="form-control m-0"
                type="text"
                placeholder="Enter Account Number"
                value=""
                required=""
                maxlength="16"
              />
            </div>
          </div>
          <div class="form-group width200px pr-3 m-0">
            <label class="font-bold black-text font12">IFSC Code</label>
            <div class="d-flex align-items-center">
              <input
                class="form-control m-0"
                type="text"
                placeholder="Enter IFSC Code"
                value=""
                required=""
              />
            </div>
          </div>
          <div class="pb-1"><i class="icon icon-edit"></i></div>
        </div>
        <hr />
        <div class="d-flex flex-column justify-content-center px-4">
          <div class="form-group">
            <label class="font-bold black-text font12">Saved Card</label>
          </div>
          <div class="d-flex flex-wrap savedCardsWidget">
            <div
              class="savedCardsContainer width200px mr-3 border border-color-darkerGrey border-radius-3"
            >
              <div class="savedCardsContent p-2">
                <div class="font14 font-medium">Standard Charted Bank</div>
                <div class="font12 darker-grey-text">4622 71** **** 7098</div>
                <div
                  class="d-flex align-items-center justify-content-between pt-4"
                >
                  <div>
                    <img
                      class="d-block width40px"
                      src="assets/images/Standard_Chartered.png"
                    />
                  </div>
                  <div>
                    <i class="icon icon-edit"></i>
                    <i class="icon icon-delete-sm"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
