.cohort-chart {
  width: 1200px;
  height: 300px;
  max-width: 100%;

  .cohort {
    &-row {
      border-bottom: 1px solid #ccc;
    }

    &-row, &-body {
      display: flex;
      text-align: center;
    }

    &-heading {
      width: calc(100% / 9);
      height: 40px;
      text-align: left;
      padding: 5px 10px;

      .date-range {
        color: black;
      }
    }

    &-body {
      width: calc(100% - calc(100% / 9));
    }

    &-body div {
      width: calc(100% / 9);
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.cohort-data {
        &:first-child {
          background: #ccc;
        }
      }
    }
  }
}

#chart {
  // width: 1200px;
  // height: 1000px;;
  min-width: 100%;
}