<!-- 
<div *ngIf="data" id="chart-test" class="cohort-chart">
  <div class="cohort-row">
    <div class="cohort-heading">All Users</div>
    <div class="cohort-body">
      <!-- <div *ngFor="let week of weeks">Week {{ index }} <br/><span>{{ week.avg }}</span></div>
      <div>Week 0</div>
      <div>Week 1</div>
      <div>Week 2</div>
      <div>Week 3</div>
      <div>Week 4</div>
      <div>Week 5</div>
      <div>Week 6</div>
    </div>
  </div>
  <div class="cohort-row" *ngFor="let caItem of data.cohortAnalysisModels">
    <div class="cohort-heading">
      <div class="date-range">{{ formatMonthName(caItem.dateRange) }}</div>
      <div class="user-count"></div>
    </div>
    <div class="cohort-body">
      <div *ngFor="let retention of caItem.retentions"><div style="background-color: {{ scaleColor(retention) }}" class="cohort-data">{{ retention }}</div>
      {{ scaleColor(retention) }}</div>
    </div>
  </div>
</div>
 -->
<div #chart id="chart"></div>
