<div class="content-wrap p-0 grey-bg">
  <div class="ReferalWidget wizard-info">
    <app-left-sidebar
      [tabList]="sideBarList"
      [tab]="tabSelected"
      (onTabChange)="onTabChange($event)"
      [(webAppOnly)]="isWebApp"
      [(isWelcomeSelected)]="isWelcomeSelected"
    ></app-left-sidebar>

    <app-survey-question
      #surveyQuestion
      class="pacs"
      [surveyMode]="surveyMode"
      [isWebApp]="isWebApp"
      [questionsList]="questions"
      (save)="save($event)"
      (cancel)="cancel($event)"
      *ngIf="tabSelected == 'questions'"
      [(surveyName)]="surveyName"
      (tabSelectedChange)="onTabChange($event)"
    ></app-survey-question>

    <app-config-welcome
      #welcomePage
      class="pacs"
      [applyAll]="applyAll"
      (applySelected)="applySelected($event)"
      (save)="save($event)"
      (cancel)="cancel($event)"
      [isWebApp]="isWebApp"
      [welcomeData]="welcomeConfig"
      *ngIf="tabSelected == 'config-welcome'"
      [(surveyName)]="surveyName"
      (tabSelectedChange)="onTabChange($event)"
    ></app-config-welcome>

    <app-config-question
      #questionPage
      class="pacs"
      (save)="save($event)"
      (cancel)="cancel($event)"
      [isWebApp]="isWebApp"
      [questionData]="questionConfig"
      *ngIf="tabSelected == 'config-question'"
      [(surveyName)]="surveyName"
      (tabSelectedChange)="onTabChange($event)"
    ></app-config-question>

    <app-config-thankyou
      #thankyouPage
      class="pacs"
      (save)="save($event)"
      (cancel)="cancel($event)"
      [isWebApp]="isWebApp"
      [thankyouData]="thankyouConfig"
      *ngIf="tabSelected == 'config-thankyou'"
      [(surveyName)]="surveyName"
      (tabSelectedChange)="onTabChange($event)"
    ></app-config-thankyou>

    <app-action-block
      class="pacs"
      *ngIf="tabSelected == 'action-block'"
      (save)="save($event)"
      [isWebApp]="isWebApp"
      (tabSelectedChange)="onTabChange($event)"
    ></app-action-block>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="false"
  id="surveySuccessModal"
  tabindex="-1"
  role="dialog"
  style="background-color: rgba(255, 255, 255, 0.8); top: 50px;"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Info</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Survey has been saved successfully.</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="navigate()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="false"
  id="surveyCancelModal"
  tabindex="-1"
  role="dialog"
  style="background-color: rgba(255, 255, 255, 0.8); top: 50px;"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Info</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Do you want to save this Draft?</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="save(true)"
        >
          Ok
        </button>
        <button
          type="button"
          class="btn btn-secondary light p-0"
          data-dismiss="modal"
          (click)="navigate()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="false"
  id="surveyErrorModal"
  tabindex="-1"
  role="dialog"
  style="background-color: rgba(255, 255, 255, 0.8); top: 50px;"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Warning</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">
          Atleast one of question or followup question is empty. Please complete
          the form to continue.
        </div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="openQuestion()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
