<div class="row" id="config-question">
  <div class="MiddlePanelWidget position-relative">
    <div class="wizard-btns floatingWizard position-absolute d-flex justify-content-between">
      <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs" (click)="pageChange('config-welcome')" [ngClass]="{'disabled': surveyType == 'feedback'}">
        <i class="icon leftArrowIcon mr-1"></i>Back</a>
      <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs" (click)="pageChange('config-thankyou')">Next<i
          class="icon rightArrowIcon"></i></a>
    </div>
    <div class="PanelMiddleContent workSpaceBody ">
      <div class="segments referralSegments">
        <div class="Segment-Title">
          <div class="Segment-Title-Content grey-text" *ngIf="surveyType == 'survey'">Screen Configuration</div>
          <div class="Segment-Title-Content grey-text" *ngIf="surveyType == 'feedback'">Question Form</div>
        </div>
        <div class="segment-body scrollbar pb-5">
          <app-rating-options *ngIf="surveyType == 'feedback'" [ratingDetails]="question" (onRatingDetailsChange)="onChange($event)"></app-rating-options>
          <hr *ngIf="surveyType == 'feedback'">
          <form>
            <h5 class="font-bold black-text white-bg">1. Choose Color Palatte</h5>
            <div class="w-50">
              <div class="w-50 position-relative">
                <div class="form-group d-flex align-items-center color-field">
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="questionData.color" spellcheck="false" type="color" class="form-control HomeColorPalette cloneColor"
                    value="#6b8e23" />
                </div>
                <div class="form-group d-flex align-items-center color-code">
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="questionData.color" spellcheck="false" type="text" class="form-control HomeColorPalette m-0 cloneColor"
                    value="#6b8e23" />
                </div>
              </div>
            </div>
            <h5 class="font-bold black-text white-bg">2. Edit survey font and heading here
            </h5>
            <div class="w-50">
              <div class="form-group selectbox w-75 mb-3">
                <label class="form-label font-medium" for="font-style2">Select Font Style
                </label>
                <select class="form-control select" (ngModelChange)="onFontSelect($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="questionData.fontStyle"
                  id="font-style2">
                  <option *ngFor="let font of fontList" [ngValue]="font.key">{{font.value}}</option>
                </select>
              </div>
            </div>
            <h5 class="font-medium black-text white-bg">Title</h5>
            <div class="w-50">
              <div class="form-group width150px">
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="questionData.title" type="text" class="cloneText form-control"
                  maxlength="60" placeholder="Type here">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="ruleUIReview" *ngIf="surveyType == 'survey'">
    <div class="PanelRightContent">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex align-items-center justify-content-center referal-content py-0" *ngIf="!isWebApp">
          <div class="mobile-container position-relative">
            <div class="mobile-content">
              <div class="referalCarousel">
                <div class="owlCarousel owl-theme">
                  <div class="item">
                    <div class="mobile-head text-center colorCloneInput" [ngStyle]="{'background': questionData.color}">
                      <p class="FeedbackTitle white-text font8 feedbackThanksInput" [ngStyle]="fontSelected">{{questionData.title}}
                      </p>
                    </div>
                    <div class="mobile-body FeedbackScreen grey-bg p-1 pt-3 position-relative">
                      <div class="position-absolute font7 font-regular d-flex justify-content-center align-items-center w-100 headerPaginationWidget">
                        <span class="headerPagination grey-bg" [ngStyle]="fontSelected">
                          <span class="font9 font-bold black-text" [ngStyle]="fontSelected">02</span>
                          / 10</span>
                      </div>
                      <div class="FeedbackScreenBody white-bg w-100 p-2 d-flex flex-column align-items-center scrollbar">
                        <p class="black-text font9 mt-3 mb-3 font-medium" [ngStyle]="fontSelected">How would you rate our
                          service?
                        </p>
                        <img class="FeedbackImg withdrawal-image border-radius-0 mb-3" src="assets/images/bedroom.jpg" />
                        <div class="d-flex flex-column justify-content-center align-items-center text-center w-100">
                          <div class="w-100 MobileChecklist position-relative white-bg checked mb-1 font-bold" [ngStyle]="{'color': questionData.color}">
                            <span [ngStyle]="fontSelected">Excellant</span>
                          </div>
                          <div class="w-100 MobileChecklist position-relative grey-bg mb-1 black-text font-bold" [ngStyle]="fontSelected">Good</div>
                          <div class="w-100 MobileChecklist position-relative grey-bg mb-1 black-text font-bold" [ngStyle]="fontSelected">Normal</div>
                          <div class="w-100 MobileChecklist position-relative grey-bg mb-1 black-text font-bold" [ngStyle]="fontSelected">Bad</div>
                        </div>
                      </div>
                      <a href="javascript:void(0)" class="colorCloneInput FeedbackButton" [ngStyle]="{'background-color': questionData.color}">
                        <span [ngStyle]="fontSelected">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <form class="">
              <div class="form-group w-100 m-0 pt-2">
                <label class="black-text font-bold">Survey ID</label>
                <input [ngClass]="{'showError': showError}" type="text" class="form-control" placeholder="ACCOUNT NAME_SURVEY_01" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onNameChange($event)" [(ngModel)]="surveyName" />
                <div class="invalid-feedback" [ngClass]="{'showError': showError}">
                  Please provide a valid name.
                </div>
              </div>
            </form>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" (click)="cancelSurvey()" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" (click)="saveSurvey()" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ruleUIReview" *ngIf="surveyType == 'feedback'">
    <div class="PanelRightContent height100">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex align-items-center justify-content-center referal-content py-0" *ngIf="!isWebApp">
          <div class="mobile-container position-relative mobapp-container">
            <div class="mobile-content">
              <div class="referalCarousel">
                <div class="owlCarousel owl-theme">
                  <div class="item">
                    <div class="mobile-head text-center colorCloneInput" [ngStyle]="{'background': questionData.color}">
                      <p class="FeedbackTitle white-text font8" [ngStyle]="fontSelected">{{questionData.title}}</p>
                    </div>
                    <div class="mobile-body FeedbackScreen grey-bg p-1 pt-3">
                      <div class="FeedbackScreenBody white-bg w-100 p-2 d-flex flex-column align-items-center scrollbar">
                        <p class="w-100 text-center black-text font9 font-bold mt-2 mb-3 OverAllInput" [ngStyle]="fontSelected">{{question.question}}</p>
                        <img class="FeedbackImg withdrawal-image mb-4" [src]="question.imageUrl" />
                        <div class="width100 starRating RatingElem" *ngIf="question.inputType == 'starRating'">
                          <div class="d-flex justify-content-center align-items-center mt-4">
                            <i class="icon icon-star-md filled mr-2"></i>
                            <i class="icon icon-star-md filled mr-2"></i>
                            <i class="icon icon-star-md mr-2"></i>
                            <i class="icon icon-star-md mr-2"></i>
                            <i class="icon icon-star-md"></i>
                          </div>
                        </div>
                        <div class="w-100 smileyRating RatingElem" *ngIf="question.inputType == 'smileyRating'">
                          <div class="justify-content-center align-items-start MobileSmiley enable" *ngIf="question.options.length > 3">
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width35px mr-1 mb-0">
                              <label><i class="icon icon-sad-smiley-md smiley4enabled"></i></label>
                              <p class="text-center black-text font6 sadSmileyInput font8" [ngStyle]="fontSelected">{{question.options[0]}}</p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width35px mr-1 mb-0">
                              <label><i class="icon icon-neutral-smiley-md smiley4enabled"></i></label>
                              <p class="text-center black-text font6 neutralSmileyInput font8" [ngStyle]="fontSelected">{{question.options[1]}}</p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width35px mr-1 mb-0">
                              <label><i class="icon icon-happy-smiley-md smiley4enabled"></i></label>
                              <p class="text-center black-text font6 happySmileyInput font8" [ngStyle]="fontSelected">{{question.options[2]}}</p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width35px mb-0" *ngIf="question.options[3]">
                              <label><i class="icon icon-excite-smiley-md smiley4enabled"></i></label>
                              <p class="text-center black-text font6 veryHappySmileyInput font8" [ngStyle]="fontSelected">{{question.options[3]}}
                              </p>
                            </div>
                          </div>
                          <div class="justify-content-center align-items-start MobileSmiley enable" *ngIf="question.options.length < 4">
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width50px mr-1 mb-0">
                              <label><i class="icon icon-sad-smiley-md"></i></label>
                              <p class="text-center black-text sadSmileyInput font9" [ngStyle]="fontSelected">{{question.options[0]}}</p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width50px mr-1 mb-0">
                              <label><i class="icon icon-neutral-smiley-md"></i></label>
                              <p class="text-center black-text neutralSmileyInput font9" [ngStyle]="fontSelected">{{question.options[1]}}</p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center smileyFormGroup width50px mb-0">
                              <label><i class="icon icon-happy-smiley-md"></i></label>
                              <p class="text-center black-text happySmileyInput font9"></p>
                            </div>
                          </div>
                        </div>
                        <div class="w-100 thumbsRating RatingElem" *ngIf="question.inputType == 'thumbsRating'">
                          <div class="d-flex justify-content-center align-items-start">
                            <div class="form-group d-flex flex-column align-items-center thumbsFormGroup mb-0 width60px mr-1">
                              <label><i class="icon icon-like-md"></i></label>
                              <p class="w-100 text-center black-text likelyInput font9" [ngStyle]="fontSelected">{{question.options[0]}}
                              </p>
                            </div>
                            <div class="form-group d-flex flex-column align-items-center thumbsFormGroup mb-0 width60px">
                              <label><i class="icon icon-dislike-md"></i></label>
                              <p class="w-100 text-center black-text unlikelyInput font9" [ngStyle]="fontSelected">{{question.options[1]}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="w-100 NPSRating RatingElem" *ngIf="question.inputType == 'nps'">
                          <div class="d-flex flex-wrap justify-content-center align-items-center NPSNumbersGroup mb-2">
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">0</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">1</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">2</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">3</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">4</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">5</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 red-bg">6</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 yellow-bg">7</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 yellow-bg">8</span>
                            <span class="NPSNumbers mobile white-text p-1 mr-1 mb-2 font-bold font8 green-bg">9</span>
                            <span class="NPSNumbers mobile white-text p-1 mb-2 font-bold font8 green-bg">10</span>
                          </div>
                          <div class="w-100 d-flex justify-content-between align-items-start">
                            <div class="width50 form-group thumbsFormGroup m-0">
                              <span class="likelyInput" [ngStyle]="fontSelected">{{question.options[0]}}
                              </span>
                            </div>
                            <div class="width50 form-group thumbsFormGroup m-0 text-right">
                              <span class="mostLikelyInput" [ngStyle]="fontSelected">{{question.options[1]}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a href="javascript:void(0)" class="colorCloneInput FeedbackButton" [ngStyle]="{'background-color': questionData.color}">
                        <span [ngStyle]="fontSelected">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <form class="">
              <div class="form-group w-100 m-0 pt-2">
                <label class="black-text font-bold">Feedback Name</label>
                <input [ngClass]="{'showError': showError}" type="text" class="form-control" placeholder="ACCOUNT NAME_SURVEY_01" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onNameChange($event)" [(ngModel)]="surveyName" />
                <div class="invalid-feedback" [ngClass]="{'showError': showError}">
                  Please provide a valid name.
                </div>
              </div>
            </form>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" (click)="cancelSurvey()" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" (click)="saveSurvey()" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>