<div class="analytics-layout">
  <div class="w-100 cardContainer d-flex">
    <div class="IndexContainer card w-100 mx-2 flex-row p-3 align-items-center" data-title="duration" routerLinkActive="active" routerLink="/analytics/engagement/overview">
      <div class="d-flex flex-column w-80">
        <span class="CardAnalyticTitle font16 font-medium grey-text">Overview</span>
        <span class="CardAnalyticSub font10 darker-grey-text">Overall Info</span>
      </div>
    </div>
    <div class="IndexContainer card w-100 mx-2 flex-row p-3 align-items-center" data-title="duration" routerLinkActive="active" routerLink="/analytics/engagement/duration-index">
      <div class="mr-2"><i class="icon" [ngClass]="{ 'icon-up-lg': durationPercentageChange > 0, 'icon-down-lg': durationPercentageChange < 0, 'icon-equal-lg': durationPercentageChange == 0 }"></i></div>
      <div class="d-flex flex-column w-80">
        <span class="CardAnalyticTitle font16 font-medium grey-text">Duration Index</span>
        <span class="CardAnalyticSub font10 darker-grey-text">Measure of Session Length &amp; Frequency</span>
      </div>
    </div>
    <div class="IndexContainer card w-100 mx-2 flex-row p-3 align-items-center" routerLinkActive="active" routerLink="/analytics/engagement/loyalty-index" data-title="loyalty">
      <div class="mr-2"><i class="icon" [ngClass]="{ 'icon-up-lg': loyaltyPercentageChange > 0, 'icon-down-lg': loyaltyPercentageChange < 0, 'icon-equal-lg': loyaltyPercentageChange == 0 }"></i></div>
      <div class="d-flex flex-column w-80">
        <span class="CardAnalyticTitle font16 font-medium grey-text">Loyalty Index</span>
        <span class="CardAnalyticSub font10 darker-grey-text">Measure of Churn &amp; Trends</span>
      </div>
    </div>
    <div class="IndexContainer card w-100 mx-2 flex-row p-3 align-items-center" data-title="retention" routerLinkActive="active" routerLink="/analytics/engagement/retention-index">
      <div class="mr-2"><i class="icon" [ngClass]="{ 'icon-up-lg': retentionPercentageChange > 0, 'icon-down-lg': retentionPercentageChange < 0, 'icon-equal-lg': retentionPercentageChange == 0 }"></i></div>
      <div class="d-flex flex-column w-80">
        <span class="CardAnalyticTitle font16 font-medium grey-text">Retention Index</span>
        <span class="CardAnalyticSub font10 darker-grey-text">Measure of Active User Cohorts/Passing Duration</span>
      </div>
    </div>
    <div class="IndexContainer card w-100 mx-2 flex-row p-3 align-items-center" data-title="feedback" routerLinkActive="active" routerLink="/analytics/engagement/feedback-index">
      <div class="mr-2"><i class="icon" [ngClass]="{ 'icon-up-lg': feedbackPercentageChange > 0, 'icon-down-lg': feedbackPercentageChange < 0, 'icon-equal-lg': feedbackPercentageChange == 0 }"></i></div>
      <div class="d-flex flex-column w-80">
        <span class="CardAnalyticTitle font16 font-medium grey-text">Feedback Index</span>
        <span class="CardAnalyticSub font10 darker-grey-text">Measure of App Store Ratings &amp; Trends</span>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>