.analytics-layout {
	background: #F5F5F5;
	padding: 10px 0;

	.CardAnalyticSub {
		width: calc(100% - 10px);
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}

	.cardContainer .card {
		margin-bottom: 10px;
	}
}