<section class="main-container">
  <div
    class="modal fade"
    id="SignUp"
    tabindex="-1"
    role="dialog"
    aria-labelledby="SignUp"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-1 d-flex justify-content-center">
          <div class="modal-title px-5 py-4">
            <img src="./assets/images/SK_Logo.svg" />
          </div>
        </div>
        <div class="modal-body px-4">
          <div class="px-2">
            <p class="font12 darker-grey-text">Account Login</p>
            <form [formGroup]="form" class="form">
              <div class="form-group mb-4">
                <label for="nameInput" class="font14 darker-grey-text"
                  >Name <span class="brand-color font18">*</span>
                </label>
                <input
                  id="nameInput"
                  formControlName="name"
                  type="text"
                  class="form-control height40px font16 font-medium black-text"
                  spellcheck="false"
                  placeholder="Enter your Name"
                />
              </div>
              <div class="form-group mb-4">
                <label for="emailInput" class="font14 darker-grey-text"
                  >Email ID <span class="brand-color font18">*</span>
                </label>
                <input
                  id="emailInput"
                  formControlName="emailId"
                  type="email"
                  class="form-control height40px font16 font-medium black-text"
                  spellcheck="false"
                  aria-describedby="emailHelp"
                  placeholder="Enter your Email Id"
                />
                <span
                  class="validation-error"
                  *ngIf="
                    !form.controls['emailId'].valid &&
                    (form.controls['emailId'].dirty ||
                      form.controls['emailId'].touched)
                  "
                >
                  Please enter a valid Email</span
                >
                <div id="emailHelp" class="form-text blue-text font12">
                  We will send an email to this address for verification
                </div>
              </div>
              <div class="form-group mb-4">
                <label for="contactInput" class="font14 darker-grey-text"
                  >Contact Number</label
                >
                <input
                  id="contactInput"
                  maxLength="18"
                  formControlName="phoneNumber"
                  type="tel"
                  class="form-control height40px font16 font-medium black-text"
                  spellcheck="false"
                  placeholder="Enter your Contact Number"
                />
                <!-- 
                <span class="validation-error" *ngIf="errorMsg">
                  {{ errorMsg }}
                </span> -->
                <span
                  class="validation-error"
                  *ngIf="
                    mobile.invalid &&
                    ((mobile.dirty || mobile.touched) &&
                      mobile.errors.isInValid)
                  "
                >
                  Please enter valid phone number with country code.
                </span>
              </div>

              <div class="form-group">
                <label for="companyInput" class="font14 darker-grey-text"
                  >Company Name</label
                >
                <input
                  id="companyInput"
                  formControlName="organizationName"
                  type="text"
                  class="form-control height40px font16 font-medium black-text"
                  spellcheck="false"
                  placeholder="Enter your Company Name"
                />
              </div>
              <div>
                <label class="checkbox-inline">
                  <input
                    id="checkid"
                    type="checkbox"
                    value="test"
                    formControlName="termsOfUse"
                    required
                  />&nbsp; I Agree to Smarkarrot <u>Terms and condition</u> And
                  <u>Privacy Policy</u>
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer border-0 px-4 pt-0 pb-3">
          <a href="#/auth/sign-in">Already have an account?</a>
          <div class="px-2 pb-3">
            <button
              type="button"
              (click)="cancel()"
              class="btn btn-outline-secondary mr-3 cancel"
            >
              Cancel
            </button>
            <button
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-primary"
              (click)="onSubmit(form.value, form)"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="loadingicon"
    role="dialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loadingicon"
    style="height:100%"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="font-size: 15px;text-align: center">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img
            [src]="loadingGif"
            width="100px"
            height="100px"
            style="border-radius: 50%;"
          />
          <p>Loading... Please wait</p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- <div style="display:none;text-align: center;" id="loadingicon">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img
      [src]="loadingGif"
      width="100px"
      height="100px"
      style="border-radius: 50%;"
    />
    <p>Loading... Please wait</p>
  </div> -->
  <div
    class="modal fade"
    id="SignUppwdsent"
    role="dialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="SignUppwdsent"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="font-size: 15px;text-align: center">
          <p>Link has been sent your email Id to Set Password</p>
          <p>Please check your inbox shortly and Use the link to sign in.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="close()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Alert For smaller screens -->
<div
  class="betterScreenViewWidget justify-content-center align-items-center text-center"
>
  <div
    class="betterScreenView d-flex flex-column justify-content-center align-items-center text-center"
  >
    <img src="assets/images/ErrorScreen.png" />
    <span class="ErrorScreenTitle">Error !</span>
    <span class="ErrorScreenBody"
      >This page is designed for <br />
      laptop and web only</span
    >
  </div>
</div>
