.main-container {
  margin: 0 auto;
  width: 50%;
}
.btn {
  padding: 3px 20px;
  color: #000000;
  font-size: 12px;
  text-shadow: none;
  border-radius: 20px;
  height: 30px;
  min-width: 80px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button[disabled]:hover {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
