<div class="profileaddresschangestep3  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep2"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep4"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <ul class="d-flex align-items-center mb-4 ">
                <li>
                  <h5 class="font14 m-0 font-bold black-text mr-2">
                    Enable Earning Screen
                    <!--Earning Screen  <a data-trigger="focus" data-container="body" data-toggle="popover" data-placement="left" data-content="Lorem ipsum dolor">-->
                    <span
                      class="icon info toolTip"
                      data-tooltip-content="#enableEarningScreen"
                    ></span>
                  </h5>
                  <div class="tooltipTemplates">
                    <div class="toolTipInformation" id="enableEarningScreen">
                      Enable this if you are going to incentivize the referrals
                      with payment.
                    </div>
                  </div>
                </li>
                <li>
                  <div class="switchBlock ml-1">
                    <label class="switch m-0">
                      <input
                        type="checkbox"
                        [(ngModel)]="homeData.enableEarningScreen"
                        value="enableEarningScreen"
                        name="enableEarningScreen"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </li>
              </ul>
              <div
                class="d-flex align-items-center justify-content-between mb-0"
              >
                <h5 class="font-bold black-text white-bg">
                  1. Choose Color Palatte
                </h5>
                <!-- <div class="form-group  m-0 pl-2 white-bg d-flex">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input checkbox"
                        id="colorCheck"
                        name="applyAll"
                        [(ngModel)]="applyAll"
                        checked
                        (ngModelChange)="onApplySelected($event)"
                      />
                      <label
                        class="form-check-label font11 black-text w-100"
                        for="colorCheck"
                      ></label>
                    </div>
                    <p class="ml-2 mb-0 font12">Apply to all Screens</p>
                  </div> -->
              </div>
              <div class="w-50">
                <div class="w-50 position-relative">
                  <div class="form-group d-flex align-items-center color-field">
                    <input
                      spellcheck="false"
                      type="color"
                      class="form-control HomeColorPalette"
                      [(ngModel)]="referralHomeScreen.colorPalatteCode"
                      value="colorPalatteCode"
                      name="colorPalatteCode"
                    />
                  </div>
                  <div class="form-group d-flex align-items-center color-code">
                    <input
                      spellcheck="false"
                      type="text"
                      class="form-control HomeColorPalette"
                      [(ngModel)]="referralHomeScreen.colorPalatteCode"
                      value="colorPalatteCode"
                      name="colorPalatteCode"
                    />
                  </div>
                </div>
              </div>
              <div
                class="d-flex align-items-center justify-content-between mt-4 mb-1"
              >
                <h5 class="font-bold black-text white-bg">
                  2. Edit referral text here
                </h5>
                <!-- <div class="form-group  m-0 pl-2 white-bg d-flex">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input checkbox"
                        id="textCheck"
                        [checked]="applyText"
                        (change)="applyTextApp()"
                        enabled
                      />
                      <label
                        class="form-check-label font11 black-text w-100"
                        for="textCheck"
                      ></label>
                    </div>
                    <p class="ml-2 mb-0 font12">Apply to all Screens</p>
                  </div> -->
              </div>
              <div class="w-50">
                <div class="form-group selectbox w-50">
                  <label class="form-label" for="font-style2">Font Style</label>
                  <select
                    class="form-control select"
                    id="font-style2"
                    [(ngModel)]="referralHomeText.fontStyle"
                    [ngModelOptions]="{ standalone: true }"
                    name="fontStyle"
                  >
                    <option
                      *ngFor="let fontstyle of possibleAttr.fontStyles"
                      value="{{ fontstyle }}"
                      >{{ fontstyle }}</option
                    >
                    <!-- <option>Nunito Sans Bold</option>
                    <option>Nunito Sans Semi Bold</option>
                    <option>Nunito Sans Italics</option>
                    <option>Nunito Sans Light</option> -->
                  </select>
                </div>
              </div>
              <div class="w-50">
                <div class="form-group w-50">
                  <label class="form-label" for="title">Header</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control HomeReferTitle"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="referralHomeText.headerText"
                    name="headerText"
                    value="headerText"
                  />
                </div>
              </div>
              <div class="w-50">
                <div class="form-group ">
                  <label class="form-label" for="body">Body</label>
                  <span class="textareaWidget">
                    <textarea
                      spellcheck="false"
                      class="form-control HomeReferBody"
                      [(ngModel)]="referralHomeText.bodyText"
                      name="bodyText"
                      value="bodyText"
                      maxlength="120"
                    ></textarea>
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-start mb-1">
                <h5 class="font-bold black-text">3. Upload new logo/icon</h5>
              </div>
              <div class="form-group">
                <label
                  class="form-label grey-text font-italics mb-0"
                  for="title"
                  >(50x50)</label
                >
                <div class="upload-container">
                  <img
                    class=" form-control FeedbackImg withdrawal-image thanks"
                    style="width: 100%; height: 100%;"
                    [src]="
                      referralHomeText.logoIconURL ||
                      '../assets/images/referal_icon.png'
                    "
                  />
                </div>
                <button class="btn btn-tertiary btn-small mt-3 upload">
                  <input
                    type="file"
                    class="UploadFile"
                    (change)="fileChange($event)"
                  />
                  Upload new <span class="icon icon-upload ml-2"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div class="mobile-content">
                <div
                  class="mobile-head mobile-head-home text-center"
                  [ngStyle]="{
                    'background-color': applyColor
                      ? referralHomeScreen.colorPalatteCode
                      : '#6b8e23'
                  }"
                >
                  <p
                    class="MobileHomeReferTitle"
                    style="height: 12px;font-size:10px"
                    [ngStyle]="{
                      'font-family': applyText
                        ? referralHomeText.fontStyle
                        : 'Times New Roman'
                    }"
                  >
                    {{ referralHomeText.headerText }}
                  </p>
                </div>
                <div class="mobile-body">
                  <div
                    class="grey-bg px-2 py-1 d-flex align-items-center justify-content-between flex-column rounded mx-2 mt-2"
                  >
                    <h5 class="m-0">40</h5>
                    <p
                      class="grey-text font10"
                      [ngStyle]="{
                        'font-family': applyText
                          ? referralHomeText.fontStyle
                          : 'Times New Roman'
                      }"
                    >
                      Total Referral
                    </p>
                  </div>
                  <div class="p-2 text-center">
                    <p
                      class="font10 mb-2 MobileHomeReferBody"
                      style="line-height: 11px; margin: 0 0 10px"
                    >
                      {{
                        applyText
                          ? referralHomeText.bodyText
                          : "Refer the app to your friends and earn a token for each successful download and install"
                      }}
                    </p>
                    <img
                      class="FeedbackImg withdrawal-image thanks"
                      style="width: 20%;"
                      [src]="
                        referralHomeText.logoIconURL ||
                        '../assets/images/referal_icon.png'
                      "
                    />
                    <div class="link">
                      <a href="javascript:void(0);" class="font10 mb-2">
                        Share by link</a
                      >
                      <input
                        spellcheck="false"
                        type="text"
                        placeholder="https://platform.smartkarrot.com"
                        class="form-control"
                      />
                      <Span class="icon copy"></Span>
                    </div>
                    <div
                      class="divider d-flex align-items-center justify-content-center"
                    >
                      <span class="white-bg font8">Or</span>
                    </div>
                    <div class="share-section">
                      <p class="font10">Share via social media</p>
                      <div class="share-box">
                        <span class="icon mobile-share-icon"></span>
                      </div>
                      <p class="black-text font-bold font10">Share Now</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    [(ngModel)]="referralData.programId"
                    value="programId"
                    name="programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
