<div class="blackOutScreen" (window:resize)="changeScreenSize($event)"></div>
<div class="home-container home-containerstyle segmentListContent">
  <div class="row w-100">
    <div class="col-12">
      <div class="row flex-wrap referralRow">
        <div class="col-3 mb-4">
          <div
            class="card segment-card segment-cardColor"
            (click)="goToCreateSegment($event)"
          >
            <div
              class="card-body d-flex align-items-center justify-content-start"
            >
              <div class="segment-create hand ">
                <h4>New User Segment? Start here.</h4>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let eachSegment of segments" class="col-3 mb-4">
          <div class="card segment-card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-top">
                <div>
                  <span
                    class="status blue-bg white-text mb-2"
                    style="margin:0px !important"
                    >{{ eachSegment.appName }}</span
                  >
                  <div
                    class="h5 font-bold"
                    style="font-weight:1000; word-break: break-all"
                  >
                    {{ changeTitleWidth(eachSegment.segmentName) }}
                  </div>
                </div>
                <!-- START dropdown button -->
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon moreIcon"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="editUserSegment(eachSegment.segmentId)"
                    >
                      <i class="icon icon-edit"></i> Edit
                    </a>
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="duplicateUserSegment(eachSegment)"
                    >
                      <i class="icon icon-duplicate"></i> Duplicate
                    </a>
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="deleteUserSegment(eachSegment.segmentId, appId)"
                    >
                      <i class="icon icon-delete"></i> Delete
                    </a>
                  </div>
                </div>
                <!-- END dropdown button -->
              </div>
              <p class="font13 mb-3" style="margin:0px !important">
                <ng-container *ngIf="eachSegment.createdAt != ''">
                  Created On: {{ eachSegment.createdTime }}
                </ng-container>
                <span
                  *ngIf="eachSegment.isDraft || eachSegment.isDraft === 'true'"
                  class="status primary-bg ml-2 white-text"
                  >Draft</span
                >
              </p>
            </div>
            <div class="card-body mt-auto" style="padding: 0px 0.9375rem;">
              <p class="secondary-color" maxlength="150">
                Users under {{ eachSegment.str }} <i class="Ellipsis"></i>
              </p>
            </div>
            <div
              class="card-footer"
              (click)="gotoUserCount(eachSegment.segmentId, appId)"
            >
              <p class="secondary-color font12">Total Users</p>
              <a
                href="javascript:void(0)"
                class="d-block h5 blue-text mb-1 "
                style="font-family: robotobold;"
              >
                <ng-container *ngIf="!isUserCont(eachSegment.userCount)">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <ng-container *ngIf="isUserCont(eachSegment.userCount)">
                  {{ eachSegment.userCount }}
                </ng-container>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- START fail to save with cancel or save button -->
  <button
    data-toggle="modal"
    id="failSaveSeg"
    data-target="#failedEditedSegement"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="failedEditedSegement"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">Failed to save!!! Please try again</div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END fail to save with cancel or save button -->

  <!-- START confirm to delete the segment   -->
  <button
    data-toggle="modal"
    id="deleteSegment"
    data-target="#deleteSegmentSegement"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="deleteSegmentSegement"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">
            Do you really want to delete the segment?
          </div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button
            type="button"
            class="btn btn-secondary light"
            data-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="deletSelectedSegment($event)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END confirm to delete the segment -->
  <div *ngIf="hideBar === false" class="know-more-list">
    <div>
      <img class="Phone-Illus" src="assets/images/phone.png" alt="Phone bg" />
      <h3 class="font-bold black-text text-uppercase">
        See how the feature works
      </h3>
      <p class="black-text m-0">
        Increase engagement success based on dynamic user segment
      </p>
    </div>
    <div class="d-flex align-items-center">
      <a
        class="brand-color Play-Demo"
        data-toggle="modal"
        data-src="https://www.youtube.com/embed/kbAQidXLaWs"
        data-target="#YtPlayerModal"
        data-backdrop="static"
        data-keyboard="false"
      >
        Demo</a
      >
      <a
        href="javascript:void(0);"
        class="grey-text Hide-Notifi"
        (click)="hideBar = true"
        >Hide</a
      >
    </div>
  </div>
  <div
    class="modal fade"
    id="YtPlayerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-lg max-width80 max-height80"
      role="dialog"
    >
      <div class="modal-content">
        <div class="modal-body p-0" style="margin-top: -15px;">
          <button
            type="button"
            class="close fa"
            data-dismiss="modal"
            (click)="stopPlayingVideo()"
            aria-label="Close"
            style="font-size:24px;color:white;padding-left:12px;"
          >
            &#xf057;
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              [src]="youtubeUrl"
              id="yt-player"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
