<div class="profileaddresschangestep4  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep3"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep5"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <ul class="d-flex align-items-center mb-4 ">
                <li>
                  <h5 class="font14 m-0 font-bold black-text mr-2">
                    Enable Withdrawal Screen
                    <span
                      class="icon info toolTip"
                      data-tooltip-content="#enableWithdrawalScreen"
                    ></span>
                  </h5>
                  <div class="tooltipTemplates">
                    <div class="toolTipInformation" id="enableWithdrawalScreen">
                      Enable this if you are going to allow the user to withdraw
                      the earning to their bank a/c or wallet.
                    </div>
                  </div>
                </li>
                <li>
                  <div class="switchBlock ml-1">
                    <label class="switch m-0">
                      <input
                        type="checkbox"
                        class="withdrawal-slider-check"
                        [(ngModel)]="refCountData.enableWithdrawlScreen"
                        value="enableWithdrawlScreen"
                        name="enableWithdrawlScreen"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </li>
              </ul>
              <h5 class="font-bold black-text white-bg">
                1. Choose Color Palatte
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group">
                  <div class="w-50 position-relative">
                    <div
                      class="form-group d-flex align-items-center color-field"
                    >
                      <input
                        spellcheck="false"
                        type="color"
                        class="form-control CountColorPalette"
                        [(ngModel)]="refCountData.colorPalatteCode"
                        value="colorPalatteCode"
                        name="colorPalatteCode"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-center color-code"
                    >
                      <input
                        spellcheck="false"
                        type="text"
                        class="form-control CountColorPalette"
                        [(ngModel)]="refCountData.colorPalatteCode"
                        value="colorPalatteCode"
                        name="colorPalatteCode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                2. Select Font Style
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group selectbox">
                  <select
                    class="form-control select"
                    id="font-style"
                    [(ngModel)]="refCountData.fontStyle"
                    name="fontStyle"
                  >
                    <option
                      *ngFor="let fontstyle of possibleAttr.fontStyles"
                      value="{{ fontstyle }}"
                      >{{ fontstyle }}</option
                    >
                    <!-- <option>Nunito Sans Regular</option>
                    <option>Nunito Sans Bold</option>
                    <option>Nunito Sans Semi Bold</option>
                    <option>Nunito Sans Italics</option>
                    <option>Nunito Sans Light</option> -->
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div
                class="mobile-content"
                [ngStyle]="{ 'font-family': refCountData.fontStyle }"
              >
                <div
                  class="mobile-head mobile-head-count text-center"
                  [ngStyle]="{
                    'background-color': refCountData.colorPalatteCode
                  }"
                >
                  <p
                    class="MobileCountReferTitle"
                    [ngStyle]="{ 'font-family': refCountData.fontStyle }"
                  >
                    Refer
                  </p>
                </div>
                <div class="mobile-body">
                  <div class="earning-content">
                    <div
                      class="p-2 grey-bg d-flex align-items-center justify-content-between rounded"
                    >
                      <div>
                        <h5 class="m-0">40.00 USD</h5>
                        <p class="grey-text">Total Earnings(40X1)</p>
                      </div>
                      <div>
                        <div
                          class="rounded-circle withdrawalIconContainer"
                          style="width:30px;height:30px;"
                          [ngStyle]="{
                            'background-color': refCountData.colorPalatteCode
                          }"
                        >
                          <span class="icon withdrawal"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between p-2"
                      style="border-bottom: 1px solid #000"
                    >
                      <div class="flex-grow-1 pr-3">
                        <h6 class="m-0">100</h6>
                        <p style="font-size: 8px">Clicks on referral</p>
                      </div>
                      <div class="flex-grow-1 border-left pl-3">
                        <h6 class="m-0">40</h6>
                        <p style="font-size: 8px">Converted Referrals</p>
                      </div>
                    </div>
                    <h6 class="my-2 px-2">List of Referrals(40)</h6>
                    <ul class="onboard-list px-2">
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">John Hanley</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">Nina Gomez</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">Joa Larkin</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">Bob Marley</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">Emma Paris</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img
                          src="assets/images/user.jpg"
                          width="20"
                          height="20"
                          class="rounded-circle mr-2"
                        />
                        <p class="black-text">Stessa</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    [(ngModel)]="referralData.programId"
                    value="programId"
                    name="programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
