<form class="attributeSelectionForm d-flex align-content-start flex-wrap">
    <!-- START Attribute Name Select Options -->
    <div class="form-group custom-form-group seg-width ">
        <select class="form-control custom-select-box select filter" [(ngModel)]="filter.attr_name" name="attr_name" (change)="onChangedAttrName($event)">
            <option disabled selected hidden value="">Select Here</option>
            <option *ngFor="let attr of getAttrs()" value="{{attr.name}}">{{attr.name}}</option>
        </select>
    </div>
    <!-- END -->

    <!-- START user attribute and device attributes-->
    <ng-container *ngIf="isUserAttr() || isDeviceAttr()">
        <!-- START Operator Select Options -->
        <!--    Depends on selected Attribute -->
        <!--    If has_operator of selected Attribute, then Has Operator select options -->
        <!--    Else has not Operator select options -->
        <div *ngIf="hasOperator()" class="form-group custom-form-group seg-width">
            <select class="form-control custom-select-box select filter" [(ngModel)]="filter.operator" name="operator" (change)="onChangedOperator($event)">
                <option disabled selected hidden value=''>Select Here</option>
                <option *ngFor="let op of getOperators()" value="{{op.operator}}">{{op.operator}}</option>
            </select>
        </div>

        <!-- Inputs -->
        <div *ngIf="isOperatorInputable()" class="d-flex flex-wrap custom-form-group">
            <div *ngFor="let param of filter.params">
                <div *ngIf="isStringType()" class="form-group formFloatingGroup width90 seg-width filtered active"> 
                    <!-- <ng-container *ngIf="isNotAllowNumber(filter.attr_name)">
                        <input type="text" class="form-control custom-select-box" (keypress)="!numberOnly($event)" [(ngModel)]="param.value" name="param[{{param.value}}]">
                    </ng-container> -->
                    <!-- <ng-container *ngIf="!isNotAllowNumber(filter.attr_name)"> -->
                    <form [formGroup]="myForm">
                        <input formControlName="state" [typeahead]="getTypeAheadValue()" [(ngModel)]="param.value" [typeaheadOptionsLimit]="7" 
                                [typeaheadOptionField]="'name'" [typeaheadMinLength]="0" class="form-control">
                    </form>
                        <!-- <input type="text" class="form-control custom-select-box" [(ngModel)]="param.value" name="param[{{param.value}}]"> -->
                    <!-- </ng-container> -->
                </div>
                <div *ngIf="isNumberType()" class="form-group formFloatingGroup width90 seg-width filtered active">
                    <input type="text" (keypress)="numberOnly($event)" class="form-control custom-select-box"  [(ngModel)]="param.value" name="param[{{param.value}}]">
                </div>
                <div *ngIf="isDateType()" class="form-group date formFloatingGroup width90 seg-width filtered active">
                    <input  class="form-control custom-select-box" placeholder="Date" name="param[{{param.value}}]"
                        [(ngModel)]="param.value" [ngModelOptions]="{standalone: true}"
                        [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <div *ngIf="isBooleanType()" class="form-group formFloatingGroup width90 seg-width filtered active">
                    <input type="checkbox" class="form-control custom-select-box" [(ngModel)]="param.value" name="param[{{param.value}}]">
                </div>
    
                <div *ngIf="param.connector!=''" class="formConnector filtered age active">{{param.connector}}</div>
            </div>
        </div>
    </ng-container>
    <!-- END user attribute and device attributes-->

    <!-- START app events-->
    <ng-container *ngIf="isAppEvent()">
        <!-- START conditionForEvent -->
        <div *ngIf="hasCondition()" class="form-group custom-form-group seg-width">
            <select class="form-control custom-select-box select filter" [(ngModel)]="filter.attr_cond" name="attr_condition" (change)="onChangedAttrCond($event)">
                <option disabled selected hidden value=''>Select Here</option>
                <option *ngFor="let cond of getConditions()" value="{{cond.name}}">{{cond.name}}</option>
            </select>
        </div>
        <!-- operator -->
        <div *ngIf="hasCondition()" class="form-group custom-form-group seg-width">
            <select class="form-control custom-select-box select filter" [(ngModel)]="filter.operator" name="operator">
                <option disabled selected hidden value=''>Select Here</option>
                <option *ngFor="let op of getAppEventOperator()" value="{{op.operator}}">{{op.operator}}</option>
            </select>
        </div>

        <!-- Inputs -->
        <div *ngIf="hasCondition()" class="d-flex flex-wrap custom-form-group">
            <div class="form-group formFloatingGroup width90 seg-width filtered active">
                <input type="text" (keypress)="numberOnly($event)" class="form-control custom-select-box " placeholder="" value="1" [(ngModel)]="filter.cnt_times" name="cnt_times">
                <span class="floatingLabel">Times</span>
            </div>
        </div>

        <!-- START conditionForDuration -->
        <div *ngIf="hasCondition()" class="form-group custom-form-group seg-width">
            <select class="form-control custom-select-box select filter" [(ngModel)]="filter.attr_dura" name="attr_dura" (change)="onChangedAttrDuration($event)">
                <option disabled selected hidden value=''>Select Here</option>
                <option *ngFor="let duration of getDurations()" value="{{duration.name}}">{{duration.name}}</option>
            </select>
        </div>

        <!-- Inputs -->
        <div *ngIf="hasCondition()" class="d-flex flex-wrap custom-form-group">
            <div class="form-group formFloatingGroup width90 seg-width filtered active">
                <input type="text" (keypress)="numberOnly($event)" class="form-control custom-select-box " placeholder="" value="1" [(ngModel)]="filter.cnt_days" name="cnt_days">
                <span class="floatingLabel">Days</span>
            </div>
        </div>

        <!-- START has attribute -->
        <ng-container *ngIf="hasAttribute()">
            <div class="form-group custom-form-group seg-width">
                <select class="form-control custom-select-box select filter" [(ngModel)]="filter.event_attr_name" name="event_attr_name" (change)="getAutoCompleteContent($event)">
                    <option disabled selected hidden value=''>Select Here</option>
                    <option *ngFor="let attr of getAttributes()" value="{{attr}}">{{attr}}</option>
                </select>
            </div>
            <!-- operatoer selection -->
            <div class="form-group custom-form-group seg-width">
                <select class="form-control custom-select-box select filter" [(ngModel)]="filter.event_attr_type" name="event_attr_type">
                    <option disabled selected hidden value=''>Select Here</option>
                    <option *ngFor="let op of getAttrOperators()" value="{{op.operator}}">{{op.operator}}</option>
                </select>
            </div>
            <!-- Inputs -->
            <div *ngIf="hasCondition()" class="d-flex flex-wrap custom-form-group">
                <div class="form-group formFloatingGroup width90 seg-width filtered active">
                    <!-- <input type="text" class="form-control custom-select-box" placeholder="" value="1" [(ngModel)]="filter.event_attr_value" name="event_attr_value"> -->
                    <form [formGroup]="myForm">
                        <input formControlName="state" [typeahead]="getTypeAheadValue()" [(ngModel)]="filter.event_attr_value" [typeaheadOptionsLimit]="7" 
                                [typeaheadOptionField]="'event_attr_value'" [typeaheadMinLength]="0" class="form-control">
                    </form>
                </div>
            </div>
        </ng-container>

        <!-- START Add Attributes button -->
        <div *ngIf="hasCondition() && filter.has_attr===false && filter.used_attr===false" class="form-group custom-form-group filtered hasExecuted active">
            <button class="btn btnBlueBordered" (click)="addEventAttribute()">Add Attributes</button>
            <ng-template #popTemplate><div [innerHtml]="html"></div></ng-template>
            <a href="#" class="d-inline-flex ml-1 mr-2" [tooltip]="popTemplate" placement="top" container="body">
                <i class="icon-custom icon-Info"></i>
            </a>
        </div>
    </ng-container>
 
</form>
<div *ngIf="isSelectableStatus()" class="d-flex justify-content-center align-items-center divider checkDivider">
    <div class="check-switch">
        <div class="radio-container d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="condition" id="and" value="and" (click)="setAndStatus()">
                <label class="form-check-label" for="and">
                    And
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="condition" id="not" value="not" (click)="setNotStatus()">
                <label class="form-check-label" for="not">
                    Not
                </label>
            </div>
        </div>
    </div>
    <a href="#" class="remove-filter" (click)="removeFilter($event)"></a>
</div>
<div *ngIf="isAndStatus()" class="d-flex justify-content-center align-items-center divider checkDivider">
    <span>And</span>
    <a href="#" class="remove-filter" (click)="removeFilter($event)"></a>
</div>
<div *ngIf="isNotStatus()" class="d-flex justify-content-center align-items-center divider checkDivider">
    <span>Not</span>
    <a href="#" class="remove-filter" (click)="removeFilter($event)"></a>
</div>
<div *ngIf="isNoneStatus()" class="d-flex justify-content-center align-items-center divider">
    <a class="btn btn-filter disabled" [class.disabled]="filter.attr_name==''" (click)="addFilter($event)">Add Filter</a>
    <a href="#" class="reset-filter"></a>
</div>

<!-- START confirm to fill the empty item  -->
<button data-toggle="modal" id="fillEmptyItem" data-target="#fillEmptyItemSegement" style="display:none"></button>

<div class="modal fade" id="fillEmptyItemSegement" tabindex="-1" role="dialog" aria-labelledby="failedEditedLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0.8);">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 p-2">
                <div class="modal-title" id="cancelEditedLabel">Warning</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px;">
                    <span aria-hidden="true" class="icon white-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h6 black-text">Please fill the empty item !</div>
            </div>
            <div class="modal-footer border-0 px-2 pt-0 pb-3">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sure</button>
            </div>
        </div>
    </div>
</div>
<!-- END fail to save with cancel or save button -->