@import '../segments.module';

/* START  Add filter */
.reset-filter {
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #fff url(/assets/img/spritesheet.svg) no-repeat -291px -7px; 
}
/* END  Add filter */

/* START Divider filter */
.divider {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 15px; 
}
.divider span {
    text-transform: capitalize;
    color: #5306e0;
    background: #ffffff;
    display: inline-block;
    padding: 0 10px; 
}
.divider:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #f1f1f1;
    z-index: -1; 
}
.divider .remove-filter, .divider .reset-filter {
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #fff url(/assets/img/spritesheet.svg) no-repeat -291px -7px; 
}
/* END Divider */

/* START add filter */
.add-more {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #000000; 
}

.icon-custom {
    display: inline-block;
    vertical-align: middle;
    background-position: -35px -80px;
    background-image: url("../../../../assets/img/spritesheet.svg");
}

.icon-addSmall, .icon-Info {
    width: 14px;
    height: 14px; 
}

.icon-addSmall {
    background-position: -28px -133px; 
}

.icon-add {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/assets/img/spritesheet.svg"); 
}

.close {
    background-position: -11px -56px; 
}

.filterAddition {
    padding-left:10px;
}
/* END add filter */


.filtered {
    display: none;
    position: relative; 
}
.filtered.active {
    display: block; 
}

.filtered.active.frezzedOptions {
    display: none; 
}
.filtered.active.addAttribute {
    display: none; 
}

.filteredGroup {
    display: none; 
}
.filteredGroup.active {
    display: block; 
}

.formConnector {
    font-size: 11px;
    line-height: 38px;
    height: 30px;
    font-family: "robotoregular";
    color: #000000; 
}


/* START form group style */
.formFloatingGroup {
    position: relative; 
}
.formFloatingGroup .form-control {
    padding-right: 35px; 
}
.formFloatingGroup .floatingLabel {
    position: absolute;
    right: 20px;
    top: 6px;
    font-family: "robotoregular";
    color: #9f9f9f;
    font-size: 12px; 
}

.attributeSelectionForm .form-group, .attributeSelectionForm .formConnector {
    margin-right: 10px; 
}
/* END form group style */

.seg-width {
    width:160px;
}

.btn.btn-filter {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    background: #5306e0;
    border-color: #5306e0;
    color: #ffffff !important; 
}
.btn.btn-filter.disabled {
    background: #ffffff;
    border-color: #ccc;
    color: #ccc !important;
    opacity: 1; 
}


/* START radio container */

/* Radio */
.radio-container {
    width: 120px;
    border-radius: 20px;
    border: 1px solid #5306e0;
    background: #ffffff; 
}
.radio-container .form-check {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0; 
}
.radio-container .form-check-label, .radio-container .form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 0;
    cursor: pointer; 
}
.radio-container .form-check-input:checked + .form-check-label {
    background: #5306e0;
    color: #ffffff;
    border-radius: 15px; 
}
  

.form-check {
    position: relative;
    width: 16px;
    height: 16px;
    padding: 0; 
}
.form-check .form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    margin: 0;
    opacity: 0;
    width: 16px;
    height: 16px; 
}
.form-check .form-check-input.checkbox + label {
    padding-left: 25px;
    position: absolute;
    top: 0;
    left: 0; 
}
.form-check .form-check-input.checkbox + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: url(../../../../assets/img/spritesheet.svg) no-repeat 0 -260px; 
    }
.form-check .form-check-input.checkbox:checked + label:before {
    background-position: -125px -260px; 
}
.form-check .form-check-input.checkbox:checked:disabled + label:before {
    background-position: -124px -279px; 
}
.form-check .form-check-input.checkbox:disabled {
    cursor: not-allowed; 
}
.form-check .form-check-input.checkbox:disabled + label:before {
    background-position: 0 -279px; 
}
  
/* END radio container */

.custom-select-box {
    padding: 0px 20px 0px 8px !important;
    height: 30px;
    width: 150px;
    font-size: 12px;
    line-height: 28px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    font-family: robotomedium;
}

.custom-form-group {
    height : 35px !important;
    margin-bottom: 10px !important;
}

/* form control for input */@at-root
.form-control {
    min-width: 70px;
    height: 30px;
    margin: 0 10px 0 0;
    border-color: #ccc;
    font-size: 12px;
    line-height: 10px;
    background: #ffffff;
    padding: 6px 10px;
    color: #000000;
  }
  .form-control::placeholder {
    font-size: 13px;
  }
  .form-control:focus {
    box-shadow: none;
    outline: none;
  }
  .form-control.select:focus {
    outline: none;
  }
