<div class="profileaddresschangestep2  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="font10 blue-text m-0">Screen Configuration</div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep1"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep3"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <h5 class="font-bold black-text white-bg">
                1. Edit referral text here
              </h5>
              <div class="w-50 position-relative ml-3">
                <div class="form-group w-80">
                  <label class="form-label" for="body2">Body</label>
                  <span class="textareaWidget">
                    <textarea
                      spellcheck="false"
                      placeholder="Text Here"
                      class="form-control referral-body"
                      [(ngModel)]="messageData.referralMessageText"
                      name="referralMessageText"
                      value="referralMessageText"
                      maxlength="120"
                    >
                    </textarea>
                  </span>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-3">
                2. Invite Link Prefix
              </h5>
              <div class="w-75 position-relative ml-3">
                <div class="form-group w-75 d-flex align-items-center">
                  <label class="form-label">https://</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control mx-2 w-50 ChatReferalURLInput"
                    [(ngModel)]="messageData.referralLinkPrefix"
                    name="referralLinkPrefix"
                    value="referralLinkPrefix"
                  />
                  <label class="form-label">.aktion.link/23435</label>
                </div>
                <!-- <button class="btn btn-tertiary rounded ">Use Default</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div class="mobile-content whatsapp-screen">
                <div class="chat-area">
                  <div class="chat-head">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h6 class="black-text m-0">
                        Referrals - Google Pay Referrals
                      </h6>
                      <span class="close">x</span>
                    </div>
                    <p class="m-0 secondary-color">Referrals</p>
                    <p class="m-0 secondary-color">pay.google.com</p>
                  </div>
                  <div class="chat-body">
                    <span class="ChatReferalText" style="color:#000">{{
                      messageData.referralMessageText
                    }}</span>
                    <a
                      href="javascript:void(0)"
                      class="brand-color ChatReferalLink"
                      >{{ messageData.referralLinkPrefix }}.aktion.link/23435</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    [(ngModel)]="referralData.programId"
                    value="programId"
                    name="programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
