<div class="height100 w-100 p-3">
  <div class="height100 py-4 white-bg border-radius-4">
    <div class="mt-3 height100">
      <div class="d-flex justify-content-between align-items-center px-4 mb-3">
        <div
          class="addWidgetContainer position-relative d-flex justify-content-start align-items-center pr-1 pl-2 py-2 height30px"
        >
          <span class="addWidgetText font12 pl-1">Create Users</span>
          <span class="addWidgetBtn CreateUserBtn d-inline-block">
            <i class="icon icon-add-md-white"></i>
          </span>
        </div>
        <form class="header-search form-inline my-2 my-lg-0">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="SearchBtn" type="submit">
            <i class="iconSearchBtn"></i>
          </button>
        </form>
      </div>
      <div class="UsersContentWidget">
        <div class="UsersTitle w-100 px-4 border-radius-3 mb-2 height50px">
          <div class="d-flex grey-bg py-3 height100">
            <div class="col-md-3">
              <div class="font12 font-bold">User Name</div>
            </div>
            <div class="col-md-3">
              <div class="font12 font-bold">Email ID</div>
            </div>
            <div class="col-md-2">
              <div class="font12 font-bold">Roles</div>
            </div>
            <div class="col-md-2">
              <div class="font12 font-bold">Activation Status</div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="UsersContentList w-100 px-4 scrollbar pb-4">
          <div
            class="UsersContentItem d-flex align-items-center py-2 border-radius-4"
          >
            <div class="col-md-3 MemberNameWidget d-flex align-items-center">
              <div class="MemberImage">
                <img src="assets/images/users/male1.jpg" />
              </div>
              <div class="MemberName ml-2 d-flex flex-column">
                <span class="font12 font-bold">Karan Singh</span>
              </div>
            </div>
            <div class="col-md-3">
              <span class="font12">karan_s@gmail.com</span>
            </div>
            <div class="col-md-2"><span class="font12">Admin</span></div>
            <div class="col-md-2">
              <div class="switchBlock d-flex align-items-center">
                <p class="mr-2 mb-0 black-text width50px">Active</p>
                <label class="switch m-0">
                  <input type="checkbox" checked class="checkSlider" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-md-2 text-right">
              <i class="icon icon-edit"></i>
            </div>
          </div>
          <div
            class="UsersContentItem d-flex align-items-center py-2 border-radius-4"
          >
            <div class="col-md-3 MemberNameWidget d-flex align-items-center">
              <div class="MemberImage">
                <img src="assets/images/users/female1.jpg" />
              </div>
              <div class="MemberName ml-2 d-flex flex-column">
                <span class="font12 font-bold">Komal Sharma</span>
              </div>
            </div>
            <div class="col-md-3">
              <span class="font12">komal_sharma@gmail.com</span>
            </div>
            <div class="col-md-2"><span class="font12">Manager</span></div>
            <div class="col-md-2">
              <div class="switchBlock d-flex align-items-center">
                <p class="mr-2 mb-0 black-text width50px">Inactive</p>
                <label class="switch m-0">
                  <input type="checkbox" class="checkSlider" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="col-md-2 text-right">
              <i class="icon icon-edit"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
