app-rating-trend-graph {
  width:100%;
  height:300px;
  .line {
    fill: none;
    stroke: #0052af;
    stroke-width: 3;
}
  
  .overlay {
    fill: none;
    pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
      fill: #0052af;
      stroke: #fff;
  }
  
  .focus circle {
    fill: none;
    stroke: steelblue;
  }

  .line-chart
  {
      border: 1px solid lightgray;
  }
}