<div class="cardContent w-100 position-relative">
  <div class="IndexContent active duration w-100 px-2 justify-content-between">
    <div class="d-flex ContentContainer white-bg w-100 p-2 pr-4 pl-5 position-relative">
      <a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
      <div class="d-flex flex-column justify-content-between width65 height100 border-right-1 border-color pt-0 px-3 pb-3">
        <p class="font16 font-medium mt-2">Real Time Engagement</p>
        <div class="w-100 height100 border-1 border-color">
          <!-- <img class="w-100" src="./assets/images/analytics/analytics-8.png"> -->
          <app-realtime-map-chart *ngIf="realTimeEngagementDetails" [data]="realTimeEngagementDetails"></app-realtime-map-chart>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-between width35 height100">
        <div class="height50 px-3 pb-2 border-bottom-1 border-color" style="overflow: auto;max-height: 100%;justify-content: center !important;align-items: center !important;">
          <div class="d-flex justify-content-between align-items-center">
            <p class="font16 font-medium mt-1 mb-2">Users</p>
            <span class="font12 font-italic darker-grey-text pr-5">Streaming in the last 30mins</span>
          </div>
          <div class="d-flex justify-content-between align-items-center pr-4">
            <app-realtime-chart *ngIf="realTimeEngagementData" [mapSpacing]="large" [data]="realTimeEngagementData"></app-realtime-chart>
            <p class="font14 blue-text font-medium loader" *ngIf="!realTimeEngagementData">Please wait loading data</p>
            <!-- <img src="./assets/images/analytics/analytics-9.png"> -->
            <div *ngIf="!realTimeEngagementData" class="font24 blue-text">5</div>
          </div>
        </div>
        <div class="height25 p-3 border-bottom-1 border-color">
          <p class="font16 font-medium mt-2 mb-0"><i class="icon icon-location-sm mr-2"></i>Top Location</p>
          <div *ngIf="realTimeEngagementDetails" class="width100 d-flex justify-content-between align-items-center px-4">
            <span class="d-flex align-items-center font-bold">
              <!-- <i class="icon icon-flag-india mr-2"></i> -->
              <img [src]="flagUrl" class="country-flag-icon" />
               {{ realTimeEngagementDetails.topLocation }}
              <span class="" *ngIf="!realTimeEngagementDetails.topLocation">No Data</span>
            </span>
            <span class="font24 blue-text">{{ realTimeEngagementDetails.topLocationCount }}</span>
          </div>
        </div>
        <div class="height25 p-3">
          <p class="font16 font-medium mt-2 mb-0"><i class="icon icon-apps-sm mr-2"></i>Top App Version</p>
          <div class="width100 d-flex justify-content-between align-items-center px-4">
              <span class="d-flex align-items-center font-bold">ver 5.0.0</span>
            <span class="font24 blue-text">3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
