<div class="row">
  <div class="MiddlePanelWidget position-relative">
    <div class="wizard-btns floatingWizard position-absolute d-flex justify-content-between">
      <a href="javascript:void(0)" class="d-inline-block mr-2 secbut pcacs-tabs" (click)="pageChange('config-question')">
        <i class="icon leftArrowIcon mr-1"></i>Back
      </a>
      <!-- <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs disabled" (click)="pageChange('action-block')">
        Next<i class="icon rightArrowIcon"></i>
      </a> -->
      <a href="javascript:void(0)" class="d-inline-block secbut pcacs-tabs" (click)="saveSurvey()">
        Done<i class="icon rightArrowIcon"></i>
      </a>
    </div>
    <div class="PanelMiddleContent workSpaceBody">
      <div class="segments referralSegments">
        <div class="Segment-Title">
          <div class="font10 grey-text m-0" *ngIf="surveyType == 'survey'">Screen Configuration</div>
          <div class="font10 grey-text m-0" *ngIf="surveyType == 'feedback'">Question Form</div>
        </div>
        <div class="segment-body scrollbar pb-5">
          <form>
            <h5 class="font-bold black-text white-bg">1. Choose Color Palatte</h5>
            <div class="w-50">
              <div class="w-50 position-relative">
                <div class="form-group d-flex align-items-center color-field">
                  <input spellcheck="false" [ngModelOptions]="{standalone: true}" type="color" class="form-control HomeColorPalette cloneColor"
                    [(ngModel)]="thankyouData.color" />
                </div>
                <div class="form-group d-flex align-items-center color-code">
                  <input spellcheck="false" [ngModelOptions]="{standalone: true}" type="text" class="form-control HomeColorPalette m-0 cloneColor"
                    [(ngModel)]="thankyouData.color" value="#6b8e23" />
                </div>
              </div>
            </div>
            <h5 class="font-bold black-text white-bg">2. Edit survey thank you text here</h5>
            <div class="w-50">
              <div class="form-group selectbox w-75 mb-3">
                <label class="form-label font-medium" for="font-style2">Select Font Style
                </label>
                <select class="form-control select" (ngModelChange)="onFontSelect($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="thankyouData.fontStyle"
                  id="font-style2">
                  <option *ngFor="let font of fontList" [ngValue]="font.key">{{font.value}}</option>
                </select>
              </div>
            </div>
            <h5 class="font-medium black-text white-bg">Heading</h5>
            <div class="w-100">
              <div class="form-group d-flex">
                <input type="text" [ngModelOptions]="{standalone: true}" class="dottedInput cloneText form-control" maxlength="60" [(ngModel)]="thankyouData.title">
              </div>
            </div>
            <div class="w-50">
              <div class="d-flex align-items-start mb-0">
                <h5 class="font-bold black-text">3. Upload new logo/icon</h5>
              </div>
              <div class="form-group">
                <label class="form-label grey-text font-italics mb-0" for="title">(300x300)</label>
                <div class="upload-container survey thanks">
                  <img [src]="thankyouData.imageUrl || '../assets/img/Thankyou.png'" />
                </div>
              </div>
              <button class="btn btn-tertiary btn-small mt-3 upload">
                <input type="file" class="withdraw-upload" (change)="fileChange($event)"> Replace Image
                <span class="icon icon-upload ml-2"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="ruleUIReview">
    <div class="PanelRightContent">
      <div class="card mx-0 transparent">
        <div class="card-body d-flex align-items-center justify-content-center referal-content py-0" *ngIf="!isWebApp">
          <div class="mobile-container position-relative">
            <div class="mobile-content p-3 text-center">
              <div class="mobile-body FeedbackScreen position-relative thanks">
                <p class="mt-2 mb-3 black-text font10 font-bold feedbackThanksInput" [ngStyle]="fontSelected">{{thankyouData.title}}</p>
                <img class="FeedbackImg thanks mt-3" [src]="thankyouData.imageUrl || '../assets/img/Thankyou.png'" />
                <a href="javascript:void(0)" [ngStyle]="{'background-color': thankyouData.color}" class="titleColor FeedbackButton">
                  <span [ngStyle]="fontSelected">Okay</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0" [ngClass]="{'card-footer-fixed': isWebApp}">
          <div class="filter-count-details position-static">
            <form class="">
              <div class="form-group w-100 m-0 pt-2">
                <label class="black-text font-bold" *ngIf="surveyType == 'survey'">Survey Name</label>
                <label class="black-text font-bold" *ngIf="surveyType == 'feedback'">Feedback Name</label>
                <input [ngClass]="{'showError': showError}" type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="ACCOUNT NAME_SURVEY_01"
                  (ngModelChange)="onNameChange($event)" [(ngModel)]="surveyName" />
                <div class="invalid-feedback" [ngClass]="{'showError': showError}">
                  Please provide a valid name.
                </div>
              </div>
            </form>
            <div class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end">
              <a href="javascript:void(0)" (click)="cancelSurvey()" class="btn btn-link p-0 mr-3">Cancel</a>
              <a href="javascript:void(0)" (click)="saveSurvey()" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>