<div class="row panel-fill">
  <!-- Blog Content-->
  <div class="col-12 col-md-9 pr-0">
    <div class="card card-min-height">
      <div class="card-header d-flex align-items-center">
        <h5 class="segment-header m-0 pl-1">New Segment Creation</h5>
        <div *ngIf="filters.productApp !== ''" class="align-items-center">
          <span class="font12 mr-2">Selected App :</span>
          <span class="SelectedProductText selectedTextColr font-medium mr-2">{{
            showAppName(filters.productApp)
          }}</span>
          <i
            class="icon close mb-1"
            style="margin-top:4px"
            (click)="deleteSelecteProduct(filters.productApp)"
          ></i>
        </div>
        <a
          href="#"
          (click)="gotoMethodNewAttribute($event)"
          class="ml-auto font-blue"
        >
          How to add new attributes?</a
        >
      </div>

      <div
        *ngIf="filters.productApp === ''"
        class="card-header d-flex align-items-center"
      >
        <span class="mr-3 font-medium">Select App</span>
        <div
          class="form-group custom-form-group seg-width"
          style="margin:0px; width:200px"
        >
          <select
            class="form-control custom-select-box select filter"
            [(ngModel)]="filters.productApp"
            name="productApp"
            (change)="showPossibleAttr(filters.productApp)"
          >
            <option
              *ngFor="let appId of productAppList"
              value="{{ appId.appId }}"
              >{{ appId.name }}</option
            >
          </select>
        </div>
      </div>

      <!-- START tab display -->
      <div *ngIf="filters.productApp !== ''" class="nav-tab-panel">
        <!-- START user attribution -->
        <div
          *ngIf="filters.users && filters.users.length > 0"
          class="attributeSelected mb-1"
        >
          User Attribute
        </div>
        <div
          *ngFor="let filter of filters.users; let idx = index"
          class="tab-content w-100 mt-1"
        >
          <segment-filter-line
            [filter]="filter"
            [attrs]="possible_attrs"
            [AppId]="filters.productApp"
            [TabName]="'User'"
            (filterRemoved)="onRemovedFilter($event)"
          >
          </segment-filter-line>
        </div>
        <!-- END user attribute -->

        <!-- START device attribution -->
        <div
          *ngIf="filters.devices && filters.devices.length > 0"
          class="attributeSelected mb-1"
        >
          Device Attribute
        </div>
        <div
          *ngFor="let filter of filters.devices; let idx = index"
          class="tab-content w-100 mt-1"
        >
          <segment-filter-line
            [filter]="filter"
            [attrs]="possible_attrs"
            [AppId]="filters.productApp"
            [TabName]="'Device'"
            (filterRemoved)="onRemovedFilter($event)"
          >
          </segment-filter-line>
        </div>
        <!-- END device attribute -->

        <!-- START app event -->
        <div
          *ngIf="filters.app_events && filters.app_events.length > 0"
          class="attributeSelected mb-1"
        >
          App Events
        </div>
        <div
          *ngFor="let filter of filters.app_events; let idx = index"
          class="tab-content w-100 mt-1"
        >
          <segment-filter-line
            [filter]="filter"
            [attrs]="possible_attrs"
            [AppId]="filters.productApp"
            [TabName]="'Event'"
            (filterRemoved)="onRemovedFilter($event)"
          >
          </segment-filter-line>
        </div>
        <!-- END app event -->

        <!-- START Main tab display -->
        <ng-container *ngIf="showCombineFunc()">
          <segment-filter-tabs
            (tabChanged)="onChangedTab($event)"
          ></segment-filter-tabs>

          <div class="tab-content w-100 mt-4 h-auto">
            <segment-filter-line
              [filter]="cur_filter"
              [attrs]="possible_attrs"
              [AppId]="filters.productApp"
              [TabName]="getTabName()"
              (filterAdded)="onAddedFilter($event)"
              (filterRemoved)="onRemovedFilter($event)"
            >
            </segment-filter-line>
          </div>
        </ng-container>
      </div>
      <!-- END tab display -->
    </div>
  </div>

  <!-- Blog Sidebar-->
  <div class="col-12 col-md-3 pl-0">
    <div class="rulesSection p-3">
      <div class="rulesHeader">New Rules</div>
      <div class="rule-body scrollbar">
        <div class="rulesSentence">
          <span class="defaultRuleStyles"> Users under </span>
          <!--user attribution -->
          <ng-container
            *ngIf="filters.users && filters.users.length > 0"
            class="rule-display"
          >
            <ng-container *ngFor="let filter of filters.users; let idx = index">
              <!-- <span class="defaultRuleStyles"> Users under </span> -->
              <span class="font-bold">{{ filter.attr_name }} </span>
              <span class="font-bold">{{ filter.operator }} </span>
              <span *ngFor="let param of filter.params" class="font-bold">
                <ng-container *ngIf="filter.attr_type == 'Date'">
                  {{ getRealDate(param.value) }}
                  <!-- {{param.value.getFullYear() + '-' + (param.value.getMonth() + 1) + '-' + param.value.getDate()}}  -->
                </ng-container>
                <ng-container *ngIf="filter.attr_type != 'Date'">
                  {{ param.value }}
                </ng-container>
              </span>
              <span *ngIf="filter.logic_status === LOGIC_AND" class="condition">
                AND
              </span>
              <span *ngIf="filter.logic_status === LOGIC_NOT" class="condition">
                NOT
              </span>
            </ng-container>
          </ng-container>

          <!-- device attribution-->
          <ng-container
            *ngIf="filters.devices && filters.devices.length > 0"
            class="rule-display"
          >
            <ng-container
              *ngFor="let filter of filters.devices; let idx = index"
            >
              <!-- <span class="defaultRuleStyles"> Users under </span> -->
              <span class="font-bold">{{ filter.attr_name }} </span>
              <span class="font-bold">{{ filter.operator }} </span>
              <span *ngFor="let param of filter.params" class="font-bold">{{
                param.value
              }}</span>
              <span *ngIf="filter.logic_status === LOGIC_AND" class="condition">
                AND
              </span>
              <span *ngIf="filter.logic_status === LOGIC_NOT" class="condition">
                NOT
              </span>
            </ng-container>
          </ng-container>

          <!-- app event -->
          <ng-container
            *ngIf="filters.app_events && filters.app_events.length > 0"
            class="rule-display"
          >
            <ng-container
              *ngFor="let filter of filters.app_events; let idx = index"
            >
              <!-- <span class="defaultRuleStyles"> Users under </span> -->
              <span class="font-bold">{{ filter.attr_name }} </span>
              <span class="font-bold">{{ filter.attr_cond }} </span>
              <span class="font-bold">{{ filter.operator }} </span>
              <span class="font-bold">{{ filter.cnt_times }} </span>
              <span class="defaultRuleStyles"> Times </span>
              <span class="font-bold">{{ filter.attr_dura }} </span>
              <span class="font-bold">{{ filter.cnt_days }} </span>
              <span class="defaultRuleStyles"> Days </span>
              <span class="font-bold">{{ filter.event_attr_name }} </span>
              <span class="font-bold">{{ filter.event_attr_type }} </span>
              <span class="font-bold">{{ filter.event_attr_value }} </span>
              <span *ngIf="filter.logic_status === LOGIC_AND" class="condition">
                AND
              </span>
              <span *ngIf="filter.logic_status === LOGIC_NOT" class="condition">
                NOT
              </span>
            </ng-container>
          </ng-container>

          <!--START cur filter values -->
          <!--user attribution -->
          <ng-container
            *ngIf="
              (cur_filter && cur_filter.attr_kind == 0) ||
              cur_filter.attr_kind == 1
            "
            class="rule-display"
          >
            <!-- <span class="defaultRuleStyles"> Users under </span> -->
            <span class="font-bold">{{ cur_filter.attr_name }} </span>
            <span class="font-bold">{{ cur_filter.operator }} </span>
            <span *ngFor="let param of cur_filter.params" class="font-bold">
              <ng-container
                *ngIf="
                  cur_filter.attr_type == 'Date' &&
                  cur_filter.operator != '' &&
                  param.value
                "
              >
                {{ showDateValue(param.value) }}
                <!-- {{param.value.getFullYear() + '-' + (param.value.getMonth() + 1) + '-' + param.value.getDate()}}  -->
              </ng-container>
              <ng-container *ngIf="cur_filter.attr_type != 'Date'">
                {{ param.value }}
              </ng-container>
            </span>
          </ng-container>

          <!--user attribution -->
          <ng-container
            *ngIf="cur_filter && cur_filter.attr_kind == 2"
            class="rule-display"
          >
            <!-- <span class="defaultRuleStyles"> Users under </span> -->
            <span class="font-bold">{{ cur_filter.attr_name }} </span>
            <span class="font-bold">{{ cur_filter.attr_cond }} </span>
            <span class="font-bold">{{ cur_filter.operator }} </span>
            <span *ngIf="cur_filter.attr_name" class="font-bold"
              >{{ cur_filter.cnt_times }}
            </span>
            <span *ngIf="cur_filter.attr_name" class="defaultRuleStyles">
              Times
            </span>
            <span class="font-bold">{{ cur_filter.attr_dura }} </span>
            <span *ngIf="cur_filter.attr_name" class="font-bold"
              >{{ cur_filter.cnt_days }}
            </span>
            <span *ngIf="cur_filter.attr_name" class="defaultRuleStyles">
              Days
            </span>
            <span *ngIf="cur_filter.has_attr" class="font-bold"
              >{{ cur_filter.event_attr_name }}
            </span>
            <span *ngIf="cur_filter.has_attr" class="font-bold"
              >{{ cur_filter.event_attr_type }}
            </span>
            <span *ngIf="cur_filter.has_attr" class="font-bold"
              >{{ cur_filter.event_attr_value }}
            </span>
          </ng-container>

          <!--END cur filter values -->
        </div>
      </div>

      <div class="filter-count-details">
        <ul
          class="count-list d-flex align-content-center justify-content-start"
        >
          <li>
            <a
              href="#"
              class="countInformation"
              (click)="goToUserCount($event)"
            >
              <span
                *ngIf="countUsers && countUsers.segment"
                class="count rulesCount"
                >{{ countUsers.segment.countOfUsers }}</span
              >
              <span
                *ngIf="!countUsers || !countUsers.segment"
                class="count rulesCount"
                >&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
              <Span class="count-name">User Count</Span>
            </a>
            <a href="#" class="btn btn-filter w-100 rounded-top">
              Save as user group
            </a>
          </li>
          <li>
            <a
              href="#"
              class="countInformation"
              (click)="gotoExcludedUser($event)"
            >
              <span *ngIf="countUsers && countUsers.segment" class="count">{{
                countUsers.segment.countOfExclud
              }}</span>
              <span
                *ngIf="!countUsers || !countUsers.segment"
                class="count rulesCount"
                >&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
              <Span class="count-name">Excluded User</Span>
            </a>
          </li>
        </ul>
        <form class="edit-transparent-forms mt-3">
          <div class="segmentationName">Segmentation Name</div>
          <div class="edit-form-group m-0 px-0">
            <input
              type="text"
              class="edit-form-control"
              [(ngModel)]="saveSegName"
              name="saveSegName"
            />
          </div>
        </form>
        <div
          class="mt-2 mb-3 d-flex justify-content-between align-items-center"
        >
          <button
            class="btn btn-secondary light mr-3"
            data-toggle="modal"
            data-target="#cancelEditedSegement"
          >
            Cancel
          </button>
          <button class="btn btn-primary mr-3" (click)="saveSegmentCheck()">
            Save Segment
          </button>
        </div>
      </div>
    </div>

    <!-- Add New Attribute Selections -->
    <div
      *ngIf="method_show === 1"
      class="add-new-attribute-Widget"
      style="display:block; margin-top:6px"
    >
      <div class="add-new-attribute">
        <div class="d-flex align-items-start justify-content-between">
          <div class="New-attribute-title">
            <div class="New-attribute-title-content">
              <h5 style="font-weight: 700 !important;">
                How to Add New Attributes
              </h5>
              <a href="#" class="close-attribute" (click)="method_show = 0">
                <span class="icon-close-custom close-custom"></span>
              </a>
            </div>
            <p class="grey-text font12 m-0">
              The SmartKarrot SDK captures three kinds of analytics data:
            </p>
          </div>
        </div>
        <div class="attribute-body">
          <div class="accordianGroup">
            <div class="accordion" id="segmentationAccordian">
              <div class="card mx-0">
                <div
                  class="card-header border-bottom-0"
                  id="userAttributeHeader"
                >
                  <h5 class="font-bold mb-0">
                    <a
                      href="#"
                      class="d-flex align-items-center"
                      data-toggle="collapse"
                      data-target="#userAttributeInfo"
                      aria-expanded="false"
                      aria-controls="userAttributeInfo"
                    >
                      <i class="AccordionNumber">1</i>User Attributes
                    </a>
                  </h5>
                </div>

                <div
                  id="userAttributeInfo"
                  class="collapse"
                  aria-labelledby="userAttributeHeader"
                  data-parent="#segmentationAccordian"
                >
                  <div class="card-body">
                    <p>
                      User attributes describe a user of your app. Common ones
                      are first name, last name, gender, and date of birth. A
                      fashion retailing app may want to store its own user
                      attributes, like T-shirt size. You can add your own user
                      attributes by using our Usage Analytics SDK. Just call the
                      addUserAttribute function in the SDK and pass as
                      parameters the attribute name (for example "T-shirt Size")
                      and its value (example "42"). Your attributes will start
                      appearing in the Segmentation screens as soon as a new
                      user attribute is sent from the app. Look up our SDK
                      documentation for more information.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mx-0">
                <div
                  class="card-header border-bottom-0"
                  id="devieAttributeHeader"
                >
                  <h5 class="font-bold mb-0">
                    <a
                      href="javascript:void(0);"
                      class="d-flex align-items-center"
                      data-toggle="collapse"
                      data-target="#deviceAttributeInfo"
                      aria-expanded="false"
                      aria-controls="deviceAttributeInfo"
                    >
                      <i class="AccordionNumber">2</i>Device Attributes
                    </a>
                  </h5>
                </div>
                <div
                  id="deviceAttributeInfo"
                  class="collapse"
                  aria-labelledby="devieAttributeHeader"
                  data-parent="#segmentationAccordian"
                >
                  <div class="card-body">
                    <p>
                      Device attributes are the phone model, platform (iOS,
                      Android, ...), OS version, ... The SDK captures most of
                      the device attributes automatically. You can add your own
                      device attributes using our SDK.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mx-0">
                <div class="card-header border-bottom-0" id="appEventAcHeader">
                  <h5 class="font-bold mb-0">
                    <a
                      href="javascript:void(0);"
                      class="d-flex align-items-center"
                      data-toggle="collapse"
                      data-target="#collapseAppEventInfo"
                      aria-expanded="false"
                      aria-controls="collapseAppEventInfo"
                    >
                      <i class="AccordionNumber">3</i>App Events
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseAppEventInfo"
                  class="collapse"
                  aria-labelledby="appEventAcHeader"
                  data-parent="#segmentationAccordian"
                >
                  <div class="card-body">
                    <p>
                      You may want to log App Events like the user opening a
                      screen, purchasing a product or logging in. The SDK
                      automatically logs events like the user opening the app
                      and closing it. You can add your events using our SDK.
                      Events can have attributes associated with them. For
                      example, a "Purchased Product" event may have attributes
                      like "Product Id" with a value "B01M3TD8CF" and "Delivered
                      to ZIP Code" as "07120-4719".
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Add New Attribute Selection -->

    <!-- START confirm save segment Modal-->
    <button
      data-toggle="modal"
      id="saveFilters"
      data-target="#saveFiltersSegment"
      style="display:none"
    ></button>

    <div
      class="modal fade"
      id="saveFiltersSegment"
      tabindex="-1"
      role="dialog"
      aria-labelledby="saveEditedLabel"
      aria-hidden="true"
      style="background-color: rgba(255, 255, 255, 0.8);"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 p-2">
            <div class="modal-title" id="cancelEditedLabel">
              Save the Segment
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="margin-right: 0px;"
            >
              <span aria-hidden="true" class="icon white-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h6 black-text">Your changes are not saved.</div>
          </div>
          <div class="modal-footer border-0 px-2 pt-0 pb-3">
            <button
              type="button"
              class="btn btn-secondary light"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="saveSegments()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END confirm save segment Modal-->

    <!-- START cancel edit segment Modal-->
    <div
      class="modal fade"
      id="cancelEditedSegement"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cancelEditedLabel"
      aria-hidden="true"
      style="background-color: rgba(255, 255, 255, 0.8);"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 p-2">
            <div class="modal-title" id="cancelEditedLabel">Save as draft</div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="margin-right: 0px;"
            >
              <span aria-hidden="true" class="icon white-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h6 black-text">Do you want to save it as draft?</div>
          </div>
          <div class="modal-footer border-0 px-2 pt-0 pb-3">
            <button
              type="button"
              class="btn btn-secondary light"
              data-dismiss="modal"
            >
              Not Now
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="gotoSaveAsDraft($event)"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END cancel edit segment Modal-->

    <!-- START fail to save with cancel or save button -->
    <button
      data-toggle="modal"
      id="failSaveSeg"
      data-target="#failedEditedSegement"
      style="display:none"
    ></button>

    <div
      class="modal fade"
      id="failedEditedSegement"
      tabindex="-1"
      role="dialog"
      aria-labelledby="failedEditedLabel"
      aria-hidden="true"
      style="background-color: rgba(255, 255, 255, 0.8);"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 p-2">
            <div class="modal-title" id="cancelEditedLabel">Warning</div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="margin-right: 0px;"
            >
              <span aria-hidden="true" class="icon white-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h6 black-text">Failed to save!!! Please try again</div>
          </div>
          <div class="modal-footer border-0 px-2 pt-0 pb-3">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Sure
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END fail to save with cancel or save button -->

    <!-- START infomation that filters is empty -->
    <button
      data-toggle="modal"
      id="emptyFilters"
      data-target="#emptyFiltersSegment"
      style="display:none"
    ></button>

    <div
      class="modal fade"
      id="emptyFiltersSegment"
      tabindex="-1"
      role="dialog"
      aria-labelledby="emptyFiltersLabel"
      aria-hidden="true"
      style="background-color: rgba(255, 255, 255, 0.8);"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 p-2">
            <div class="modal-title" id="cancelEditedLabel">Warning</div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="margin-right: 0px;"
            >
              <span aria-hidden="true" class="icon white-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h6 black-text">
              Filters is empty. Please insert Filter content.
            </div>
          </div>
          <div class="modal-footer border-0 px-2 pt-0 pb-3">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Sure
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END infomation that filters is empty-->

    <!-- START infomation that individual segment data is empty -->
    <button
      data-toggle="modal"
      id="emptySegment"
      data-target="#emptySegmentSegment"
      style="display:none"
    ></button>

    <div
      class="modal fade"
      id="emptySegmentSegment"
      tabindex="-1"
      role="dialog"
      aria-labelledby="emptyFiltersLabel"
      aria-hidden="true"
      style="background-color: rgba(255, 255, 255, 0.8);"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header border-0 p-2">
            <div class="modal-title" id="cancelEditedLabel">Warning</div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="margin-right: 0px;"
            >
              <span aria-hidden="true" class="icon white-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="h6 black-text">There is no such segment data</div>
          </div>
          <div class="modal-footer border-0 px-2 pt-0 pb-3">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="gotoListSegments()"
            >
              Sure
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END infomation that filters is empty-->
  </div>
</div>
