@import "../segments.module";

.panel-fill {
  height: -webkit-fill-available;
}

.card-min-height {
  min-height: 100%;
}

.segment-header {
  font-family: "robotoregular";
  color: #878787;
  background: #ffffff;
  display: inline-block;
  padding: 20px;
}

.text-right {
  float: right;
}

/*START nav tab style */
.nav-tab-panel {
  height: calc(100vh - 200px);
  padding: 0px 20px 20px;
  overflow-y: auto;
}

.tab-content {
  border: 0px;
  border-style: none;
  padding: 0px;
  height: unset !important;
}
.tab-content .tab-pane {
  height: calc(100vh - 300px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.ngbtooltip-custom .tooltip-inner {
  font-size: 80%;
  max-width: 400px;
}

/* START rule section */
.rulesSection {
  background: #f5f5f5;
}

.rulesHeader {
  font-size: 12px;
  color: #9f9f9f;
}

.rule-body {
  height: calc(100vh - 450px) !important;
  overflow-y: scroll;
  font-size: 13px;
  color: #000000;
  font-family: "robotoregular";
  line-height: 23px;
  padding: 10px 0;
}
.rule-body .condition {
  color: #5306e0;
  overflow: hidden;
  width: auto;
  height: 100%;
  text-transform: uppercase;
  font-family: "robotobold";
}

.scrollbar {
  overflow: hidden;
}
.slimScrollDiv {
  height: 100% !important;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100%;
}

.filter-count-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  padding: 0 20px;
}

.filter-count-details ul {
  padding: 0;
  margin: 0;
}

.filter-count-details .count-list li {
  flex: 1 0 auto;
  padding: 0 2px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter-count-details .count-list li:last-child {
  border: none;
}
.filter-count-details .count-list li span {
  display: block;
}
.filter-count-details .count-list li .count {
  font-size: 24px;
  color: #5306e0;
  font-family: "robotomedium";
}
.filter-count-details .form-group {
  padding: 10px;
}

.countInformation {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  background: #ffffff;
  display: block;
  text-decoration: none;
  color: #4e4e4e;
}
.countInformation:after {
  position: absolute;
  right: 10px;
  top: 40px;
  content: "";
  width: 15px;
  height: 15px;
  background: url(/assets/img/spritesheet.svg) no-repeat -113px -219px;
}

.rounded-top {
  border-radius: 5px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

form.edit-transparent-forms .edit-form-group {
  width: 100%;
}

form.edit-transparent-forms .edit-form-group label {
  font-size: 10px;
  color: #acacac;
  margin: 0;
}
form.edit-transparent-forms .edit-form-group .edit-form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  font-size: 12px;
  color: #000000;
  padding: 10px;
  height: auto;
}

.edit-form-control {
  min-width: 70px;
  height: 30px;
  margin: 0 10px 0 0;
  border-color: #ccc;
  font-size: 12px;
  background: #ffffff;
  padding: 10px;
  color: #000000;
}
.edit-form-control::placeholder {
  font-size: 13px;
}
.edit-form-control:focus {
  box-shadow: none;
  outline: none;
}
.edit-form-control.select:focus {
  outline: none;
}

.segmentationName {
  font-family: "robotobold";
  color: #000000;
}
/* END rule section */

/* START Add New Attribute Widget */

.add-new-attribute-Widget {
  display: none;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #ccc;
  position: absolute;
  top: -6px;
  right: 0px;
  bottom: 0;
  overflow: auto;
}

.add-new-attribute-Widget .add-new-attribute {
  padding: 20px;
}
.add-new-attribute-Widget .add-new-attribute .New-attribute-title {
  font-size: 14px;
  position: relative;
  width: 100%;
}
.add-new-attribute-Widget
  .add-new-attribute
  .New-attribute-title
  .New-attribute-title-content {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
.add-new-attribute-Widget
  .add-new-attribute
  .New-attribute-title
  .New-attribute-title-content
  .close-attribute {
  position: absolute;
  top: 0;
  right: 0;
}
.add-new-attribute-Widget .add-new-attribute .attribute-body {
  padding: 0;
  margin: 10px 0 0;
  border-radius: 6px;
  height: calc(100% - 80px);
  position: relative;
}
.add-new-attribute-Widget .add-new-attribute .attribute-body * {
  color: #ffffff;
}
.add-new-attribute-Widget .add-new-attribute .attribute-body .steps-list {
  margin: 30px 0 0;
  counter-reset: list;
}
.add-new-attribute-Widget .add-new-attribute .attribute-body .steps-list li {
  font-size: 14px;
  padding: 10px 0px 10px 35px;
  position: relative;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .steps-list
  li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  color: #5306e0;
  background: #ffffff;
  border-radius: 50%;
  counter-increment: list;
  /* Increment the value of section counter by 1 */
  content: counter(list);
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.add-new-attribute-Widget .add-new-attribute .attribute-body .btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card {
  position: relative;
  background: #ffffff;
  margin-bottom: 5px;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .card-header {
  background: #5306e0;
  padding: 10px;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .card-header
  a
  .AccordionNumber {
  color: #5306e0;
  display: inline;
  background: #ffffff;
  font-style: normal;
  font-size: 10px;
  height: 14px;
  width: 14px;
  text-align: center;
  padding: 1px 0;
  border-radius: 100%;
  margin: 0 10px 0 0;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse:before {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  height: 8px;
  width: 9px;
  background: url(../../../../assets/img/spritesheet.svg) no-repeat 0 -22px;
  transition: all linear 0.2s;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse.show:before {
  transform: rotate(180deg);
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse:not(.show) {
  display: block;
  height: 0px;
  overflow: hidden;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse
  .card-body {
  color: #9f9f9f;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse
  .card-body:before {
  display: none;
}
.add-new-attribute-Widget
  .add-new-attribute
  .attribute-body
  .accordianGroup
  .accordion
  .card
  .collapse
  .card-body
  p {
  color: #9f9f9f;
}

.icon-close-custom {
  display: inline-block;
  vertical-align: middle;
  background-position: -11px -55px;
  background-image: url("../../../../assets/img/spritesheet.svg");
}
.close-custom {
  width: 14px;
  height: 14px;
}
/* END Add New Attribute Widget */

/* START btn filter */
.btn.btn-small {
  padding: 5px 10px;
  border-radius: 5px;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-primary {
  background: #ff8800;
  border-color: #ff8800;
  color: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background: #ffffff !important;
  border-color: #ff8800 !important;
  color: #ff8800 !important;
}
.btn.btn-secondary {
  background: #ffffff;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
  background: #ffffff;
}
.btn.btn-secondary.light {
  background: #ccc;
  border: 1px solid #ccc;
}
.btn.btn-secondary.light:hover {
  color: #000000;
  background: #ffffff;
}
.btn.btnBlueBordered {
  background: #ffffff;
  border-color: #5306e0;
  color: #5306e0;
  height: 35px;
  padding: 5px 10px;
  font-size: 12px;
}
.btn.btnBlueBordered:hover,
.btn.btnBlueBordered:active {
  color: #ffffff;
  background: #5306e0;
}
.btn.btn-tertiary {
  background: #404040;
  color: White;
}
.btn.btn-tertiary:hover,
.btn.btn-tertiary:focus,
.btn.btn-tertiary:active {
  background: #404040;
  color: White;
}
.btn.btn-white-border {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff !important;
  padding: 5px 10px;
  border-radius: 20px;
  width: 100px;
}
.btn.btn-link {
  min-width: auto;
  height: auto;
  color: #5d5d5d;
}

.btn.btn-filter {
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #5306e0;
  border-color: #5306e0;
  color: #ffffff !important;
}
.btn.btn-filter.disabled {
  background: #ffffff;
  border-color: #ccc;
  color: #ccc !important;
  opacity: 1;
}
/* END btn filter */

.h-auto {
  height: auto;
}

.attributeSelected {
  font-size: 11px;
  color: #9f9f9f;
  font-family: "robotomedium";
}

.condition {
  color: #5306e0;
  text-transform: uppercase;
  font-family: "robotobold";
}

.rule-display {
  display: flex;
}

.workSpaceBody {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  height: calc(100vh - 70px);
  padding-bottom: 20px;
  height: calc(100vh - 60px);
  border: 0;
  z-index: 1;
}

.seg-width {
  width: 160px;
}

/* form control for input */
@at-root .form-control {
  min-width: 70px;
  height: 30px;
  margin: 0 10px 0 0;
  border-color: #ccc;
  font-size: 12px;
  line-height: 10px;
  background: #ffffff;
  padding: 6px 10px;
  color: #000000;
}
.form-control::placeholder {
  font-size: 13px;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.form-control.select:focus {
  outline: none;
}

.selectedTextColr {
  background-color: #f0b67f;
  border-radius: 40px !important;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
