a:hover {
  text-decoration: none !important;
}

.segmentListContent {
  width: 100%;
  height: calc(100vh - 95px);
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  height:220px;
  border: 1px solid #cccccc;
}

.blue-bg {
  background: #5306e0 !important;
}
.hand {
  cursor: pointer;
}