<div class="blackOutScreen"></div>
<div class="home-container home-containerstyle segmentListContent">
  <div class="row w-100">
    <div class="col-12">
      <div class="row flex-wrap referralRow">
        <div class="col-3 mb-3">
          <div
            class="card segment-card segment-cardColor"
            (click)="goToCreateGroup($event)"
          >
            <div
              class="card-body d-flex align-items-center justify-content-start"
              style="background-color: #fff"
            >
              <div class="segment-create hand">
                <h4>
                  New User Group?<br />
                  Start here.
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let eachGroup of userGroupList" class="col-3 mb-3">
          <div class="card segment-card">
            <div class="card-body" style="background-color: #fff">
              <div class="d-flex justify-content-between align-items-top">
                <div>
                  <span
                    class="status blue-bg white-text mb-2"
                    style="margin:0px !important"
                    >{{ eachGroup.appName }}</span
                  >
                  <div class="h5 font-bold" style="font-weight:1000">
                    {{ eachGroup.groupName }}
                  </div>
                </div>
                <!-- START dropdown button -->
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon moreIcon"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="
                        editUserGroup(eachGroup.groupId, eachGroup.appId)
                      "
                    >
                      <i class="icon icon-edit"></i> Edit
                    </a>
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="
                        duplicateUserGroup(eachGroup.groupId, eachGroup.appId)
                      "
                    >
                      <i class="icon icon-duplicate"></i> Duplicate
                    </a>
                    <a
                      href="#"
                      class="dropdown-item"
                      (click)="
                        deleteUserGroup(eachGroup.groupId, eachGroup.appId)
                      "
                    >
                      <i class="icon icon-delete"></i> Delete
                    </a>
                  </div>
                </div>
                <!-- END dropdown button -->
              </div>
              <p></p>
              <p class="font13 mb-3">
                <ng-container *ngIf="eachGroup.createdAt != ''">
                  Source: {{ eachGroup.source }}
                </ng-container>
                <span
                  *ngIf="eachGroup.isDraft || eachGroup.isDraft === 'true'"
                  class="status primary-bg ml-2 white-text"
                  >Draft</span
                >
              </p>
            </div>
            <div class="card-footer" style="border:0px">
              <p class="secondary-color font12">Total Users</p>
              <a
                href="javascript:void(0)"
                class="d-block h5 blue-text mb-1 "
                style="font-family: robotobold;"
                (click)="gotoUserGroupCount(eachGroup)"
              >
                <ng-container *ngIf="!isUserCont(eachGroup.totalUsers)">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <ng-container *ngIf="isUserCont(eachGroup.totalUsers)">
                  {{ eachGroup.totalUsers }}
                </ng-container>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- START fail to save with cancel or save button -->
  <button
    data-toggle="modal"
    id="failSaveSeg"
    data-target="#failedEditedSegement"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="failedEditedSegement"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">Failed to save!!! Please try again</div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END fail to save with cancel or save button -->

  <!-- START confirm to delete the segment   -->
  <button
    data-toggle="modal"
    id="deleteGroup"
    data-target="#deleteGroupSegement"
    style="display:none"
  ></button>

  <div
    class="modal fade"
    id="deleteGroupSegement"
    tabindex="-1"
    role="dialog"
    aria-labelledby="failedEditedLabel"
    aria-hidden="true"
    style="background-color: rgba(255, 255, 255, 0.8);"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 p-2">
          <div class="modal-title" id="cancelEditedLabel">Warning</div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="margin-right: 0px;"
          >
            <span aria-hidden="true" class="icon white-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="h6 black-text">
            Do you really want to delete the UserGroup?
          </div>
        </div>
        <div class="modal-footer border-0 px-2 pt-0 pb-3">
          <button
            type="button"
            class="btn btn-secondary light"
            data-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="deletSelectedGroup($event)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END confirm to delete the segment -->

  <div *ngIf="hideBar === false" class="know-more-list">
    <div>
      <img class="Phone-Illus" src="assets/images/phone.png" alt="Phone bg" />
      <h3 class="font-bold black-text text-uppercase">
        See how the feature works
      </h3>
      <p class="black-text m-0">
        Increase engagement success based on dynamic user segment
      </p>
    </div>
    <div class="d-flex align-items-center">
      <a href="/segments" class="brand-color Play-Demo">Demo</a>
      <a
        href="javascript:void(0);"
        class="grey-text Hide-Notifi"
        (click)="hideBar = true"
        >Hide</a
      >
    </div>
  </div>
</div>
