@import '../features.module';

.referralContent {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

.ruleConfiguration {
    width: 100%;
    max-width: 350px;
    height: 100%; 
}

.ruleConfiguration .cardGrey {
    height: 100%;
    border: 0;
    padding: 10px; 
    background: none;
}

.ruleConfiguration .card-body {
    overflow: auto; 
}

.referralMainContainer {
    height: calc(100vh - 95px);
}

.heightCustom {
    padding: 0px !important;
    height: calc(100vh - 95px) !important;
}

.scrollOverflowYAuto {
    overflow-y: auto;
}

/* START btn customize */
.btn {
    padding: 3px 20px;
    color: #000000;
    font-size: 12px;
    text-shadow: none;
    border-radius: 20px;
    height: 30px;
    min-width: 80px; 
}
.btn.btn-small {
    padding: 5px 10px;
    border-radius: 5px; 
}
.btn:focus {
    box-shadow: none; 
}
.btn.disabled {
    cursor: not-allowed;
    opacity: 0.5; 
}
.btn.btn-primary {
    background: #ff8800;
    border-color: #ff8800;
    color: #ffffff;
    line-height: 20px; 
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background: #ffffff !important;
    border-color: #ff8800 !important;
    color: #ff8800 !important; 
}
.btn.btn-secondary {
    background: #ffffff; 
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
    background: #ffffff; 
}
.btn.btn-secondary.light {
    background: #ccc;
    border: 1px solid #ccc; 
}
.btn.btn-secondary.light:hover {
        color: #000000;
        background: #ffffff; 
    }
.btn.btnBlueBordered {
    background: #ffffff;
    border-color: #5306e0;
    color: #5306e0;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px; 
}
.btn.btnBlueBordered:hover, .btn.btnBlueBordered:active {
    color: #ffffff;
    background: #5306e0; 
}
.btn.btn-tertiary {
    background: #404040;
    color: White; 
}
.btn.btn-tertiary:hover, .btn.btn-tertiary:focus, .btn.btn-tertiary:active {
    background: #404040;
    color: White; 
}
.btn.btn-filter {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    background: #5306e0;
    border-color: #5306e0;
    color: #ffffff !important; 
}
.btn.btn-filter.disabled {
    background: #ffffff;
    border-color: #ccc;
    color: #ccc !important;
    opacity: 1; 
}
.btn.btn-white-border {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff !important;
    padding: 5px 10px;
    border-radius: 20px;
    width: 100px; 
}
.btn.btn-link {
    min-width: auto;
    height: auto;
    margin: 5px 0;
    color: #5d5d5d; 
}
.btn.btn-link:hover, .btn.btn-link:active {
    color: #000000;
    font-family: "robotobold";
    text-decoration: none; 
}
.btn.btn-link:focus {
    text-decoration: none; 
}
/* END btn customize */

/* form control for input */@at-root
.form-control {
    min-width: 70px;
    height: 30px;
    margin: 0 10px 0 0;
    border-color: #ccc;
    font-size: 12px;
    line-height: 10px;
    background: #ffffff;
    padding: 6px 10px;
    color: #000000;
  }
  .form-control::placeholder {
    font-size: 13px;
  }
  .form-control:focus {
    box-shadow: none;
    outline: none;
  }
  .form-control.select:focus {
    outline: none;
  }

