<div class="content-wrap p-0 mr-4 referralContent grey-bg">
  <div class="ReferalWidget wizard-info">
    <!--START Left bar  -->
    <app-leftsidebar
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
    >
    </app-leftsidebar>
    <!--END Left bar  -->
    <!-- START step 0 -->
    <app-audience
      *ngIf="currentStepStatus === stepData.STEP0_AUDIENCE"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-audience>
    <!--START step 1-->
    <app-rule-config
      *ngIf="currentStepStatus === stepData.STEP1_RULE_CONFIGURATION"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-rule-config>
    <!--END step 1-->

    <!--START Step 2-->
    <app-message
      *ngIf="currentStepStatus === stepData.STEP2_MESSAGE"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-message>
    <!--END Step 2-->

    <!--START step 3-->
    <app-home
      *ngIf="currentStepStatus === stepData.STEP3_HOME"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-home>
    <!--END step 3-->

    <!--START step 4-->
    <app-referral-count
      class="pacs"
      *ngIf="currentStepStatus === stepData.STEP4_REFERRAL_COUNT"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-referral-count>
    <!--END step 4-->

    <!--START step 5-->
    <app-withdraw
      *ngIf="currentStepStatus === stepData.STEP5_WITHDRAW"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-withdraw>
    <!--START step 5-->

    <!--START step 6-->
    <app-add-count
      *ngIf="currentStepStatus === stepData.STEP6_ADD_COUNT"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-add-count>
    <!--END step 6-->

    <!--START step 7-->
    <app-withdrawal
      *ngIf="currentStepStatus === stepData.STEP7_WITHDRAWAL"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-withdrawal>
    <!--END step 7-->

    <!--START step 8-->
    <app-error
      *ngIf="currentStepStatus === stepData.STEP8_ERROR_SCREEN"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-error>
    <!--END step 8-->

    <!--START step 9-->
    <app-tech-config
      *ngIf="currentStepStatus === stepData.STEP9_TECH_CONFIGURATION"
      [stepStatus]="currentStepStatus"
      [possibleAttr]="possibleAttrValues"
      (attributes)="showPossibleAttr()"
      [referralData]="referralData"
      (changeStepStatus)="setChangedStepStatus($event)"
      (saveRefData)="saveReferralData()"
      (draftRefData)="gotoSaveAsDraft()"
      (editRefData)="editReferralData()"
    >
    </app-tech-config>
    <!--END step 9-->
  </div>
</div>

<!-- START infomation that referral data is empty -->
<button
  data-toggle="modal"
  id="emptyReferral"
  data-target="#emptyReferralSegment"
  style="display:none"
></button>

<div
  class="modal fade"
  id="emptyReferralSegment"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emptyFiltersLabel"
  aria-hidden="true"
  style="background-color: rgba(255, 255, 255, 0.8);"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Warning</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">
          Filters is empty. Please insert Filter content.
        </div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Sure
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END infomation that referral data is empty-->

<!-- START save data information -->
<button
  data-toggle="modal"
  id="saveReferral"
  data-target="#saveReferralSegment"
  style="display:none"
></button>

<div
  class="modal fade"
  id="saveReferralSegment"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emptyFiltersLabel"
  aria-hidden="true"
  style="background-color: rgba(255, 255, 255, 0.8);"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Warning</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Your changes are not saved.</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button
          type="button"
          class="btn btn-secondary light"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="sendReferralData()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END save data information-->

<!-- START cancel edit segment Modal-->
<div
  class="modal fade"
  id="cancelEditedReferral"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cancelEditedLabel"
  aria-hidden="true"
  style="background-color: rgba(255, 255, 255, 0.8);"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Save as draft</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-right: 0px;"
        >
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Do you want to save it as draft?</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button
          type="button"
          class="btn btn-secondary light"
          data-dismiss="modal"
        >
          Not Now
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="gotoSaveAsDraft($event)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END cancel edit segment Modal-->
