<div class="AnalyticsHeader d-flex position-relative">
	<div class="AppNumberingContainer position-relative d-flex justify-content-start align-items-center p-2 height30px">
		<span class="AppNumbers font11 pl-2">Select App</span>
		<span (click)="toggleFilterWindow($event)" class="addAppsContainer d-inline-block position-absolute">
			<i class="icon icon-add-md-white"></i>
		</span>
		<div class="AppFilterWidget" [hidden]="hideFilterOptions">
			<div class=" d-flex flex-column">
			<div class="d-flex justify-content-between border-bottom-1 border-color">
				<div class="d-flex flex-column width30 border-right-1 border-color pb-2">
					<p class="p-2 border-bottom-1 border-color w-100 font-medium mb-0 font11 blue-bg white-text">
						<i class="icon icon icon-stream-white mr-1"></i> Stream
					</p>
					<!-- <div class="d-flex flex-column">
						<p class="p-2 mt-2 w-100 font-medium mb-0 font11"><i class="icon icon icon-profile-group-gray mr-1"></i> Audience Name</p>
						<p class="p-2 w-100 font-medium mb-0 font11"><i class="icon icon icon-profile-filled-gray mr-1"></i> Segment</p>
					</div> -->
				</div>
				<div class="d-flex flex-column width40 border-right-1 border-color">
					<p class="p-2 border-bottom-1 border-color w-100 mb-0 font11">Select Stream</p>
					<div class="d-flex flex-column my-2">
						<div class="d-flex" *ngFor="let app of allApps">
							<div class="form-check w-100 m-2 d-flex">
								<input type="radio" [(ngModel)]="activeAppId" [value]="app.appId" (change)="updateAppFilter(app)" class="form-radio-input streams" [attr.id]="app.appId" name="streams1">
								<label class="form-radio-label m-0 font-medium font11" [attr.for]="app.appId"> {{app.appName}} - {{app.platformsConfigured.join(', ')}} </label>
							</div>
						</div>
					</div>
					<p class="p-2 border-top-1 border-color w-100 mb-0 font11">1 Stream</p>
				</div>
				<div class="d-flex flex-column width40">
					<p class="p-2 border-bottom-1 border-color w-100 mb-0 font11 FilterSelection">
						1 Filter Selected
					</p>
					<div class="d-flex flex-column" *ngIf="selectedActiveApp">
						<div class="d-flex" *ngFor="let platform of selectedActiveApp.platformsConfigured">
							<div class="form-check w-100 m-2 d-flex">
								<input type="checkbox" [value]="app.appId" (change)="updateAppFilter(selectedActiveApp, platform)" class="form-check-input streams" [attr.id]="app.appId">
								<label class="form-check-label m-0 font-medium font11" [attr.for]="app.appId"> {{ selectedActiveApp.appName }} - {{ platform }} </label>
							</div>
							<!-- {{ selectedActiveApp.appName }} - {{ platform }} -->
						</div>
						<div class="mr-1">
							<i class="icon" [attr.class]="'icon icon-'+(platform && platform.toLowerCase()=='ios' ? 'apple' : platform && platform.toLowerCase()
						  )+'-sm'"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-end px-3">
				<a (click)="toggleFilterWindow($event)" class="btn btn-link px-2 darker-grey-text CloseAddAppsContainer">CANCEL</a>
				<a (click)="toggleFilterWindow($event)" class="btn btn-link px-2 font-bold CloseAddAppsContainer" (click)="applyAppFilter(app)">APPLY</a>
			</div>
			</div>
		</div>
  </div>
  

  <div *ngIf="activeApp"
   class="selected active AppNameContainer position-relative justify-content-start align-items-center p-2 height30px ml-2 streams1">
		<span class="mr-2">
			<i [attr.class]="'icon '+((activeApp.platform) ? (activeApp.platform.toLowerCase()=='ios' ? 'apple' : activeApp.platform.toLowerCase()) : ''
	  )+'IconFilled'"></i>
		</span>
		<span class="AppNameContent font11">{{activeApp.appName}} - {{activeApp.platformsConfigured.join(', ')}}</span>
		<!-- <span class="pl-3 pr-1 d-flex" (click)="removeAppFilter(activeApp)">
	  <i class="icon close-sm-dark closeAppName"></i>
	</span> -->
	</div>
</div>

<!-- <div 
  [ngClass]="{'selected active': appFilterWidget.ios }"
   class="selected active AppNameContainer position-relative justify-content-start align-items-center p-2 height30px ml-2 streams1">
		<span class="mr-2">
			<i class="icon appleIconFilled"></i>
		</span>
		<span class="AppNameContent font11">Stream = Kryptography - ios</span>
		<span class="pl-3 pr-1 d-flex" (click)="updateAppFilter('ios')"><i class="icon close-sm-dark closeAppName"></i></span>
	</div>
	<div [ngClass]="{'selected active': appFilterWidget.android }" class="AppNameContainer position-relative justify-content-start align-items-center p-2 height30px ml-2 streams2">
		<span class="mr-2">
			<i class="icon androidIconFilled"></i>
		</span>
		<span class="AppNameContent font11">Stream = Kryptography - android</span>
		<span class="pl-3 pr-1 d-flex" (click)="updateAppFilter('android')"><i class="icon close-sm-dark closeAppName"></i></span>
	</div>
</div> -->