
.AnalyticsHeader {
  padding: 0 10px;
  
  & > div.AppNumberingContainer {
    min-width: 130px;
    border: 1px solid #ccc;
    border-radius: 20px;

    .AppNumbers {
      padding-right: 30px;
    }

    .addAppsContainer {
      background-color: #ff8800;
      height: 24px;
      width: 24px;
      text-align: center;
      vertical-align: middle;
      padding: 2px;
      right: 2px;
      top: 2px;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        background-color: #404040;
      }
    }
  }

  .AppNameContainer {
    display: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    user-select: none;

    &.active {
      display: flex;
    }
    &.selected {
      background-color: #F0B67F;
    }
  }

  .form-radio {
    &-input {
      position: absolute;
      left: -999px;

      &:checked ~ .form-radio-label:after {
        background-color: blue;
      }
    }
    &-label:before, &-label:after {
      content: "";
      display: block;
      position: absolute;
      left: 3px;
      width: 13px;
      height: 13px;
      border: 1px solid;
      border-radius: 20px;
      top: 1px;
    }
    &-label:after {
      border: 0 none;
      width: 9px;
      height: 9px;
      left: 5px;
      top: 3px;
    }
  }
}
