  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 15px;
    /* Hide default HTML checkbox */
    /* The slider */
    /* Rounded sliders */ 
}
    .switch input {
      opacity: 0;
      width: 0;
      height: 0; 
    }
    .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      -webkit-transition: .4s;
      transition: .4s;
      border: 1px solid #5306e0;
      border-radius: 25px; 
    }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 9px;
      width: 9px;
      left: 4px;
      bottom: 2px;
      background-color: #5306e0;
      -webkit-transition: .4s;
      transition: .4s; 
    }

    .switch input:checked + .slider {
      border-color: #ff8800; 
    }
      .switch input:checked + .slider:before {
        background-color: #ff8800; 
    }
    .switch input:checked + .slider:before {
      background-color: #ff8800; 
    }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px); 
    }
    .switch .slider.round {
      border-radius: 34px; 
    }
    .switch .slider.round:before {
      border-radius: 50%; 
    }
    .switch .switchBlock {
      height: 15px; 
    }

    .switch span {
        position: relative;
        display: inline-block;
        width: 33px;
        height: 15px;
        background-color: #fff;
        border: 1px solid #5306e0;
        border-radius: 100px;
        transition: all .5s;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
    }

    .switch span:after {
        content: "";
        position: absolute;
        background-color:transparent;
        top: 0;
        left: 0;
        height: unset;
        width: unset;
        border: 0px solid #5306e0;
        border-radius: 400px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-transition: all .2s;
    }
  
.ref-id-status {
  border: 1px solid #878787 !important;
}

.ref-id-status:before {
  background-color: #878787 !important;
}