<div class="cardContent w-100 position-relative">
  <div class="IndexContent active loyalty w-100 px-2 justify-content-between">
    <div class="ContentContainer white-bg d-flex w-100 p-2 pr-4 pl-5 position-relative">
      <!-- <span class="FrontModalClose position-absolute"><i class="icon close"></i></span> -->
      <a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
      <div class="DurationContent w-100 position-relative my-2">
        <div class="cardTitle d-flex justify-content-between align-items-start">
          <div class="font-medium font16">User Churns</div>
          <div class="d-flex">
            <span class="font12 d-flex align-items-center font-bold graphLabel primary mr-3"><i class="icon orange-line mr-2"></i>Churn %</span>
            <span class="font12 d-flex align-items-center font-bold graphLabel secondary mr-3"><i class="icon blue-line mr-2"></i>Session Length (in minutes)</span>
            <div class="form-group selectbox width160px m-0">
              <select [(ngModel)]="filterChurns" (change)="changeParams()" class="form-control DateSelect" data-placeholder="Select Type">
                <option value="3w" data-icon="calendar">3 weeks</option>
                <option value="6w" data-icon="calendar">6 Weeks</option>
                <option value="3m" data-icon="calendar" selected>3 Months</option>
                <option value="6m" data-icon="calendar" selected>6 Months</option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-4 pl-2">
          <app-loyaty-index-chart *ngIf="loyaltyIndexEngagementData" [data]="loyaltyIndexEngagementData"></app-loyaty-index-chart>
          <p class="font14 blue-text font-medium loader" *ngIf="!loyaltyIndexEngagementData">Please wait loading data</p>
        </div>
      </div>
    </div>
  </div>
</div>