<form
  class="d-flex flex-column scroll"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <br />
  <div *ngIf="userDetails">
    <div class="form-group width100 pr-2">
      <label class="font-bold black-text">Name</label>
      <div class="d-flex align-items-center">
        <input
          name="name"
          formControlName="name"
          class="form-control width200px"
          type="text"
          placeholder="Enter the Name"
          [(ngModel)]="userDetails.name"
        />
      </div>
    </div>
    <div class="form-group width100 pr-2">
      <label class="font-bold black-text">Email</label>
      <div class="d-flex align-items-center">
        <input
          name="emailId"
          formControlName="emailId"
          class="form-control width200px"
          type="text"
          placeholder="Enter the Email"
          value="john.day@test.com"
          [(ngModel)]="userDetails.emailId"
          readonly
        />
        <div *ngIf="userDetails.emailVerified == true">
          <span class="font12 font-medium darker-grey-text">
            <img [src]="verifiedIcon" width="4%" />Verified</span
          >
        </div>
        <div *ngIf="userDetails.emailVerified == false">
          <span
            data-modal="VerifyContact"
            (click)="verify()"
            class="font12 font-medium blue-text ShowModal"
            style="cursor: pointer"
          >
            <img [src]="verifyIcon" width="4%" /> Verify Now</span
          >
        </div>
      </div>
    </div>
    <div class="form-group width100 pr-2">
      <label class="font-bold black-text">Phone No.</label>
      <div class="d-flex align-items-center">
        <input
          formControlName="phoneNumber"
          class="form-control width200px"
          type="tel"
          maxlength="18"
          placeholder="Enter the Phone Number"
          [(ngModel)]="countryPhoneNumber"
        />
        <div *ngIf="userDetails.phoneVerified == true">
          <span class="font12 font-medium darker-grey-text">
            <img [src]="verifiedIcon" width="4%" />Verified</span
          >
        </div>
        <div *ngIf="userDetails.phoneNumber">
          <div *ngIf="userDetails.phoneVerified == false">
            <span
              data-modal="VerifyContact"
              (click)="verify()"
              class="font12 font-medium blue-text ShowModal"
              style="cursor: pointer"
            >
              <img [src]="verifyIcon" width="4%" /> Verify Now</span
            >
          </div>
        </div>
      </div>
      <span
        class="validation-error"
        *ngIf="
          mobile.invalid &&
          ((mobile.dirty || mobile.touched) && mobile.errors.isInValid)
        "
      >
        Please enter valid phone number with country code.
      </span>
    </div>
    <div class="form-group width100 d-flex pr-2">
      <div class="d-flex width200px flex-column">
        <label class="font-bold black-text">Organisation Name</label>
        <div class="d-flex align-items-center">
          <input
            formControlName="organizationName"
            class="form-control m-0"
            type="text"
            placeholder="Enter the Organization Number"
            [(ngModel)]="userDetails.organizationName"
          />
        </div>
      </div>
      <div class="d-flex width200px flex-column ml-4">
        <label class="font-bold black-text">Role</label>
        <div class="d-flex align-items-center">
          <input
            formControlName="role"
            class="form-control m-0"
            type="text"
            placeholder="Enter the Role"
            value="Administrator"
            [(ngModel)]="userDetails.userRole"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="form-group width100 pr-2">
      <label class="font-bold black-text">Plan Type</label>
      <div class="d-flex align-items-center">
        <input
          formControlName="planType"
          class="form-control width200px"
          type="text"
          placeholder="Enter the Plan type"
          value="Enterprise Plan"
          [(ngModel)]="userDetails.platformAccountPlan"
          readonly
        />
      </div>
    </div>
    <div class="form-group d-flex align-items-center width100 py-3">
      <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
<div
  id="VerifyContact"
  class="CustomModalWidget position-fixed height100 w-100 justify-content-center align-items-center"
  style="top: 20%;left: 30%;"
>
  <div class="CustomModal white-bg d-flex flex-column p-3 border-radius-4">
    <div class="ModalTile d-flex justify-content-end align-items-center">
      <div class="pl-3">
        <i class="icon close closeCustomModal" data-dismiss="modal"></i>
      </div>
    </div>
    <div class="ModalBody">
      <div
        class="ModalContent height100 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="font24 grey-text font-medium">Verify Your Mobile</div>
        <div class="grey-text mb-4">
          Please enter the code we sent to your mobile
        </div>
        <div class="otp-input-widget mb-4">
          <input
            type="text"
            id="otpInput"
            value="otpInput"
            [(ngModel)]="otpInput"
          />
        </div>
        <div class="mb-3">
          <a
            class="btn btn-primary closeCustomModal"
            (click)="verifyMobile(otpInput)"
            >Verify my mobile</a
          >
        </div>
        <div class="">
          Did not receive your code?
          <a
            class="btn btn-link d-inline-block p-0 m-0 brand-color"
            (click)="verify()"
            >Send again</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
