.otp-input-widget .otp-input-container input {
  min-width: 10px;
  width: 30px;
  text-align: center;
  height: 40px;
  font-size: 18px;
  padding: 6px;
}
.otp-input-widget .otp-input-container input.last {
  margin: 0;
}
.otp-input-widget .otp-input-container input:focus {
  border-color: #ff8800;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}

.otp-input-widget .otp-input-container input {
  min-width: 10px;
  width: 30px;
  text-align: center;
  height: 40px;
  font-size: 18px;
  padding: 6px;
}
.otp-input-widget .otp-input-container input.last {
  margin: 0;
}
.otp-input-widget .otp-input-container input:focus {
  border-color: #ff8800;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}

// .nav-tabs {
//   border: none !important;
// }
// .AnalyticsContent .AnalyticsBody .tab-content {
//   border: none;
// }

.AnalyticsContent .AnalyticsBody {
  ul.nav {
    padding-top: 10px;
  }
  .nav-tabs li.nav-item {
    .nav-link {
      padding-left: 0;
      background: none transparent;
      border: 0 none;
    }
  }

  .tab-content {
    padding: 0;
  }
}
