<div class="PanelMiddleContent workSpaceBody">
  <div class="segments referralSegments">
    <div class="Segment-Title">
      <div class="Segment-Title-Content darker-grey-text">Question Form</div>
    </div>
    <div class="segment-body scrollbar pb-5">
      <app-rating-options [ratingDetails]="question" (onRatingDetailsChange)="onChange($event)"></app-rating-options>

      <div class="FollowUpQuestionWidget w-100 grey-bg mt-3" *ngIf="question.inputType != 'textbox' && question.inputType != 'imageArea' ">
        <div class="FollowUpQuestionTitle d-flex align-items-center p-3">
          <div class="form-check mr-2 mb-1">
            <input type="checkbox" class="form-check-input checkbox FollowUpCheck" (click)="onCheckFollow($event)" [(ngModel)]="enableFollowup"
              id="Follow1">
            <label class="form-check-label m-0" for="Follow1"></label>
          </div>
          <div class="mt-1 mb-1">
            <label class="m-0" for="Follow1">Enable Follow Up Question</label>
          </div>
        </div>

        <div class="FollowUpQuestionBody align-items-center" *ngIf="enableFollowup">
          <div class="d-flex px-3 pb-3 pt-0 flex-column" *ngFor="let followQuestion of question.followUp; let in=index; trackBy: customTrackBy">

            <div class="form-group d-flex align-items-center w-50 mb-3">
              <label class="width100px m-0">If Response is</label>
              <select class="form-control select width200px responseSelect" [(ngModel)]="followQuestion.onResponse">
                <option *ngFor="let opt of question.options">
                  {{opt}}
                </option>
              </select>
              <div class="add-more-widget mb-0 ml-2 width20px removeFollow" (click)="removeFollowup(in)">
                <span class="list-inline-item add-more-new rounded-circle bg-dark m-0">
                  <span class="icon icon-removeSmall"></span>
                </span>
              </div>
            </div>

            <div class="followQuestionWidget1">
              <app-rating-options [ratingDetails]="followQuestion" (onRatingDetailsChange)="onFollowChange($event)"></app-rating-options>

              <div class="w-100 AddFollowWidget AddFollow position-relative d-flex align-items-center justify-content-center">
                <a href="javascript:void(0)" (click)="addFollowup()" class="d-flex secbut addNewFollow add-more-widget width185px mb-0 p-2">
                  <span class="list-inline-item add-more-new rounded-circle darkGrey-bg position-relative">
                    <span class="icon icon-addSmallWhite"></span>
                  </span>
                  <span class="list-inline-item dark-text">Add Follow Up Question</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>