<div class="wrapper">
  <!-- top navbar -->
  <app-header class="topnavbar-wrapper" style="width:101%"></app-header>
  <!-- sidebar -->
  <app-sidebar class="aside-container"></app-sidebar>
  <!-- offsidebar -->
  <app-offsidebar class="offsidebar"></app-offsidebar>
  <!-- Main section -->
  <section class="section-container mb-0">
    <!-- Page content -->
    <div
      class="content-wrapper"
      style="border: none;
    margin-top: -20px;
    padding: 20px 0px 20px 60px !important;"
    >
      <router-outlet></router-outlet>
    </div>
  </section>
  <!-- Page footer -->
  <!-- <footer class="footer-container" app-footer></footer> -->
</div>
