<div class="cardContent w-100 position-relative">
  <div class="IndexContent active duration w-100 px-2 justify-content-between">
    <div class="ContentContainer white-bg d-flex w-100 p-2 pr-4 pl-5 position-relative">
      <a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
      <div class="DurationContent w-50 pr-3 position-relative my-2">
        <div class="cardTitle d-flex justify-content-between align-items-start">
          <div class="font-medium font16">
            <div>Daily Usage <span class="font14 darker-grey-text">(Minutes/User/Day)</span></div>
            <div *ngIf="durationIndexSessionData && durationIndexSessionData.averageOverTime" class="d-flex align-items-center font20">
              {{durationIndexSessionData.averageOverTime}}
                <i class="icon icon-up-arrow-green ml-2 mr-1" [ngClass]="{ 'icon-arrow-down-red': durationIndexSessionData.percentageChange < 0 }"></i>
                <span class="font14" [ngClass]="{
                  'green-text': durationIndexSessionData.percentageChange >= 0,
                  'red-text': durationIndexSessionData.percentageChange < 0
                }">{{durationIndexSessionData.percentageChange.toFixed(1)}}%</span>
            </div>
          </div>
          <div class="d-flex flex-column" *ngIf="durationIndexSessionData">
            <div class="font-bold graphLabel font12">Y-Axis: {{ (durationIndexSessionData.unit | titlecase) || 'Minutes' }}</div>
            <div class="font-bold graphLabel font12 mt-2">X-Axis: Date</div>
          </div>
          <div class="d-flex flex-column">
            <div class="form-group selectbox width160px m-0">
                <select class="form-control DateSelect" [(ngModel)]="filterDate1" (change)="changeDateGraph1()"data-placeholder="Select Range">
                    <option value="Last 0.5 Month" data-icon="calendar" selected>Last 15 Days</option>
                  <option value="Last 1 Month" data-icon="calendar" selected>Last 30 Days</option>
                  <option value="Last 2 Months" data-icon="calendar">Last 2 Months</option>
                  <option value="Last 3 Months" data-icon="calendar">Last 3 Months</option>
                  <option value="Last 6 Months" data-icon="calendar">Last 6 Months</option>
                </select>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
              <span class="font12 d-flex align-items-center font-bold graphLabel primary"><i class="icon orange-line mr-2"></i>IOS</span>
              <span class="font12 d-flex align-items-center font-bold graphLabel secondary"><i class="icon blue-line mr-2"></i>Android</span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <app-duration-index-chart modelType="session" [data]="durationIndexSessionData" *ngIf="durationIndexSessionData"></app-duration-index-chart>
          <p class="font14 blue-text font-medium loader" *ngIf="!durationIndexSessionData">Please wait loading data</p>
          <!-- <img class="w-100" src="./assets/images/analytics/analytics-10.png"/> -->
        </div>
      </div>
      <div class="DurationContent w-50 pl-3 position-relative my-2">
        <div class="cardTitle d-flex justify-content-between align-items-start">
          <div class="font-medium font16">
            <div>Frequency <span class="font14 darker-grey-text">(Times Used/Users/Month)</span></div>
            <div class="d-flex align-items-center font18">
              Times Used for {{(filterDate2=='Last 0.5 Month' ? 'Last 15 Days' : filterDate2)}}
            </div>
          </div>
          <div class="d-flex flex-column" *ngIf="durationIndexFrequencyData">
            <div class="font-bold graphLabel font12">Y-Axis: {{ (durationIndexFrequencyData.unit | titlecase) || 'Users' }}</div>
            <div class="font-bold graphLabel font12 mt-2">X-Axis: Date</div>
          </div>
          <div class="d-flex flex-column">
            <div class="form-group selectbox width160px m-0">
                <select class="form-control DateSelect" [(ngModel)]="filterDate2" (change)="changeDateGraph2()" data-placeholder="Select Range">
                    <option value="Last 0.5 Month" data-icon="calendar" selected>Last 15 Days</option>
                    <option value="Last 1 Month" data-icon="calendar" selected>Last 30 Days</option>
                    <option value="Last 2 Months" data-icon="calendar">Last 2 Months</option>
                    <option value="Last 3 Months" data-icon="calendar">Last 3 Months</option>
                    <option value="Last 6 Months" data-icon="calendar">Last 6 Months</option>
                </select>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
              <span class="font12 d-flex align-items-center font-bold graphLabel primary"><i class="icon orange-line mr-2"></i>IOS</span>
              <span class="font12 d-flex align-items-center font-bold graphLabel secondary"><i class="icon blue-line mr-2"></i>Android</span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <app-duration-index-chart modelType="frequency" [data]="durationIndexFrequencyData" *ngIf="durationIndexFrequencyData"></app-duration-index-chart>
          <p class="font14 blue-text font-medium loader" *ngIf="!durationIndexFrequencyData">Please wait loading data</p>
          <!-- <img class="w-100" src="./assets/images/analytics/analytics-11.png"/> -->
        </div>
      </div>
    </div>
  </div>
</div>