<div class="height100 w-100 p-3">
  <div
    class="height100 py-4 white-bg d-flex flex-column justify-content-between"
  >
    <div class="alertNotificationWidget d-flex px-4">
      <div class="alertNotificationContainer col-md-3 px-1">
        <div
          class="alertNotifiTitle p-2 font-medium grey-bg border-radius-4 font12"
        >
          Admin
        </div>
        <div class="alertNotifiContent d-flex flex-column p-2 font12">
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiAdmin"
                id="NotifiAdmin1"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiAdmin1"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for new accounts added/
                  created.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiAdmin"
                id="NotifiAdmin2"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiAdmin2"
              >
                <span class="mt-1 font12"
                  >Receive SMS notifications for new accounts added/
                  created.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiAdmin"
                id="NotifiAdmin3"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiAdmin3"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for payments made.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiAdmin"
                id="NotifiAdmin4"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiAdmin4"
              >
                <span class=" font12mt-1"
                  >Receive SMS notifications for payments made.</span
                >
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="alertNotificationContainer col-md-3 px-1">
        <div
          class="alertNotifiTitle p-2 font-medium grey-bg border-radius-4 font12"
        >
          Developer
        </div>
        <div class="alertNotifiContent d-flex flex-column p-2 font12">
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiDeveloper"
                id="NotifiDeveloper1"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiDeveloper1"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for start dates for new
                  requirements.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiDeveloper"
                id="NotifiDeveloper2"
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiDeveloper2"
              >
                <span class="mt-1 font12"
                  >Receive SMS notifications for start dates for new
                  requirements.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiDeveloper"
                id="NotifiDeveloper3"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiDeveloper3"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for bugs raised.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiDeveloper"
                id="NotifiDeveloper4"
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiDeveloper4"
              >
                <span class=" font12mt-1"
                  >Receive SMS notifications for bugs raised.</span
                >
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="alertNotificationContainer col-md-3 px-1">
        <div
          class="alertNotifiTitle p-2 font-medium grey-bg border-radius-4 font12"
        >
          Tester
        </div>
        <div class="alertNotifiContent d-flex flex-column p-2 font12">
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiTester"
                id="NotifiTester1"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiTester1"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for bugs resolved.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiTester"
                id="NotifiTester2"
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiTester2"
              >
                <span class="mt-1 font12"
                  >Receive SMS notifications for bugs resolved.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiTester"
                id="NotifiTester3"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiTester3"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for bugs reopened.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiTester"
                id="NotifiTester4"
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiTester4"
              >
                <span class=" font12mt-1"
                  >Receive SMS notifications for bugs reopened.</span
                >
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="alertNotificationContainer col-md-3 px-1">
        <div
          class="alertNotifiTitle p-2 font-medium grey-bg border-radius-4 font12"
        >
          Manager
        </div>
        <div class="alertNotifiContent d-flex flex-column p-2 font12">
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiManager"
                id="NotifiManager1"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiManager1"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for status of projects.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiManager"
                id="NotifiManager2"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiManager2"
              >
                <span class="mt-1 font12"
                  >Receive SMS notifications for status of projects.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiManager"
                id="NotifiManager3"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiManager3"
              >
                <span class="mt-1 font12"
                  >Receive email notifications for reports of projects.</span
                >
              </label>
            </div>
          </div>
          <div class="alertNotifiItem">
            <div
              class="d-flex align-items-center form-check mr-1 width100 height-auto mb-3"
            >
              <input
                type="checkbox"
                class="form-check-input checkbox"
                name="NotifiManager"
                id="NotifiManager4"
                checked
              />
              <label
                class="form-check-label position-relative m-0"
                for="NotifiManager4"
              >
                <span class=" font12mt-1"
                  >Receive SMS notifications for reports of projects.</span
                >
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="form-group d-flex align-items-center m-0 px-2">
        <button type="button" class="btn btn-outline-secondary mr-3 p-0">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
