<div class="cardContent w-100 position-relative">
  <div class="IndexContent active duration w-100 px-2 justify-content-between">
    <div class="ContentContainer white-bg w-100 p-2 pr-4 pl-5 position-relative">
  	<a routerLink="/analytics/engagement"><i class="icon icon-back backButton FrontModalClose"></i></a>
    <div class="d-flex justify-content-between">
      <p class="font16 font-medium my-2">Engagement - Relative Performances</p>
      <div class="TimePeriodContainer d-flex justify-content-around border-1 border-color-grey grey-bg font12 p-1 px-3 my-2">
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'day' }" (click)="updateTimeSpan('day')">1D</span>
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'week' }" (click)="updateTimeSpan('week')">1W</span>
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'month' }" (click)="updateTimeSpan('month')">1M</span>
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'three_month' }" (click)="updateTimeSpan('three_month')">3M</span>
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'year' }" (click)="updateTimeSpan('year')">1Y</span>
        <span class="font11" [ngClass]="{ 'active': timeSpan == 'all' }" (click)="updateTimeSpan('all')">ALL</span>
      </div> 
    </div>
    <div class="white-bg d-flex w-100 mb-3 mt-5">
      <div class="DurationContent w-50 pr-3 position-relative">
        <div class="d-flex justify-content-center ml-3">
          <p class="blue-text font-medium font14 mb-2 width60">App Engagement Score - Percentile Rating</p>
        </div>
        <div class="d-flex align-items-center flex-column ml-3 mt-3" *ngIf="data">
          <div class="width60">
            <p class="border-bottom-1 border-color-grey darker-grey-text">All Apps</p>
            <div class="d-flex w-100">
              <i *ngFor="let i of ' '.repeat(data.allAppsEnagementScorePercentile / 10).split('')" class="icon icon-profile-blue-sm"></i>
              <i *ngFor="let i of ' '.repeat(10 - (data.allAppsEnagementScorePercentile / 10)).split('')" class="icon icon-profile-gray-sm"></i>
              <!-- <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-half-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg"></i> -->
            </div>
            <p class="font12 mt-2 text-center blue-bg p-1 white-text border-radius-2">Our Engagement Score - <span class="font-bold">{{ data.allAppsEnagementScorePercentile | number:'1.0-2' }}<sup class="sup font12">th</sup> Percentile</span></p>
          </div>
          <div class="width60 mt-3">
            <p class="border-bottom-1 border-color-grey darker-grey-text">App in out Category (Finance)</p>
            <div class="d-flex w-100">
              <i *ngFor="let i of ' '.repeat(data.categoryAppsEngagementScorePercentile / 10).split('')" class="icon icon-profile-blue-sm"></i>
              <i *ngFor="let i of ' '.repeat(10 - (data.categoryAppsEngagementScorePercentile / 10)).split('')" class="icon icon-profile-gray-sm"></i>
              <!-- <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-lg mr-2"></i>
              <i class="icon icon-profile-blue-half-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg mr-2"></i>
              <i class="icon icon-profile-gray-lg"></i> -->
            </div>
            <p class="font12 mt-2 text-center blue-bg p-1 white-text border-radius-2">Our Engagement Score - <span class="font-bold">{{ data.categoryAppsEngagementScorePercentile | number:'1.0-2' }}<sup class="sup font12">th</sup> Percentile</span></p>
          </div>
        </div>
        <p class="font14 blue-text font-medium loader" *ngIf="!data">Please wait loading data</p>
      </div>
      <div class="DurationContent w-50 pl-3 position-relative">
        <div class="d-flex justify-content-center ml-3">
          <p class="blue-text font-medium width60 font14 mb-0">App Engagement Score - By Groups</p>
        </div>
        <div class="d-flex align-items-center flex-column ml-3 mt-2">
          <div class="d-flex width60 justify-content-end">
            <span class="width50px darker-grey-text font11">Score</span>
          </div>
          <div class="d-flex width60 flex-column">
            <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList" *ngFor="let enggGroupItem of data.engagementGroups" [ngClass]="{ active: enggGroupItem.category == 'Our App' }">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-analytic"></i></span>
                <span class="font-bold font12">{{ enggGroupItem.category }}</span>
              </div>
              <div class="width50px scoreData"><span class="px-2">
                {{ enggGroupItem.score.toFixed(2) || 0 }}
              </span></div>
            </div>
            <!-- <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList active">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-profile-blue-md"></i></span>
                <span class="font-bold font12">Our App</span>
              </div>
              <div class="width50px scoreData active"><span class="px-2">
                  {{(data.engagementGroups && data.engagementGroups[0] && data.engagementGroups[0].score) 
                    ? data.engagementGroups[0].score.toFixed(2)
                    : 0}}
                    
              </span></div>
            </div>
            <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-profile-health"></i></span>
                <span class="font-bold font12">Average of All Apps</span>
              </div>
              <div class="width50px scoreData"><span class="px-2">
                  {{(data.engagementGroups && data.engagementGroups[3] && data.engagementGroups[3].score) 
                    ? data.engagementGroups[3].score.toFixed(2)
                    : 0}}
              </span></div>
            </div>
            <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-profile-group"></i></span>
                <span class="font-bold font12">Apps in Our Category</span>
              </div>
              <div class="width50px scoreData"><span class="px-2">
                  {{(data.engagementGroups && data.engagementGroups[1] && data.engagementGroups[1].score) 
                    ? data.engagementGroups[1].score.toFixed(2)
                    : 0}}
              </span></div>
            </div> -->
            <!-- <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-wallet"></i></span>
                <span class="font-bold font12">Finance</span>
              </div>
              <div class="width50px scoreData"><span class="px-2">
                  {{(data.engagementGroups && data.engagementGroups[4] && data.engagementGroups[4].score) 
                    ? data.engagementGroups[4].score.toFixed(2)
                    : 0}}
              </span></div>
            </div>
            <div class="d-flex border-bottom-1 border-color-grey w-100 justify-content-between align-items-center py-2 ScoreList">
              <div class="d-flex align-items-center">
                <span class="width25px mr-4 text-center"><i class="icon icon-profile-global"></i></span>
                <span class="font-bold font12">Apps in Our Country</span>
              </div>
              <div class="width50px scoreData"><span class="px-2">
                  {{(data.engagementGroups && data.engagementGroups[5] && data.engagementGroups[5].score) 
                    ? data.engagementGroups[5].score.toFixed(2)
                    : 0}}
              </span></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>