<div class="side-navigation accordion" id="menu-accordion">
  <div class="logo-section">
    <a class="navbar-brand"
      ><img src="assets/images/SK_Logo.svg" class="logo-main"/><img
        src="assets/images/SK_symbol.svg"
        class="logo-small"
    /></a>
  </div>
  <ul class="nav-list scrollbar">
    <li>
      <a
        routerLink="/home"
        aria-controls="Get Started"
        data-menuItem="Get Started"
      >
        <span class="icon getstarted-icon"></span>Get Started</a
      >
    </li>
    <li>
      <a
        routerLink="/analytics"
        aria-controls="analytics"
        data-menuItem="Analytics"
        ><span class="icon analytics-icon"></span>Analytics</a
      >
    </li>
    <li>
      <a routerLink="/segments/list" data-menuItem="Segments">
        <span class="icon segments-icon"></span>Segmentation
      </a>
    </li>
    <li>
      <a routerLink="/notifications" data-menuItem="Rich Push Notification">
        <span class="icon billing-icon"></span>Notification</a
      >
    </li>
    <li class="hasSubList">
      <a
        data-toggle="collapse"
        href="#features"
        aria-expanded="false"
        aria-controls="features"
        data-menuItem="Features"
        data-target="#features"
        ><span class="icon feature-icon"></span>Features</a
      >
      <ul class="sub-list collapse" data-parent="#menu-accordion" id="features">
        <li><a routerLink="/features/referral-list">Referral</a></li>
        <li><a routerLink="/features/survey-list">Survey/Feedback</a></li>
        <li>
          <a href="javascript:void(0);">
            <span class="opacity-5">Wallet</span>
            <span class="status primary-bg ml-2 white-text">Coming Soon</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="opacity-5">Gamification</span>
            <span class="status primary-bg ml-2 white-text">Coming Soon</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span class="opacity-5">Donation</span>
            <span class="status primary-bg ml-2 white-text">Coming Soon</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a
        data-toggle="collapse"
        routerLink="/journey"
        aria-expanded="false"
        aria-controls="journey"
        data-menuItem="Journey"
        ><span class="icon journey-icon"></span>Journey</a
      >
    </li>
    <li>
      <a
        data-toggle="collapse"
        routerLink="/settings"
        aria-expanded="false"
        aria-controls="settings"
        data-menuItem="Settings"
      >
        <span class="icon setting-icon"></span>Settings</a
      >
    </li>
    <!-- <li>
      <a
        data-toggle="collapse"
        href="#billing"
        aria-expanded="false"
        aria-controls="billing"
        data-menuItem="Billing"
        ><span class="icon billing-icon"></span>Billing</a
      >
    </li>
    <li>
      <a
        data-toggle="collapse"
        href="#sandBox"
        aria-expanded="false"
        aria-controls="sandBox"
        data-menuItem="Sandbox"
        ><span class="icon sandbox-icon"></span>Sandbox</a
      >
    </li> -->
    <!-- <li class="hasSubList">
      <a
        data-toggle="collapse"
        href="#settings"
        aria-expanded="false"
        aria-controls="settings"
        data-menuItem="Settings"
      >
        <span class="icon setting-icon"></span>Settings</a
      >
      <ul class="sub-list collapse" data-parent="#menu-accordion" id="settings">
        <li><a href="javascript:void(0);">App Users</a></li>
        <li><a href="javascript:void(0);">Roles & Permissions</a></li>
        <li><a href="javascript:void(0);">My User & Roles</a></li>
        <li><a href="javascript:void(0);">Finance</a></li>
        <li><a href="javascript:void(0);">Branding</a></li>
        <li><a href="javascript:void(0);">Private Cloud</a></li>
        <li><a href="javascript:void(0);">Integration</a></li>
      </ul>
    </li> -->
  </ul>
</div>

<!-- Alert For smaller screens -->
<div
  class="betterScreenViewWidget justify-content-center align-items-center text-center"
>
  <div
    class="betterScreenView d-flex flex-column justify-content-center align-items-center text-center"
  >
    <img src="assets/images/ErrorScreen.png" />
    <div class="d-flex justify-content-center align-items-center flex-column">
      <span class="ErrorScreenTitle">Error !</span>
      <span class="ErrorScreenBody"
        >This page is designed for<br />
        laptop and web only</span
      >
    </div>
  </div>
</div>
