.sidebar-logo {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    text-align: left;
    padding:15px 20px;
}

.sidebar-logo-collapsed {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    text-align: center;
    padding:15px 20px;
}