<section class="main-container">
  <div
    class="modal fade"
    id="forgotPwd"
    tabindex="-1"
    role="dialog"
    aria-labelledby="forgotPwd"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <form class="form-horizontal" [formGroup]="form">
          <div
            class="modal-header border-0 p-1 d-flex justify-content-center"
            style="background-color: lightgray;"
          >
            <div class="modal-title px-5 py-4">
              <img src="./assets/images/SK_Logo.svg" />
            </div>
          </div>
          <div class="modal-body px-4">
            <div class="px-2">
              <p class="font12 darker-grey-text">Forgot Password</p>
              <form class="form-horizontal" [formGroup]="form">
                <div class="form-group mb-4">
                  <div class="col-sm-12">
                    <label for="emailInput" class="font14 darker-grey-text"
                      >Email ID <span class="brand-color font18">*</span>
                    </label>
                    <input
                      type="email"
                      id="email"
                      class="form-control height40px font16 font-medium black-text"
                      formControlName="email"
                    />
                    <span
                      class="validation-error"
                      *ngIf="
                        !form.controls['email'].valid &&
                        form.controls['email']?.touched
                      "
                    >
                      Please enter a valid Email</span
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer border-0 px-4 pt-0 pb-3">
            <div class="px-2 pb-3">
              <button
                type="button"
                class="btn btn-outline-secondary mr-3 cancel"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!form.valid"
                (click)="submit()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loadingicon" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div style="display:none;text-align: center;" id="loadingicon">
          <!-- <br />
          <br />
          <br />
          <br />
          <br /> -->
          <img
            [src]="loadingGif"
            width="100px"
            height="100px"
            style="border-radius: 50%;"
          />
          <p>Loading... Please wait</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="forgotPwdsent" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="font-size: 15px;text-align: center">
          <p>Link has been sent your email Id to Reset Password</p>
          <p>Please click on the link.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="close()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Alert For smaller screens -->
<div
  class="betterScreenViewWidget justify-content-center align-items-center text-center"
>
  <div
    class="betterScreenView d-flex flex-column justify-content-center align-items-center text-center"
  >
    <img src="assets/images/ErrorScreen.png" />
    <span class="ErrorScreenTitle">Error !</span>
    <span class="ErrorScreenBody"
      >This page is designed for <br />
      laptop and web only</span
    >
  </div>
</div>
