<div class="profileaddresschangestep8  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep7"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs disabled"
                title="profileaddresschangestep9"
                (click)="changeNextStep()"
              >
                Done<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <h5 class="font-bold black-text white-bg">
                1. Edit error text here
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group">
                  <label class="form-label" for="body11">Body</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control error-text-input"
                    id="body11"
                    [(ngModel)]="errData.errorText"
                    value="errorText"
                    name="errorText"
                  />
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                2. Upload new image
              </h5>
              <div class="w-75 position-relative">
                <div class="form-group w-75">
                  <label
                    class="form-label grey-text font-italics mb-0"
                    for="title"
                    >(300x300)</label
                  >
                  <div class="upload-container uplaoded-image">
                    <img
                      class=" form-control FeedbackImg withdrawal-image thanks"
                      style="width: 100%; height: 100%;"
                      [src]="
                        errData.errorImageURL ||
                        '../assets/images/error_illus.png'
                      "
                    />
                  </div>
                  <button class="btn btn-tertiary btn-small mt-3 upload">
                    Upload new
                    <input
                      type="file"
                      class="error-upload"
                      (change)="fileChange($event)"
                    />
                    <span class="icon icon-upload ml-2"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <div
                class="mobile-content d-flex align-items-center justify-content-center"
              >
                <div class="error-screen text-center">
                  <img
                    class=" form-control FeedbackImg withdrawal-image thanks"
                    style="width: 100%; height: 100%;"
                    [src]="
                      errData.errorImageURL ||
                      '../assets/images/error_illus.png'
                    "
                  />
                  <p class="font20 secondary-color mb-2">Whoops!</p>
                  <p class="font12 error-text" style="color: black;">
                    {{ errData.errorText }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    [(ngModel)]="referralData.programId"
                    value="programId"
                    name="programId"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
