<div class="profileaddresschangestep7  pacs">
  <div class="row heightCustom">
    <div class="MiddlePanelWidget heightCustom">
      <div class="PanelMiddleContent workSpaceBody heightCustom">
        <div class="segments referralSegments heightCustom">
          <div class="Segment-Title">
            <div class="Segment-Title-Content blue-text">
              Screen Configuration
            </div>
            <div class="wizard-btns">
              <a
                href="javascript:void(0)"
                class="d-inline-block mr-2 secbut pcacs-tabs"
                title="profileaddresschangestep6"
                (click)="changeBackSetp()"
              >
                <i class="icon leftArrowIcon mr-1"></i>Back</a
              >
              <a
                href="javascript:void(0)"
                class="d-inline-block secbut pcacs-tabs"
                title="profileaddresschangestep8"
                (click)="changeNextStep()"
              >
                Next<i class="icon ml-1 rightArrowIcon"></i
              ></a>
            </div>
          </div>
          <div class="segment-body scrollOverflowYAuto">
            <form>
              <h5 class="font-bold black-text white-bg">
                1. Choose Color Palette
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group">
                  <div class="w-50 position-relative">
                    <div
                      class="form-group d-flex align-items-center color-field"
                    >
                      <input
                        spellcheck="false"
                        type="color"
                        class="form-control "
                        value="#6b8e23"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-center color-code"
                    >
                      <input
                        spellcheck="false"
                        type="text"
                        class="form-control"
                        value="#6b8e23"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                2. Select Font Style
              </h5>
              <div class="w-50 position-relative">
                <div class="form-group selectbox">
                  <select class="form-control select" id="font-style">
                    <option>Nunito Sans Regular</option>
                    <option>Nunito Sans Bold</option>
                    <option>Nunito Sans Semi Bold</option>
                    <option>Nunito Sans Italics</option>
                    <option>Nunito Sans Light</option>
                  </select>
                </div>
              </div>
              <h5 class="font-bold black-text white-bg mt-4">
                3. Withdraw Limit
              </h5>
              <div class="w-50">
                <div class="form-group selectbox">
                  <div class="d-flex align-items-center">
                    <input
                      spellcheck="false"
                      type="number"
                      class="form-control withdrawal-limit-input"
                      value="10"
                    />
                    <select class="form-control select">
                      <option>USD</option>
                      <option>YEN</option>
                      <option>RUPEE</option>
                      <option>DOLLAR</option>
                    </select>
                  </div>
                </div>
              </div>

              <h5 class="font-bold black-text">4. For earnings Withdrawal</h5>
              <div class="form-group">
                <div class="form-radio mt-3">
                  <input
                    id="withdrawal1"
                    name="referSuccess"
                    type="radio"
                    class="form-radio-input radio"
                    value="1"
                  />
                  <label class="form-radio-label" for="withdrawal1">
                    To Wallet
                  </label>
                </div>
                <div class="form-radio mt-2">
                  <input
                    id="withdrawal2"
                    name="referSuccess"
                    type="radio"
                    class="form-radio-input radio"
                    value="2"
                  />
                  <label class="form-radio-label" for="withdrawal2">
                    Bank Account
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleUIReview heightCustom">
      <div class="PanelRightContent">
        <div class="card mx-0 transparent">
          <div
            class="card-body d-flex align-items-center justify-content-center referal-content py-0"
          >
            <div
              class="mobile-container position-relative mobapp-container"
              [ngStyle]="{
                display: referralData.webAppOnly === true ? 'none' : 'block'
              }"
            >
              <!-- <div class="mobile-content position-relative"> -->
              <div class="mobile-head text-center"><p>Withdraw</p></div>
              <div class="overlay">
                <div
                  class="withdrawal-content height100 grey-bg py-2"
                  style="border-radius:4px;margin: 28px 0 0"
                >
                  <p class="font-bold px-2">Deposit to</p>
                  <div
                    class="d-flex align-items-center justify-content-between px-2 py-1"
                  >
                    <p class="">Standard Chattered Bank</p>
                    <p>******2254</p>
                  </div>
                  <div class="withdrawal-body white-bg">
                    <p class="grey-text m-0">
                      Min. Withdrawal limit
                      <i class="withdrawal-limit">20</i> USD
                    </p>
                    <h6 class="m-0 font8">Balance 40 USD</h6>
                    <div class="d-flex align-items-center py-2">
                      <div class="form-group m-0">
                        <input
                          spellcheck="false"
                          type="text"
                          class="form-control underlined"
                          placeholder="0.00"
                        />
                      </div>
                      <h5 class="m-0">USD</h5>
                    </div>
                    <p style="font-size: 6px; color:#ccc">
                      Amount will be debited from your wallet
                    </p>

                    <div
                      class="d-flex align-items-center justify-content-between mt-1"
                    >
                      <p style="font-size: 6px; color:#ccc">Tax / Commision</p>
                      <h6 class="m-0">0.00 USD</h6>
                    </div>
                    <div class="mb-0 mt-1">
                      <input
                        spellcheck="false"
                        type="text"
                        placeholder=""
                        class="form-control"
                      />
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-end py-1 "
                    >
                      <a href="javascript:void(0);" class="mr-2">Cancel</a>
                      <a href="javascript:void(0);">Done</a>
                    </div>
                  </div>

                  <img class="num-pad" src="assets/images/num-pad.png" />
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="filter-count-details position-static">
              <form class="">
                <div class="form-group w-100 m-0">
                  <label class="black-text font-bold">Programme ID</label>
                  <input
                    spellcheck="false"
                    type="text"
                    class="form-control"
                    placeholder="ACCOUNT NAME_REFERRAL_01"
                    value="ACCOUNT NAME_REFERRAL_01"
                  />
                </div>
              </form>
              <div
                class="pt-0 pb-3 rule-footer d-flex align-content-center justify-content-end"
              >
                <button
                  class="btn btn-secondary light mr-3"
                  data-toggle="modal"
                  data-target="#cancelEditedReferral"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" (click)="saveData()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
