<div class="content-wrap p-0 grey-bg">
  <div class="ReferalWidget wizard-info" [ngClass]="{'survey-error': error}">

    <app-left-sidebar [tabList]="sideBarList" [tab]="tabSelected" (onTabChange)="onTabChange($event)" [(webAppOnly)]="isWebApp"></app-left-sidebar>

    <app-config-question #questionPage class="pacs" surveyType="feedback" [isWebApp]="isWebApp" (tabSelectedChange)="onTabChange($event)"
      [question]="question" (save)="save($event)" (cancel)="cancel($event)" [questionData]="questionConfig" *ngIf="tabSelected=='config-question'"
      [(surveyName)]="surveyName"></app-config-question>

    <app-config-thankyou #thankyouPage class="pacs" surveyType="feedback" [isWebApp]="isWebApp" (tabSelectedChange)="onTabChange($event)"
      (save)="save($event)" (cancel)="cancel($event)" [thankyouData]="thankyouConfig" *ngIf="tabSelected=='config-thankyou'"
      [(surveyName)]="surveyName"></app-config-thankyou>

    <app-action-block class="pacs" *ngIf="tabSelected=='action-block'" (save)="save($event)" [isWebApp]="isWebApp" (tabSelectedChange)="onTabChange($event)"></app-action-block>
  </div>
</div>

<div class="modal fade" data-backdrop="false" id="surveySuccessModal" tabindex="-1" role="dialog" style="background-color: rgba(255, 255, 255, 0.8); top: 50px;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Info</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px;">
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Feedback has been saved successfully.</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="navigate()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="false" id="surveyCancelModal" tabindex="-1" role="dialog" style="background-color: rgba(255, 255, 255, 0.8); top: 50px;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Info</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px;">
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Do you want to save this Draft?</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save(true)">Ok</button>
        <button type="button" class="btn btn-secondary light p-0" data-dismiss="modal" (click)="navigate()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-backdrop="false" id="surveyErrorModal" tabindex="-1" role="dialog" style="background-color: rgba(255, 255, 255, 0.8); top: 50px;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-2">
        <div class="modal-title" id="cancelEditedLabel">Warning</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px;">
          <span aria-hidden="true" class="icon white-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="h6 black-text">Atleast one of question or followup question is empty. Please complete the form to continue.</div>
      </div>
      <div class="modal-footer border-0 px-2 pt-0 pb-3">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openQuestion()">Ok</button>
      </div>
    </div>
  </div>
</div>