<!-- START Search form-->
<form
  class="navbar-form"
  role="search"
  action="search.html"
  [class.open]="visible"
  (submit)="handleForm()"
>
  <div class="form-group">
    <input
      [(ngModel)]="term"
      name="term"
      class="form-control"
      type="text"
      placeholder="{{ 'header.search.PLACEHOLDER' | translate }}"
    />
    <div class="fa fa-times navbar-form-close" (click)="closeNavSearch()"></div>
  </div>
  <button class="d-none" type="submit">Submit</button>
</form>

<!-- <form class="header-search form-inline my-2 my-lg-0"  role="search" action="search.html" [class.open]="visible" (submit)="handleForm()">
    <input class="form-control" type="search" placeholder="Find" aria-label="Find" />
    <button class="SearchBtn" type="submit">
        <i class="iconSearchBtn"></i>
    </button>
</form> -->

<!-- END Search form-->
