<div class="AnalyticsContent">
  <app-analytics-header></app-analytics-header>
  <div class="AnalyticsBody">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link font14 pb-2 mr-5" routerLinkActive="active" routerLink="/analytics/engagement" role="tab" aria-controls="engagement">Engagement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font14 pb-2 mr-5" routerLinkActive="active" routerLink="/analytics/features" role="tab" aria-controls="features">Features</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link font14 pb-2 mr-5" routerLinkActive="active" routerLink="/analytics/contact" role="tab" aria-controls="contact">Journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font14 pb-2 mr-5" routerLinkActive="active" routerLink="/analytics/advisory" role="tab" aria-controls="advisory">Advisory</a>
      </li> -->
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>