
.AnalyticsContent {
	margin-top: -10px;

	.AnalyticsBody {
		ul.nav {
			padding: 0 10px 3px;
		}
		.nav-tabs li.nav-item {
			.nav-link {
				padding-left: 0;
				background: none transparent;
				border: 0 none;
			}
		}

		.tab-content {
			padding: 0;
		}
	}
}