<div class="d-flex align-items-center justify-content-between">
  <div class="w-50 d-flex align-items-center">
    <div class="w-100 form-group selectbox mb-3">
      <label class="form-label font-bold">Input Type</label>
      <select class="form-control ratingSelect" (ngModelChange)="onSelect($event)" [(ngModel)]="ratingDetails.modelSelected" data-placeholder="Select Type">
        <option *ngFor="let option of ratingOptions" [ngValue]="option.id"><i class="icon mr-2 icon-{{option.icon}}"></i>
          {{option.value}}
        </option>
      </select>
    </div>
  </div>
</div>

<!-- Input question and upload option Starts -->
<div class="width100 RatingElem default" style="display: block">
  <div class="w-100">
    <div class="form-group d-flex mb-3 position-relative numberingWidget">
      <input type="text" [ngClass]="{'numberingInput': ratingDetails.qid}" class="dottedInput cloneText form-control height40px"
        (blur)="valueChange($event)" [(ngModel)]="ratingDetails.question" placeholder="Type your question here">
      <span class="position-absolute numberingLabel font-bold" *ngIf="ratingDetails.qid">{{isFollowup ? ratingDetails.qid
        - 100 : ratingDetails.qid - 1000 }}.</span>
    </div>
    <div class="invalid-feedback" [ngClass]="{'error-question': !ratingDetails.question, 'error-question': trimData(ratingDetails.question)}">
      Please enter your question.
    </div>
  </div>
  <div class="w-50">
    <div class="form-group">
      <div class="upload-container survey">
        <img [src]="ratingDetails.imageUrl" />
      </div>
      <button class="btn btn-tertiary btn-small upload">
        <input type="file" class="withdraw-upload" (change)="fileChange($event)"> Replace Image
        <span class="icon icon-upload ml-2"></span>
      </button>
      <!-- <button class="btn deleteBtn p-0 transparentBg ml-2" (click)="deleteImage()">
        <i class="icon icon-delete"></i>
      </button> -->
    </div>
  </div>
</div>
<!-- Input question and upload option Ends -->

<ng-container *ngIf="ratingDetails.inputType == 'radio' || ratingDetails.inputType == 'checkBox' || ratingDetails.inputType == 'dropdown'">
  <div class="width100 radioRating RatingElem">
    <div class="d-flex flex-wrap justify-content-start align-items-center DynamicCheckboxWidget">
      <div class="w-50 d-flex justify-content-start align-content-center mb-3 checkboxWidget" *ngFor="let optionValue of ratingDetails.options; let in = index; trackBy: customTrackBy">
        <div class="form-group width160px mb-0 position-relative checkInputGroup">
          <input type="text" class="form-control changeBorder checkInput" placeholder="Type New" (blur)="valueChange($event)" [(ngModel)]="ratingDetails.options[in]">
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px addCheckbox" (click)="addOption()" *ngIf="in > 1 && in == ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle blue-bg m-0">
            <span class="icon icon-addSmallWhite"></span>
          </span>
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px removeCheckbox" (click)="removeOption(optionValue)" *ngIf="in > 1 && in < ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle bg-dark m-0">
            <span class="icon icon-removeSmall"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="ratingDetails.inputType == 'checkBox'">
  <div class="width100 radioRating RatingElem">
    <div class="d-flex flex-wrap justify-content-start align-items-center DynamicCheckboxWidget">
      <div class="w-50 d-flex justify-content-start align-content-center mb-3 checkboxWidget" *ngFor="let optionValue of ratingDetails.options; let in = index; trackBy: customTrackBy">
        <div class="form-group width160px mb-0 position-relative checkInputGroup">
          <input type="text" class="form-control changeBorder checkInput" placeholder="Type New" (blur)="valueChange($event)" [(ngModel)]="ratingDetails.options[in]">
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px addCheckbox" (click)="addOption()" *ngIf="in > 1 && in == ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle blue-bg m-0">
            <span class="icon icon-addSmallWhite"></span>
          </span>
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px removeCheckbox" (click)="removeOption(optionValue)" *ngIf="in > 1 && in < ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle bg-dark m-0">
            <span class="icon icon-removeSmall"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'dropdown'">
  <div class="width100 radioRating RatingElem">
    <div class="d-flex flex-wrap justify-content-start align-items-center DynamicCheckboxWidget">
      <div class="w-50 d-flex justify-content-start align-content-center mb-3 checkboxWidget" *ngFor="let optionValue of ratingDetails.options; let in = index; trackBy: customTrackBy">
        <div class="form-group width160px mb-0 position-relative checkInputGroup">
          <input type="text" class="form-control changeBorder checkInput" placeholder="Type New" (blur)="valueChange($event)" [(ngModel)]="ratingDetails.options[in]">
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px addCheckbox" (click)="addOption()" *ngIf="in > 1 && in == ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle blue-bg m-0">
            <span class="icon icon-addSmallWhite"></span>
          </span>
        </div>

        <div class="add-more-widget mb-0 ml-2 width20px removeCheckbox" (click)="removeOption(optionValue)" *ngIf="in > 1 && in < ratingDetails.options.length - 1">
          <span class="list-inline-item add-more-new rounded-circle bg-dark m-0">
            <span class="icon icon-removeSmall"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<ng-container *ngIf="ratingDetails.inputType == 'nps'">
  <div class="width100 NPSRating RatingElem">
    <div class="d-flex justify-content-start align-items-center NPSNumbersGroup mb-4">
      <span class="NPSNumbers font20 blue-text p-2 mr-3">0</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">1</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">2</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">3</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">4</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">5</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">6</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">7</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">8</span>
      <span class="NPSNumbers font20 blue-text p-2 mr-3">9</span>
      <span class="NPSNumbers font20 blue-text p-2">10</span>
    </div>
    <div class="width90 d-flex justify-content-between align-items-center">
      <div class="form-group thumbsFormGroup mb-2 width120px">
        <input class="form-control w-100 m-0 cloneText" type="text" (blur)="valueChange($event)" [(ngModel)]="ratingDetails.options[0]"
        />
      </div>
      <div class="form-group thumbsFormGroup mb-2 width120px">
        <input class="form-control w-100 cloneText m-0 dottedInput" type="text" (blur)="valueChange($event)" [(ngModel)]="ratingDetails.options[1]"
        />
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'thumbsRating'">
  <div class="width100 thumbsRating RatingElem">
    <div class="d-flex justify-content-start align-items-center">
      <div class="form-group d-flex flex-column align-items-center thumbsFormGroup width100px mr-4 mb-2">
        <label><i class="icon icon-like-lg"></i></label>
        <input (blur)="valueChange($event)" class="form-control w-100 m-0 text-center cloneText" type="text" [(ngModel)]="ratingDetails.options[0]"
        />
      </div>
      <div class="form-group d-flex flex-column align-items-center thumbsFormGroup width100px mr-4 mb-2">
        <label><i class="icon icon-dislike-lg"></i></label>
        <input (blur)="valueChange($event)" class="form-control w-100 m-0 text-center cloneText" type="text" [(ngModel)]="ratingDetails.options[1]"
        />
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'starRating'">
  <div class="width100 starRating RatingElem">
    <div class="d-flex justify-content-start align-items-center">
      <i class="icon icon-star-lg mr-4 mb-2"></i>
      <i class="icon icon-star-lg mr-4 mb-2"></i>
      <i class="icon icon-star-lg mr-4 mb-2"></i>
      <i class="icon icon-star-lg mr-4 mb-2"></i>
      <i class="icon icon-star-lg mb-2"></i>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'smileyRating'">
  <div class="width100 smileyRating RatingElem">
    <div class="d-flex justify-content-start flex-column">
      <div class="form-group d-flex ">
        <label class="font-bold m-0">Select number of smiley's</label>
        <div class="form-radio mx-4 d-flex align-items-center">
          <input [id]="'three' + ratingDetails.qid" [name]="ratingDetails.smileyNumber" type="radio" class="form-radio-input radio SmileyRadioBtn"
            [value]="'three'" [(ngModel)]="ratingDetails.smileyNumber" (click)="onRadioChange('three')" />
          <label class="form-radio-label m-0" [for]="'three'+ ratingDetails.qid">
            3
          </label>
        </div>
        <div class="form-radio d-flex align-items-center">
          <input [id]="'four' + ratingDetails.qid" [name]="ratingDetails.smileyNumber" type="radio" class="form-radio-input radio SmileyRadioBtn"
            [value]="'four'" [(ngModel)]="ratingDetails.smileyNumber" (click)="onRadioChange('four')" />
          <label class="form-radio-label m-0" [for]="'four' + ratingDetails.qid ">
            4
          </label>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <div class="form-group d-flex flex-column align-items-center smileyFormGroup Smiley1 mr-4 mb-2">
        <label><i class="icon icon-sad-smiley-lg"></i></label>
        <input class="form-control w-100 m-0 text-center cloneText" (blur)="valueChange($event)" type="text" [(ngModel)]="ratingDetails.options[0]"
        />
      </div>
      <div class="form-group d-flex flex-column align-items-center smileyFormGroup Smiley2 mr-4 mb-2">
        <label><i class="icon icon-neutral-smiley-lg"></i></label>
        <input class="form-control w-100 m-0 text-center cloneText" (blur)="valueChange($event)" type="text" [(ngModel)]="ratingDetails.options[1]"
        />
      </div>
      <div class="form-group d-flex flex-column align-items-center smileyFormGroup Smiley3 mr-4 mb-2">
        <label><i class="icon icon-happy-smiley-lg"></i></label>
        <input class="form-control w-100 m-0 text-center cloneText" (blur)="valueChange($event)" type="text" [(ngModel)]="ratingDetails.options[2]"
        />
      </div>
      <div class="form-group d-flex flex-column align-items-center smileyFormGroup Smiley4 mr-4 mb-2" [class.active]="ratingDetails.smileyNumber === 'four'">
        <label><i class="icon icon-excite-smiley-lg" [class.disable]="ratingDetails.smileyNumber === 'three'"></i></label>
        <input class="form-control w-100 m-0 text-center cloneText" (blur)="valueChange($event)" type="text" [(ngModel)]="ratingDetails.options[3]"
          [disabled]="ratingDetails.smileyNumber === 'three'" />
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'textbox'">
  <div class="width100 RatingElem textRating">
    <div class="form-group width100 DynamicCheckboxWidget">
      <input class="form-control w-100 m-0 changeBorder" (blur)="valueChange($event)" placeholder="" type="text" [(ngModel)]="ratingDetails.options[0]"
      />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="ratingDetails.inputType == 'imageArea'">

</ng-container>