/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';

//== Bootstrap
@import './app/shared/styles/bootstrap.scss';
//== Application
@import './app/shared/styles/app.scss';

app-survey-multiple,
app-survey-single {
  position: relative;
  top: -18px;

  #config-question {
    .mobile-container
      .mobile-content
      .mobile-body.FeedbackScreen
      .FeedbackScreenBody
      .MobileChecklist.checked {
      border-color: inherit;
      &:before {
        border-color: inherit;
      }
      &:after {
        background-color: #000;
      }
    }
  }

  .form-control {
    min-width: 70px;
    height: 30px;
    margin: 0 10px 0 0;
    border-color: #ccc;
    font-size: 12px;
    background: #ffffff;
    padding: 6px 10px;
    color: #000000;
  }


  .btn.btn-primary {
    background: #ff8800;
    border-color: #ff8800;
    color: #ffffff;
    line-height: 20px;
    padding: 3px 20px;
    font-size: 12px;
    text-shadow: none;
    border-radius: 20px;
    height: 30px;
    min-width: 80px;
  }

  .survey-error .invalid-feedback.error-question {
    display: block;
  }

  .card-footer-fixed {
    position: fixed;
    bottom: 20px;
    width: 320px;
  }
}
.validation-error {
  color: red;
  display: block;
}

p.loader {
  text-align: center;

  &:after {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background: url("/assets/images/loading.gif") scroll -98px -98px no-repeat transparent;
    position: relative;
    margin: 0 auto;
  }
}

.show-right-arrow {
  display: inline-block;
  position: relative;

  .icon.backButton {
    left: auto;
    background-position: -18px -279px;
    top: 3px !important;
    right: -24px;
  }
}

.AnalyticsContent {
  .icon.backButton {
    top: 20px;
  }
}