.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100%;
}

.surveyListContent {
  width: 100%;
  height: calc(100vh - 95px);
  overflow-x: hidden;
  overflow-y: auto;
}

.border {
  border: 1px solid #cccccc;
}
