<div class="content-wrap p-0">
  <div class="referralCardContainer surveyListContent">
    <!-- New Referral Cards Comes Heres -->
    <div class="row referralRow">
      <div class="col-4 col-xl-3 mb-4">
        <div class="card grey-bg">
          <div
            class="card-body newFeedbackWidget d-flex flex-column justify-content-between align-items-start p-0"
            data-intro="<div class='border-color'><p class='font-medium mb-2 font16 pr-5'>Start here!</p>Select 'Feedback' for a Single Input (Question and Screen) and design for your App and 'Survey' for creating a survey with multiple questions.</div>"
            data-position="right"
          >
            <a
              href="javascript:void(0)"
              class="d-flex align-items-center justify-content-center p-2 mt-4 top"
              style="text-decoration: none;"
            >
              <div class="mr-2 iconWidget">
                <a routerLink="/features/survey-single">
                  <i class="icon createIcon"></i>
                </a>
              </div>
              <div class="createCardTitle">
                <a
                  routerLink="/features/survey-single"
                  style="text-decoration: none;color: black;"
                >
                  New Survery / Feedback? <br />
                  Start here.
                </a>
              </div>
            </a>
            <div class="d-flex w-100 bottom">
              <a
                routerLink="/features/survey-single"
                class="d-flex align-items-center justify-content-start newFeedbackLeftbtn"
                style="text-decoration: none;color: black;"
              >
                <div class="mr-2 text-right iconWidget">
                  <i class="icon single-survey-icon"></i>
                </div>
                <div class="titleLabel">
                  <div class="title font-medium font16">Feedback</div>
                  <div class="font11 tag">(Single Input)</div>
                </div>
              </a>
              <a
                routerLink="/features/survey-multiple"
                class="d-flex align-items-center justify-content-start newFeedbackRightbtn"
                style="text-decoration: none;color: black;"
              >
                <div class="mr-2 text-right iconWidget">
                  <i class="icon multiple-survey-icon"></i>
                </div>
                <div class="titleLabel">
                  <div class="title font-medium font16">Survey</div>
                  <div class="font11 tag">(Multiple Inputs)</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ng-container
        *ngFor="
          let survey of surveyList;
          let in = index;
          trackBy: customTrackBy
        "
      >
        <div class="col-4 col-xl-3 mb-4">
          <div class="card white-bg border">
            <div
              class="card-body d-flex justify-content-start flex-column p-3 pb-5"
            >
              <div class="d-flex align-items-start justify-content-between">
                <div class="referralInfo w-75">
                  <div class="h5 font-bold">{{ survey?.surveyName }}</div>
                  <div class="d-flex align-items-center">
                    <p class="font11 my-2 secondary-color">
                      {{ survey?.questionsCount }} Questions
                    </p>
                    <span
                      *ngIf="survey?.draft"
                      class="status drafted primary-bg white-text ml-2"
                      >Drafted</span
                    >
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    href="javascript:void(0);"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="icon moreIcon"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      href="javascript:void(0)"
                      (click)="editSurvey(survey)"
                      class="dropdown-item"
                      ><i class="icon icon-edit"></i> Edit</a
                    >
                    <a
                      href="javascript:void(0)"
                      (click)="duplicateSurvey(survey)"
                      class="dropdown-item"
                      ><i class="icon icon-duplicate"></i> Duplicate</a
                    >
                    <a
                      href="javascript:void(0)"
                      (click)="deleteSurvey(survey)"
                      class="dropdown-item"
                      ><i class="icon icon-delete"></i> Delete</a
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 flex-wrap">
                <div class="d-flex w-100">
                  <div class="w-50 mb-2">
                    <div class="font-bold font12">
                      {{ survey?.startDate | date: mediumDate }}
                    </div>
                    <div class="secondary-color font10">Start</div>
                  </div>
                  <div class="w-50 mb-2">
                    <div class="font-bold font12">
                      {{ survey?.endDate | date: mediumDate }}
                    </div>
                    <div class="secondary-color font10">End</div>
                  </div>
                </div>
                <div class="w-50 d-flex align-items-center">
                  <div class="mr-2">
                    <i class="icon response-icon-gray"></i>
                  </div>
                  <div class="d-flex flex-column">
                    <span class="blue-text font20 font-bold viewCount">{{
                      survey?.responseCount
                    }}</span>
                    <span class="font11">Responses</span>
                  </div>
                </div>
                <div class="w-50 d-flex align-items-center">
                  <div class="mr-2"><i class="icon eye-icon-gray"></i></div>
                  <div class="d-flex flex-column">
                    <span class="blue-text font20 font-bold viewCount">{{
                      survey?.viewCount
                    }}</span>
                    <span class="font11">Views</span>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="font11 w-100 position-absolute bottom0 left0 p-2 text-center SeeResultLink"
              >See Result
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
