.icon.backButton {
  position: absolute;
  top: 35px;
  left: 20px;
  background-position: -414px -279px;
}
.icon.backButton:hover {
  background-position: -414px -261px;
}

.AdvisoryContainer {
  overflow: hidden;
}

.AdvisoryContent img {
  top: -35px;
  right: -35px;
  z-index: 0;
}

.font40 {
  font-size: 40px !important;
}

.width60 {
  width: 60% !important;
}

.height100 {
  height: 100% !important;
}

.justify-content-center {
  // -ms-flex-pack: center !important;
  justify-content: center !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
.flex-column {
  // -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.icon-fb-black {
  background-position: -171px -653px;
  vertical-align: sub;
}
