<!-- <div
  class="tab-pane fade"
  id="advisory"
  role="tabpanel"
  aria-labelledby="advisory-tab"
> -->
<div class="height100 w-100 position-relative p-3 pb-4">
  <div
    class="ContentContainer AdvisoryContainer leftContainer position-relative white-bg d-flex height100 border-radius-4 p-3"
  >
    <div class="width50 d-flex align-items-center justify-content-center">
      <img class="width100" src="assets/images/advisory_bg.png" />
    </div>
    <div
      class="AdvisoryContent width50 height100 d-flex flex-column justify-content-between pl-5"
    >
      <div
        class="formElement width60 height100 d-flex flex-column justify-content-center"
      >
        <form class="form-inline">
          <div class="form-group" style="margin-top: 20%;">
            <div class="font40 black-text mb-2">
              <span class="brand-color font-bold">Coming</span> Soon
            </div>
            <input
              type="email"
              class="form-control height40px m-0 font16"
              placeholder="Email Address"
              aria-label="Email Address"
              name="email"
              [(ngModel)]="email"
            />
            <button
              class="btn btn-primary height40px border-radius-right-5 font16 px-3"
              type="button"
              (click)="requestInvite(email)"
            >
              Request Invite
            </button>
          </div>
        </form>
      </div>
      <div class="modal fade" id="sucessModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h5>
                Thank you for your interest in our feature. It is under
                development and we will keep you informed as soon as it is
                available.
              </h5>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomSocial pb-4">
        <i class="icon icon-fb-black mr-2"></i>
        <i class="icon icon-tw-black mr-2"></i>
        <i class="icon icon-ln-black mr-2"></i>
      </div>
      <img
        class="backdropImage position-absolute"
        src="assets/images/advisory_top.png"
      />
    </div>
  </div>
</div>
<!-- </div> -->
