span.toolTip {
	& + .tooltipTemplates {
		position: absolute;
		left: -40px;
		bottom: 15px;
		background: rgba(0,0,0, 0.75);
		border-radius: 5px;
		padding: 10px;

		* {
			font-size: 12px;
			color: white;
		}

		&:after {
			content: "";
			display: block;
			border-top: 6px solid rgba(0, 0, 0, 0.75);
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			position: absolute;
			bottom: -5px;
			left: 50%;
		}
	}

	&:hover + .tooltipTemplates {
		display: block;
	}
}

.leftInfoItem {
	.gold-text, .silver-text, .poor-text, .platinum-text {
		text-transform: capitalize;
	}

	.silver-text {
		color: inherit;

		.icon-reward-md {
			background-position: -161px -341px;
		}
	}
	.platinum-text {
		color: #e5e4e2;
		text-shadow: 1px 1px #666;

		.icon-reward-md {
			background-position: -161px -361px;
		}
	}

	.poor-text {
		color: brown;
		.icon-reward-md {
			background-position: -161px -401px;
		}
	}
}

.leftInfoGraph {
	display: flex;
	flex-direction: column;

	.leftInfoGraphTitle {
		text-align: center;
		font-size: 18px !important;
		font-weight: bold;
	}
}

.bronze-text{
  color:#cd7f32;
  color: #973935 !important;
  .icon-reward-md{
    background-position: -161px -401px;
  }
}
.show-right-arrow{
  position:relative;
  display: inline-block;
    .icon.backButton {
      left: auto;
      background-position: -18px -279px;
      top: 3px;
      right: -24px;
  }
  &.st2 .icon.backButton{

    top: 4px;
    right: -24px;
  }
}