<div class="cardContent w-100 position-relative">
  <div class="IndexContent default w-100 px-2 justify-content-between active">
    <div class="ContentContainer leftContainer white-bg d-flex flex-column" style="overflow: visible;">
      <div class="leftInfoContent d-flex">
        <div class="leftInfoItem mt-4 position-relative">
          <span class="d-block dark-text font12">Users in the last 30 mins</span>
          <span *ngIf="realTimeEngagementData" class="blue-text font18 d-flex align-items-center font-bold mt-2">
            <i class="icon icon-profile-blue-md mr-1"></i>{{realTimeEngagementData.totalUsersInLast30Minutes}}
          </span>
        </div>
        <div class="leftInfoItem mt-4 position-relative">
          <span class="d-block dark-text font12">Score Maturity</span>
          <span *ngIf="engScorePercentileData" class="font18 d-flex align-items-center font-medium mt-2" [ngClass]="{
            'gold-text': engScorePercentileData.scoreMaturity == 'gold',
            'gold-text': engScorePercentileData.scoreMaturity == 'Gold',
           'silver-text':  engScorePercentileData.scoreMaturity == 'silver',
           'silver-text':  engScorePercentileData.scoreMaturity == 'Silver',
           'bronze-text':  engScorePercentileData.scoreMaturity == 'Bronze',
            'poor-text':  engScorePercentileData.scoreMaturity == 'poor',
            'poor-text':  engScorePercentileData.scoreMaturity == 'Poor'
          }">{{engScorePercentileData.scoreMaturity}}
            <i class="icon icon-reward-md ml-1"></i>
            <span class="icon info toolTip ml-1 tooltipstered" style="background-position: -74px -55px; width: 16px; height: 16px;" data-tooltip-content="#WithdrawalMenu"></span>
            <div class="tooltipTemplates tooltipster-base tooltipster-sidetip tooltipster-borderless tooltipster-top tooltipster-fade tooltipster-show" id="tooltipster-495791" style="z-index: 9999999;height: 74px; width: 281.25px; animation-duration: 350ms; transition-duration: 350ms;"><div class="tooltipster-box"><div class="tooltipster-content"><div class="toolTipInformation" id="WithdrawalMenu">
                                                        Data more than 30 Days +<br>Data available for more than 80% +<br>Data not available on ALL specific averages
                                                    </div></div></div><div class="tooltipster-arrow" style="left: 141px;"><div class="tooltipster-arrow-uncropped"><div class="tooltipster-arrow-border"></div><div class="tooltipster-arrow-background"></div></div></div></div>
          </span>
        </div>
        <div class="leftInfoItem mt-3 position-relative">
          <span class="d-inline-block dark-text font12 show-right-arrow">Engagement Score Percentile
            <span routerLink="/analytics/engagement/relative-performance" style="position: relative;display: inline-block;width: 18px;height: 18px;">
              <i style="top: 5px;left: 0;right: auto;" class="icon icon-back backButton FrontModalClose"></i>
            </span>
          </span>
          <span class="blue-text font18 font-medium mt-1 FrontModal" data-title="RelativePerformance">
            <div style="cursor: pointer;" *ngIf="engScorePercentileData" class="ModalLink mt-2" routerLink="/analytics/engagement/relative-performance">
              {{engScorePercentileData.scorePercentile | number:'1.1-2'}}<sup class="sup font12">th</sup>
              <i *ngFor="let i of ' '.repeat(percentileItems).split('')" class="icon icon-profile-blue-sm"></i>
              <i *ngFor="let i of ' '.repeat(10 - percentileItems).split('')" class="icon icon-profile-gray-sm"></i>
            </div>
          </span>
        </div>
      </div>
      <div class="leftInfoGraph height100 p-3 d-flex align-items-center justify-content-center" style="overflow: hidden;">
        <app-score-pie-chart *ngIf="engScorePercentileData" [data]="engScorePercentileData"></app-score-pie-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!engScorePercentileData">Please wait loading data</p>
        <h4 class="leftInfoGraphTitle"><span *ngIf="engScorePercentileData" style="font-size: 26px;color: purple;">{{engScorePercentileData.score}}</span><br>SmartEngagementScore<sup>TM</sup></h4>
      </div>
    </div>
    <div class="ContentContainer rightContainer d-flex flex-column ml-3">
      <div class="CardItem top white-bg mb-3 p-3 FrontModal" data-title="EngagementScore">
        <p class="font16 font-medium mb-1 show-right-arrow">Engagement Score Trend  <a routerLink="/analytics/engagement/indices-trend"><i class="icon icon-back backButton FrontModalClose"></i></a></p>
        <app-score-trend-chart style="cursor: pointer;" routerLink="/analytics/engagement/indices-trend" *ngIf="engScoreTrendsData" [data]="engScoreTrendsData"></app-score-trend-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!engScoreTrendsData">Please wait loading data</p>
      </div>
      <div class="CardItem bottom white-bg p-3 FrontModal" data-title="RealTimeEngagement">
        <div class="d-flex justify-content-between">
          <p class="font16 font-medium mb-1 show-right-arrow st2">Real Time Engagement <a routerLink="/analytics/engagement/realtime-engagement"><i class="icon icon-back backButton FrontModalClose"></i></a></p>
          <div class="form-group selectbox width100px mb-0 select-sm">
            <p class="m-0 font10 darker-grey-text">Users logged in Last 30 mins</p>
          </div>
        </div>
        <app-realtime-chart style="cursor: pointer;" routerLink="/analytics/engagement/realtime-engagement" *ngIf="realTimeEngagementData" [data]="realTimeEngagementData"></app-realtime-chart>
        <p class="font14 blue-text font-medium loader" *ngIf="!realTimeEngagementData">Please wait loading data</p>
      </div>
    </div>
  </div>
</div>
