<form class="d-flex flex-column" [formGroup]="form">
  <br />
  <div class="form-group width100 pr-2">
    <label class="font-bold black-text">Current Password</label>
    <div class="d-flex align-items-center">
      <input
        class="form-control width200px"
        type="password"
        placeholder="Enter your current password"
        formControlName="curpwd"
        required
      />
    </div>
  </div>
  <!-- <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword> -->
  <div class="form-group width100 pr-2">
    <label class="font-bold black-text">New Password</label>
    <div class="d-flex align-items-center">
      <input
        class="form-control width200px"
        type="password"
        placeholder="Enter New Password"
        formControlName="newpwd"
        required
      />
    </div>
  </div>
  <div class="form-group width100 pr-2">
    <label class="font-bold black-text">Confirm Password</label>
    <div class="d-flex align-items-center">
      <input
        class="form-control width200px"
        type="password"
        placeholder="Enter password again"
        formControlName="rpwd"
        required
      />
    </div>
  </div>
  <div *ngIf="errorMessage">
    <span class="validation-error">{{ errorMessage }}</span>
  </div>
  <div class="form-group d-flex align-items-center width100 py-3">
    <button type="button" class="btn btn-link mr-3 p-0">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="submit()">
      Save
    </button>
  </div>
</form>
