<section class="main-container">
  <div
    class="modal fade"
    id="Verify"
    tabindex="-1"
    role="dialog"
    aria-labelledby="Verify"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <form class="form-horizontal" [formGroup]="form">
          <div
            class="modal-header border-0 p-1 d-flex justify-content-center"
            style="background-color: lightgray;"
          >
            <div class="modal-title px-5 py-4">
              <img src="./assets/images/SK_Logo.svg" />
            </div>
          </div>
          <div class="modal-body px-4">
            <div class="px-2">
              <p class="font12 darker-grey-text">Set Your Password</p>
              <form class="form-horizontal" [formGroup]="form">
                <div class="form-group">
                  <div class="col-sm-12">
                    <label for="password" class="font14 darker-grey-text"
                      >Password<span class="brand-color font18">*</span></label
                    >
                    <input
                      type="password"
                      id="password"
                      class="form-control height40px font16 font-medium black-text"
                      formControlName="password"
                      placeholder="Enter your Password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mb-4">
                  <div class="col-sm-12">
                    <label for="rPassword" class="font14 darker-grey-text"
                      >Re-enter Password<span class="brand-color font18"
                        >*</span
                      >
                    </label>
                    <input
                      type="password"
                      id="rpwd"
                      class="form-control height40px font16 font-medium black-text"
                      formControlName="rpwd"
                      placeholder="Re-enter your Password"
                      required
                    />
                  </div>
                </div>
                <span class="validation-error">{{ errorMessage }}</span>
              </form>
            </div>
          </div>
          <div class="modal-footer border-0 px-4 pt-0 pb-3">
            <div class="px-2 pb-3">
              <button
                type="button"
                class="btn btn-outline-secondary mr-3 cancel"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!form.valid"
                (click)="submit()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Alert For smaller screens -->
<div
  class="betterScreenViewWidget justify-content-center align-items-center text-center"
>
  <div
    class="betterScreenView d-flex flex-column justify-content-center align-items-center text-center"
  >
    <img src="assets/images/ErrorScreen.png" />
    <span class="ErrorScreenTitle">Error !</span>
    <span class="ErrorScreenBody"
      >This page is designed for <br />
      laptop and web only</span
    >
  </div>
</div>
